#bigfooter {
  margin: 15px 0 0;
  padding-bottom: 25px;
  background-color: $back_color;
  border-top: unquote("3px") solid $border_color;
  nav, section {
    display: inline-block;
    padding-top: 5px;
    height: 100%;
    vertical-align: top;
    h1 {
      font-size: 2.5em; } }
  #about_us {
    margin-right: 0; } }
