#container {
  & > h1 {
    text-align: center;
    font-family: $header_font;
    font-size: 3.5em;
    font-weight: bolder;
    line-height: 80px; }
  .toolbox {
    ul, li {
      display: inline; } } }
