@import "blueprint/liquid";
@import "layout/site";
@import "layout/sidebar";
@import "layout/container";
@import "layout/bigfooter";

#site {
  @include column(24); }

#sidebar {
  @include column(5);
  width: 207px; }

#container {
  padding-top: 70px;
  & > * {
    margin: 0 50px 0 257px; } }

#edition {
  @include column(15); }

#chat {
  @include column(8); }

#bigfooter {
  @include column(24);
  nav, section {
    @include column(6); } }
