#sidebar
  padding: 10px
  img.access
    float: right
    margin: 5px

#branding
  h1
    display: block
    width: 201px
    height: 186px
    a
      display: block
      width: 100%
      height: 100%
      +hide-text
