#sidebar {
  padding: 10px;
  img.access {
    float: right;
    margin: 5px; }
  .box {
    margin: 15px 0;
    padding: 10px;
    background-color: $back_color;
    border: unquote("3px") solid $border_color;
    @include round-corners(25px); }
  h1 {
    font-size: 2em;
    text-align: center; }
  input {
    max-width: 180px; } }

#branding {
  h1 {
    display: block;
    width: 201px;
    height: 186px;
    border: unquote("3px") solid $border_color;
    @include round-corners(25px);
    a {
      display: block;
      width: 100%;
      height: 100%;
      @include hide-text; } } }
