= article_for preview do |c|
  - c.title = "#{link_to "Lien", "/liens", class: "topic"} #{link_to spellcheck(preview.title), "#"}".html_safe
  - c.image = avatar_img(preview.node.user)
  - c.body = "#{link_to preview.link}".html_safe
