%main#contents(role="main")
  =h1 "Partager un lien"

  %p
    Des <a href="/regles_de_moderation">règles de modération</a> sont applicables aux liens (et au reste du site).

  = render "preview", preview: @bookmark if @preview_mode

  = form_for @bookmark do |form|
    = render form
