%main#contents(role="main")
  =h1 "Partager un lien"

  %p
    La rubrique « liens » est destinée à recevoir les euh… liens vers des contenus en rapport avec la ligne éditoriale de LinuxFr.org.
    En particulier, et de manière non exhaustive, les articles concernant Linux, les logiciels libres, le matériel libre et les arts libres sont les bienvenus.
    Vous pouvez aussi partager ici des liens vers vos propres contenus hébergés ailleurs.

  %p
    Les <a href="/regles_de_moderation">règles de modération</a> sont applicables aux liens comme au reste du site.

  = render "preview", preview: @bookmark if @preview_mode and @bookmark.valid?

  = form_for @bookmark do |form|
    = render form
