#polls_edition
  %h1 Éditions
  %p
    = link_to "Modifier", edit_moderation_poll_path(:id => @poll)
  %h1 Modération
  = button_to "Publier", accept_moderation_poll_path(@poll), :data => { :confirm => "Publier le sondage ?" }, :class => "ok_button"
  = button_to "Refuser", refuse_moderation_poll_path(@poll), :data => { :confirm => "Refuser le sondage ?" }, :class => "delete_button"
