=h1 "Éditer un sondage"

= button_to "Publier", accept_moderation_poll_path(@poll), :confirm => "Publier le sondage ?"
= button_to "Refuser", refuse_moderation_poll_path(@poll), :confirm => "Refuser le sondage ?"

= form_for [:moderation, setup_poll(@poll)] do |form|
  = render form
