#interviews_box
  %h1 Entretiens
  %p
    - if @interviews.empty?
      Aucune proposition
    - else
      - @interviews.each do |interview|
        = link_to(h interview.title, [:moderation, interview])

