%article
  %h1 Éditions
  %p
    = link_to "Éditer", edit_moderation_interview_path(:id => @interview.id)
  %h1 Modération
  - form_tag accept_moderation_interview_path(@interview) do
    = submit_tag "Publier"
  - form_tag refuse_moderation_interview_path(@interview) do
    = submit_tag "Refuser"
