%h2
  Vos dépêches dans l’espace de rédaction
- if @drafts.empty?
  Vous n’êtes à l’origine d’aucune dépêche dans l’espace de rédaction.
- else
  %table#my_drafts
    %tr
      %th.left Section
      %th.left Sujet
      %th.left Date de création
    - @drafts.each do |news|
      %tr
        %td= news.section.title
        %td= link_to news.title, [:redaction, news]
        %td= l news.created_at
