%h2
  Vos dépêches en attente de modération
- if @news.empty?
  Vous n'avez aucune dépêche en cours de modération
- else
  %table#my_news
    %tr
      %th Section
      %th Sujet
      %th Date de soumission
    - @news.each do |news|
      %tr
        %td= news.section.title
        %td= news.title
        %td= l news.node.created_at
