#contents
  %h1 Se connecter
  %p
    %strong Attention :
    l'identifiant et le mot de passe sont <strong>sensibles à la casse</strong>. Respectez les majuscules et minuscules pour ces 2 champs.
  = render "sessions/new", :id_suffix => ""
  = render "devise/shared/links"
