#forum_box.box
  %h1 Forums
  %ul
    - @forums.group_by(&:first_level).each do |title,forums|
      %li.forum
        %span
          = title
        %ul
          - forums.each do |forum|
            %li
              = link_to forum.second_level, forum
