- content_for :column do
  = render 'box'

=h1 "Les forums"
- feed "Flux Atom des forums"
- new_content_link = link_to("Poster dans les forums", "/posts/nouveau") if current_account
- filter_pagination_params ['order', 'page']
= paginated_nodes @nodes, new_content_link
