=h1 "Feuilles de style"

.instructions_new_stylesheet
  %h2 Instructions pour ajouter une feuille de style alternative
  %ol
    %li Ajouter le fichier <code>&lt;nom_de_la_feuille&gt;.css</code> dans le répertoire <code>public/stylesheets/contrib/</code>
    %li Prendre une capture d'écran et l'ajouter dans le même répertoire sous le nom <code>&lt;nom_de_la_feuille&gt;.png</code>
    %li Commiter le tout avec git&nbsp;: <code>git add public/stylesheets &amp;&amp; git ci -m "New stylesheet: &lt;nom_de_la_feuille&gt;"</code>

.capture_new_stylesheet
  %h2 Prendre une capture d'écran d'une feuille de style
  %p.note
    %strong Important :
    Image Magick et <a href="https://github.com/antialize/wkhtmltopdf/">wkhtml2image</a> doivent être installés sur le serveur&nbsp;!
  %p.note
    %strong Important :
    Cela ne fonctionne en local qu'à condition de lancer un 2ème thin avec <code>LD_LIBRARY_PATH=$HOME/lib rails s thin -p 3001</code>
    = form_tag admin_stylesheet_path do
      %label(for="url") URL de la feuille de style
      %input(type="url" id="url" name="url")
      %input(type="submit" value="OK")
