=h1 "Feuilles de style"

.instructions_new_stylesheet
  %h2 Instructions pour ajouter une feuille de style alternative
  %ol
    %li ajouter le fichier <code>&lt;nom_de_la_feuille&gt;.css</code> dans le répertoire <code>app/assets/stylesheets/contrib/</code> ;
    %li prendre une capture d’écran et l’enregistrer sous <code>&lt;public/stylesheets/contrib/nom_de_la_feuille&gt;.png</code> ;
    %li faire un commit du tout avec Git : <code>git add app/assets/stylesheets public/stylesheets &amp;&amp; git ci -m "New stylesheet: &lt;nom_de_la_feuille&gt;"</code>.

.capture_new_stylesheet
  %h2 Prendre une capture d’écran d’une feuille de style
  %p.note
    %strong Important :
    <a href="https://imagemagick.org/">ImageMagick</a> et <a href="https://phantomjs.org/">PhantomJS</a> doivent être installés sur le serveur !
  %p.note
    %strong Important :
    Cela ne fonctionne en local qu’à condition de lancer un deuxième « thin » avec <code>./script/rails s thin -p 3001 -P tmp/pids/other.pid</code>.
    = form_tag admin_stylesheet_path do
      %label(for="url") Adresse de la feuille de style
      %input(type="url" id="url" name="url")
      %input(type="submit" value="OK")
