/.git
/.gitignore
/.bundle
/.sass-cache
/assets_manifest.json
/config/database.yml
/config/secrets.yml
/deployment/
!/deployment/linuxfr.org/database.yml
/docker-compose.*.yaml
/log
/node_modules
/public/assets
/public/board.xml
/public/images/historique
/public/images/load
/public/pages
/public/sitemap*
/public/system
/public/tmp
/REVISION
/tmp
/uploads
/vendor/ruby
/vendor/bundle
/coverage
