/.bundle
/.sass-cache
/assets_manifest.json
/config/database.yml
/config/secrets.yml
/log
/node_modules
/public/assets
/public/board.xml
/public/images/historique
/public/images/load
/public/pages
/public/sitemap*
/public/system
/public/tmp
/tmp
/uploads
/REVISION
/vendor/ruby
/vendor/bundle
/.env
/docker-compose.*.yaml
.rubocop.yml
Guardfile
coverage
