[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/validates_url_format_of"]
	path = vendor/plugins/validates_url_format_of
	url = git://github.com/henrik/validates_url_format_of.git
[submodule "vendor/plugins/rails_xss"]
	path = vendor/plugins/rails_xss
	url = git://github.com/NZKoz/rails_xss.git
