.bundle
.sass-cache
config/database.yml
config/newrelic.yml
config/*.sphinx.conf
db/*.sqlite3
db/sphinx/**/*
log/*.log
public/sitemap*
public/stylesheets/application.css
public/stylesheets/print.css
public/uploads/**/*
tmp/*
tmp/**/*
webrat.log
LATER
TODO
