.bundle
.rvmrc
.sass-cache
config/database.yml
config/secret.yml
config/*.sphinx.conf
db/*.sqlite3
db/sphinx
log
public/assets
public/avatars
public/board.xml
public/images/historique
public/images/load
public/pages
public/sitemap*
public/system
tmp
webrat.log
REVISION
TODO
