%h2 Applications OAuth
%p
  Si vous êtes un développeur d'applications web, vous pouvez
  = link_to "enregistrer votre application", api_applications_path
  pour bénéficier de l'API OAuth2 de LinuxFr.org.

%p
  Vous pouvez révoquer les autorisations données aux applications avant
  leur expiration.
