%h2 Applications OAuth
%p
  Si vous êtes un développeur d'applications web, vous pouvez
  = link_to "enregistrer votre application", auth_client_applications_path
  pour bénéficier de l'API d'authentification OAuth2.
