%h2 Fermer son compte
%p
  Vous souhaitez fermer votre compte ?
  =button_to "Fermer mon compte", registration_path(:account), :confirm => "Êtes-vous sûr de vouloir fermer votre compte ?", :method => :delete
