%h2 Fermer son compte
%p
  Vous souhaitez fermer votre compte ?
  =button_to "Fermer mon compte", registration_path(:account), data: { confirm: "Confirmez‑vous vouloir fermer votre compte ?" }, method: :delete, class: "delete_button"
