#contents
  =h1 "Modifier son compte utilisateur"
  %p
    Ce formulaire permet de changer vos parametres utilisateurs. Votre login ne peut pas être modifié.

  = render 'form'
  = render 'avatar'
  = render 'preferences'
  = render 'close'
