%li.comment{:id => "comment-#{thread.comment.id}"}
  ~ render thread.comment
  - if thread.children.not.empty?
    %ul
      - thread.children.each do |thread|
        ~ render 'comments/thread', :object => thread
