%li.comment{comment_attr(thread.comment)}
  = render thread.comment
  - if thread.children.not.empty?
    %ul
      - thread.children.each do |thread|
        = render 'comments/thread', :thread => thread
