%li.comment{comment_attr(thread.comment)}
  = render 'comments/comment', comment: thread.comment, hide_content_title: 1
  - if thread.children.any?
    %ul
      - thread.children.each do |thread|
        = render 'comments/thread', thread: thread
