=h2 "&Eacute;crire un commentaire"

= render :partial => "preview", :object => @comment if @preview_mode

- form_for [@comment.node, @comment] do |form|
  = form.hidden_field :parent_id
  = render form

= render '/shared/wiki_help'
