%p
  = link_to "Retourner au contenu associé", url_for_content(@comment.content)

- if current_user
  - if current_user.can_update?(@comment)
    %p
      = link_to "Modifier ce commentaire", edit_node_comment_path(@comment.node, @comment)
  - if current_user.can_destroy?(@comment)
    %p
      = button_to "Supprimer ce commentaire", [@comment.node, @comment], :method => :delete

%ul
  %li.comment{comment_attr(@comment)}
    = render @comment
