/* line 1, ../../../app/stylesheets/pygments/colorful.scss */
.hll {
  background-color: #ffffcc;
}

/* line 3, ../../../app/stylesheets/pygments/colorful.scss */
.c {
  color: #808080;
}

/* line 5, ../../../app/stylesheets/pygments/colorful.scss */
.err {
  color: #F00000;
  background-color: #F0A0A0;
}

/* line 8, ../../../app/stylesheets/pygments/colorful.scss */
.k {
  color: #008000;
  font-weight: bold;
}

/* line 11, ../../../app/stylesheets/pygments/colorful.scss */
.o {
  color: #303030;
}

/* line 13, ../../../app/stylesheets/pygments/colorful.scss */
.cm {
  color: #808080;
}

/* line 15, ../../../app/stylesheets/pygments/colorful.scss */
.cp {
  color: #507090;
}

/* line 17, ../../../app/stylesheets/pygments/colorful.scss */
.c1 {
  color: #808080;
}

/* line 19, ../../../app/stylesheets/pygments/colorful.scss */
.cs {
  color: #cc0000;
  font-weight: bold;
}

/* line 22, ../../../app/stylesheets/pygments/colorful.scss */
.gd {
  color: #A00000;
}

/* line 24, ../../../app/stylesheets/pygments/colorful.scss */
.ge {
  font-style: italic;
}

/* line 26, ../../../app/stylesheets/pygments/colorful.scss */
.gr {
  color: #FF0000;
}

/* line 28, ../../../app/stylesheets/pygments/colorful.scss */
.gh {
  color: #000080;
  font-weight: bold;
}

/* line 31, ../../../app/stylesheets/pygments/colorful.scss */
.gi {
  color: #00A000;
}

/* line 33, ../../../app/stylesheets/pygments/colorful.scss */
.go {
  color: #808080;
}

/* line 35, ../../../app/stylesheets/pygments/colorful.scss */
.gp {
  color: #c65d09;
  font-weight: bold;
}

/* line 38, ../../../app/stylesheets/pygments/colorful.scss */
.gs {
  font-weight: bold;
}

/* line 40, ../../../app/stylesheets/pygments/colorful.scss */
.gu {
  color: #800080;
  font-weight: bold;
}

/* line 43, ../../../app/stylesheets/pygments/colorful.scss */
.gt {
  color: #0040D0;
}

/* line 45, ../../../app/stylesheets/pygments/colorful.scss */
.kc, .kd, .kn {
  color: #008000;
  font-weight: bold;
}

/* line 48, ../../../app/stylesheets/pygments/colorful.scss */
.kp {
  color: #003080;
  font-weight: bold;
}

/* line 51, ../../../app/stylesheets/pygments/colorful.scss */
.kr {
  color: #008000;
  font-weight: bold;
}

/* line 54, ../../../app/stylesheets/pygments/colorful.scss */
.kt {
  color: #303090;
  font-weight: bold;
}

/* line 57, ../../../app/stylesheets/pygments/colorful.scss */
.m {
  color: #6000E0;
  font-weight: bold;
}

/* line 60, ../../../app/stylesheets/pygments/colorful.scss */
.s {
  background-color: #fff0f0;
}

/* line 62, ../../../app/stylesheets/pygments/colorful.scss */
.na {
  color: #0000C0;
}

/* line 64, ../../../app/stylesheets/pygments/colorful.scss */
.nb {
  color: #007020;
}

/* line 66, ../../../app/stylesheets/pygments/colorful.scss */
.nc {
  color: #B00060;
  font-weight: bold;
}

/* line 69, ../../../app/stylesheets/pygments/colorful.scss */
.no {
  color: #003060;
  font-weight: bold;
}

/* line 72, ../../../app/stylesheets/pygments/colorful.scss */
.nd {
  color: #505050;
  font-weight: bold;
}

/* line 75, ../../../app/stylesheets/pygments/colorful.scss */
.ni {
  color: #800000;
  font-weight: bold;
}

/* line 78, ../../../app/stylesheets/pygments/colorful.scss */
.ne {
  color: #F00000;
  font-weight: bold;
}

/* line 81, ../../../app/stylesheets/pygments/colorful.scss */
.nf {
  color: #0060B0;
  font-weight: bold;
}

/* line 84, ../../../app/stylesheets/pygments/colorful.scss */
.nl {
  color: #907000;
  font-weight: bold;
}

/* line 87, ../../../app/stylesheets/pygments/colorful.scss */
.nn {
  color: #0e84b5;
  font-weight: bold;
}

/* line 90, ../../../app/stylesheets/pygments/colorful.scss */
.nt {
  color: #007000;
}

/* line 92, ../../../app/stylesheets/pygments/colorful.scss */
.nv {
  color: #906030;
}

/* line 94, ../../../app/stylesheets/pygments/colorful.scss */
.ow {
  color: #000000;
  font-weight: bold;
}

/* line 97, ../../../app/stylesheets/pygments/colorful.scss */
.w {
  color: #bbbbbb;
}

/* line 99, ../../../app/stylesheets/pygments/colorful.scss */
.mf {
  color: #6000E0;
  font-weight: bold;
}

/* line 102, ../../../app/stylesheets/pygments/colorful.scss */
.mh {
  color: #005080;
  font-weight: bold;
}

/* line 105, ../../../app/stylesheets/pygments/colorful.scss */
.mi {
  color: #0000D0;
  font-weight: bold;
}

/* line 108, ../../../app/stylesheets/pygments/colorful.scss */
.mo {
  color: #4000E0;
  font-weight: bold;
}

/* line 111, ../../../app/stylesheets/pygments/colorful.scss */
.sb {
  background-color: #fff0f0;
}

/* line 113, ../../../app/stylesheets/pygments/colorful.scss */
.sc {
  color: #0040D0;
}

/* line 115, ../../../app/stylesheets/pygments/colorful.scss */
.sd {
  color: #D04020;
}

/* line 117, ../../../app/stylesheets/pygments/colorful.scss */
.s2 {
  background-color: #fff0f0;
}

/* line 119, ../../../app/stylesheets/pygments/colorful.scss */
.se {
  color: #606060;
  font-weight: bold;
  background-color: #fff0f0;
}

/* line 123, ../../../app/stylesheets/pygments/colorful.scss */
.sh {
  background-color: #fff0f0;
}

/* line 125, ../../../app/stylesheets/pygments/colorful.scss */
.si {
  background-color: #e0e0e0;
}

/* line 127, ../../../app/stylesheets/pygments/colorful.scss */
.sx {
  color: #D02000;
  background-color: #fff0f0;
}

/* line 130, ../../../app/stylesheets/pygments/colorful.scss */
.sr {
  color: #000000;
  background-color: #fff0ff;
}

/* line 133, ../../../app/stylesheets/pygments/colorful.scss */
.s1 {
  background-color: #fff0f0;
}

/* line 135, ../../../app/stylesheets/pygments/colorful.scss */
.ss {
  color: #A06000;
}

/* line 137, ../../../app/stylesheets/pygments/colorful.scss */
.bp {
  color: #007020;
}

/* line 139, ../../../app/stylesheets/pygments/colorful.scss */
.vc {
  color: #306090;
}

/* line 141, ../../../app/stylesheets/pygments/colorful.scss */
.vg {
  color: #d07000;
  font-weight: bold;
}

/* line 144, ../../../app/stylesheets/pygments/colorful.scss */
.vi {
  color: #3030B0;
}

/* line 146, ../../../app/stylesheets/pygments/colorful.scss */
.il {
  color: #0000D0;
  font-weight: bold;
}
