.notice
  %p
    %strong Attention :
    il faut éviter les contenus inclus en HTTP dans les bannières !
  %p
    En effet, les bannières sont également affichées en HTTPS et les
    navigateurs avertissent l'utilisateur du mélange entre HTTP et HTTPS sur
    une même page en changeant le cadenas à côté de l'URL en un point
    d'exclamation. Il vaut donc mieux remplacer ces URL par leurs équivalents
    en //example.com, ou via //img.linuxfr.org.
