- if current_user
  - if current_user.can_tag?(node.content)
    = link_to "Tagger", new_node_tag_path(:node_id => node.id), :class => 'action'
  - if current_user.can_vote?(node.content)
    %div.vote
      Ce contenu est-il #{button_to "pertinent", node_vote_path(:action => 'for', :id => node.id), :remote => true}
      ou #{button_to "inutile", node_vote_path(:action => 'against', :id => node.id), :remote => :true} ?
