- if node.can_be_tagged_by?(current_user)
  = link_to "Tagger", node_new_tag_path(:id => node.id), :class => 'action'
- if node.content.votable_by?(current_user)
  Ce contenu est-il #{button_to "pertinent", vote_path(:action => 'for', :node_id => node.id)}
  ou #{button_to "inutile", vote_path(:action => 'against', :node_id => node.id)} ?
