#comments
  - feed "Flux Atom des commentaires #{node.content.title}", node_comments_path(:node_id => node.id, :format => :atom)
  %p
    = link_to "Envoyer un commentaire", new_node_comment_path(node)
  %p
    %strong Note :
    les commentaires appartiennent à ceux qui les ont postés. Nous n'en sommes pas responsables.
  - unless node.threads.empty?
    %ul.threads
      - node.threads.each do |thread|
        = render 'comments/thread', :object => thread
