.comments
  %p
    = link_to "Envoyer un commentaire", new_node_comment_url(node)
  %p
    %b Note
    \: les commentaires appartiennent à ceux qui les ont postés. Nous n'en sommes pas responsables.
  %ul
    = render node.comments.roots
