=h1 "Recherche"
- if @results.empty?
  Pas de résultats.
- else
  = render "#{@facet}_facet" if @facets
  %div
    %h2 Résultats
    - @results.each do |result|
      = render result
    - will_paginate @results
