#contents
  =h1 "Recherche"
  - if @contents.empty?
    Pas de résultats.
  - else
    .results
      %h2 Résultats
      - @contents.each do |result|
        = render result
      - paginate @contents
