= article_for preview do |c|
  - c.title = link_to("Proposition d'entretien : #{preview.title}", preview)
  - c.image = image_tag('Entretien.png', :alt => "Proposition d'entretien")
  - c.body  = sanitize(spellify preview.body)
