- content_for :column do
  #readings_box.box
    %h1 Mes lectures
    = button_to "Tout oublier", readings_path, :method => :delete, :class => "delete_button"

=h1 "Les derniers contenus que j'ai lus"
= paginated_section @nodes do
  %main#contents(role="main")
    = render @nodes.map(&:content)
