body {
  font-color: $font_color;
  font-family: $text_font; }

ins.diffins, ins.diffmod {
  background-color: #33ff33; }

del.diffdel, del.diffmod {
  background-color: #ff3333; }

.misspelled {
  border-bottom: 1px dashed red; }

a.action, time.norloge, span.content_type {
  &:before {
    content: "["; }
  &:after {
    content: "]"; } }

footer.actions:before {
  content: ">"; }
