body {
  color: $font_color;
  font-family: $text_font; }

ins.diffins, ins.diffmod {
  background-color: #33ff33; }

del.diffdel, del.diffmod {
  background-color: #ff3333; }

a.action, time.norloge, span.content_type {
  &:before {
    content: "["; }
  &:after {
    content: "]"; } }

.highlighted {
  color: #fff;
  background-color: #33f; }

footer.actions:before {
  content: ">"; }

.banner {
  text-align: center;
  font-size: 2em;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  background-color: $back_color; }
