#toolbar {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 20px;
  right: 20px;
  padding: 2px;
  color: #333333;
  background-color: #dfd6d1;
  border: 1px solid #bbaaaa; }

#toolbar_items {
  float: right; }

.fold > .meta, .fold > .image, .fold > .content, .fold > .actions {
  display: none; }
