%h1
  Badge VIP Pour Solution Linux 2013 -
  Nos contributeurs et lecteurs sont nos VIP :-)

%p
  Formulaire pour une demande de Badge VIP au salon Solution Linux fournie par
  LinuxFr.org . Parce que nos contributeurs et lecteurs sont nos VIP :-)

%p
  Cela donne accès au Club VIP, vestiaire gratuit, accueil spécifique, accès
  prioritaire aux conférences… Seules les 300 premières demandes seront
  honorées.

%p
  Les données fournies seront transmises aux organisateurs du salon
  Solution Linux : TARSUS. Ce sont les mêmes que pour une demande de badge
  classique. Merci de consulter leurs sites web concernant la politique
  d'utilisation de ces données : <a
  href="http://www.tarsus.fr/">http://www.tarsus.fr/</a> et <a
  href="http://www.solutionslinux.fr/">http://www.solutionslinux.fr</a>.
  LinuxFr.org ne conservera pas ces données une fois envoyées à Tarsus. Toute
  demande manifestement farfelue ne sera pas prise en compte.

%p
  Date limite de réponse : 10 mai à 16h00

%p
  LinuxFr.org n'a aucune obligation de résultat. Nous nous engageons juste à
  transmettre les formulaires complétés à TARSUS... ou pas. Pour une demande de
  badge normal, c'est par là :
  <a href="http://www.solutionslinux.fr/preinscription.html">
  http://www.solutionslinux.fr/preinscription.html</a>.

= render 'form'
