%h1
  Badge VIP pour Paris Open Source Summit 2016 -
  Nos contributeurs et lecteurs sont nos VIP :-)

%p
  Formulaire pour une demande de Badge VIP au salon Paris Open Source Summit
  fourni par LinuxFr.org.

%p
  Cela donne accès au Club VIP, vestiaire gratuit, accueil spécifique, accès
  prioritaire aux conférences… Seules les 300 premières demandes seront
  honorées.

%p
  Les données fournies seront transmises aux organisateurs du salon Paris Open
  Source Summit : TARSUS. Ce sont les mêmes que pour une demande de badge
  classique. Merci de consulter leurs sites web concernant la politique
  d'utilisation de ces données : <a
  href="http://www.tarsus.fr/">http://www.tarsus.fr/</a> et <a
  href="http://www.opensourcesummit.paris/">http://www.opensourcesummit.paris/</a>.
  LinuxFr.org ne conservera pas ces données une fois envoyées à Tarsus. Toute
  demande manifestement farfelue ne sera pas prise en compte.

%p
  Date limite de réponse : 7 novembre 2016 à 16h00

%p
  LinuxFr.org n'a aucune obligation de résultat. Nous nous engageons juste à
  transmettre les formulaires complétés à TARSUS... ou pas. Pour une demande de
  badge normal, c'est par là :
  <a href="http://www.opensourcesummit.paris/preinscription.html?code=hellobar">
  http://www.opensourcesummit.paris/preinscription.html</a>.

%img(src="//img.linuxfr.org/img/687474703a2f2f7069782e746f696c652d6c696272652e6f72672f75706c6f61642f6f726967696e616c2f313437383130323334382e676966/1478102348.gif")

= render 'form'
