.edition_in_place{"data-url" => edit_redaction_figure_path(news), "data-edit-element" => "button.edit"}
  - if local_assigns.has_key?(:error)
    %p %strong = error
  - if news.figure_image?
    %figure
      %img{src: news.figure_image.url, alt: "#{news.figure_alternative}", srcset: news.figure_image.srcset}
      %figcaption #{news.figure_caption}
    = button_to "Effacer l'image", delete_redaction_figure_path(@news), class: "delete_button", data: { confirm: "Effacer cette image utilisée par erreur ?" }
    %button.edit Modifier l'image
  - else
    .add-image
      .empty-image
      %p
        Une belle illustration donnera plus envie de lire votre dépêche.
        %br/
        LinuxFr donne plus de visibilité aux dépêches illustrées
        %br/
        par une image haute définition.
      %button.edit{class: "add_news_figure"} Insérer une image
