= article_for diary do |c|
  - c.title = link_to("Journal : #{diary.title}", [diary.owner, diary])
  - c.image = avatar_url(diary.owner)
  - if current_account && current_account.can_update?(diary)
    - c.actions = link_to("Modifier", edit_user_diary_path(:user_id => diary.owner, :id => diary), :class => 'action')
