.stream.measure
  =h1 "Blogs"
  - feed "Flux Atom des blogs"
  - new_content_link = link_to("Écrire dans son blog", "/journaux/nouveau") if current_account
  = paginated_nodes @nodes, new_content_link
