.edition_in_place{"data-url" => edit_figure_redaction_news_path(news)}
  - if local_assigns.has_key?(:error)
    %p %strong = error
  - if news.figure_image?
    %figure
      %img{src: news.figure_image.url, alt: "#{news.figure_alternative}"}
      %figcaption #{news.figure_caption}
    %button.edit Modifier
  - else
    .add-image
      %p Une belle illustration donnera plus envie de lire votre dépêche.
      %p LinuxFr donne plus de visibilité aux dépêches illustrées par une image haute définition.
      %button.edit Insérer une image
