%span.popup-event{"data-popup-id": "toolbar-toc"}
  = image_tag("icones/chevron-up.svg")
  Sommaire
#toolbar-toc.second_part_toc
  = news.second_part_toc
= image_tag("icones/show_panel.svg", class: "popup-event", "data-popup-id": "toolpanel", "data-popup-shown": true, alt: "Afficher les détails", title: "Afficher les détails")
