=h1 "Nouvelles dépêches"

- if @news.empty?
  Aucune dépêche dans l’espace de rédaction.
- else
  = render @news

= button_to "Commencer une nouvelle dépêche", '/redaction/news', class: "create_news"
