=h1 "Nouveaux télégrammes"

- if @news.empty?
  Aucun télégramme dans l'espace de rédaction.
- else
  = render @news

= button_to "Commencer un nouveau télégramme", '/redaction/news', :class => "create_news"
