/*
Syntax error: File to import not found or unreadable: application.sass.
Load paths:
  /home/nono/dev/linuxfr.org/app/stylesheets
  /home/nono/dev/linuxfr.org/app/stylesheets
  /home/nono/gem/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets
  /home/nono/gem/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets
        on line 1 of /home/nono/dev/linuxfr.org/app/stylesheets/application.scss

1: @import "application.sass";

Backtrace:
/home/nono/dev/linuxfr.org/app/stylesheets/application.scss:1
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/import_node.rb:86:in `import'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/import_node.rb:28:in `full_filename'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/import_node.rb:56:in `_perform'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/node.rb:185:in `perform'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/root_node.rb:27:in `perform'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/node.rb:294:in `perform_children'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/node.rb:294:in `map'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/node.rb:294:in `perform_children'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/node.rb:285:in `perform!'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/root_node.rb:44:in `perform!'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/node.rb:273:in `_perform'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/node.rb:185:in `perform'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/root_node.rb:27:in `perform'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/tree/node.rb:119:in `render'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/plugin.rb:328:in `update_stylesheet'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/plugin.rb:223:in `update_stylesheets'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/plugin.rb:216:in `each'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/plugin.rb:216:in `update_stylesheets'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/plugin.rb:214:in `each'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/plugin.rb:214:in `update_stylesheets'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/plugin.rb:190:in `check_for_updates'
/home/nono/gem/gems/haml-3.0.0.beta.1/lib/sass/plugin/rails.rb:24:in `process'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_controller/metal.rb:84:in `dispatch'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_controller/metal/rack_delegation.rb:14:in `dispatch'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_controller/metal.rb:124
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/routing/route_set.rb:29:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/routing/route_set.rb:29:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/routing/mapper.rb:31:in `call'
/home/nono/gem/gems/rack-mount-0.6.1/lib/rack/mount/recognition/route_set.rb:75:in `call'
/home/nono/gem/gems/rack-mount-0.6.1/lib/rack/mount/recognition/code_generation.rb:99:in `recognize'
/home/nono/gem/gems/rack-mount-0.6.1/lib/rack/mount/recognition/code_generation.rb:76:in `optimized_each'
/home/nono/gem/gems/rack-mount-0.6.1/lib/rack/mount/recognition/code_generation.rb:98:in `recognize'
/home/nono/gem/gems/rack-mount-0.6.1/lib/rack/mount/recognition/route_set.rb:66:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/routing/route_set.rb:454:in `call'
/home/nono/gem/gems/warden-0.10.3/lib/warden/manager.rb:35:in `call'
/home/nono/gem/gems/warden-0.10.3/lib/warden/manager.rb:34:in `catch'
/home/nono/gem/gems/warden-0.10.3/lib/warden/manager.rb:34:in `call'
/home/nono/gem/gems/activerecord-3.0.0.beta2/lib/active_record/query_cache.rb:31:in `call'
/home/nono/gem/gems/activerecord-3.0.0.beta2/lib/active_record/connection_adapters/abstract/query_cache.rb:36:in `cache'
/home/nono/gem/gems/activerecord-3.0.0.beta2/lib/active_record/query_cache.rb:11:in `cache'
/home/nono/gem/gems/activerecord-3.0.0.beta2/lib/active_record/query_cache.rb:30:in `call'
/home/nono/gem/gems/activerecord-3.0.0.beta2/lib/active_record/connection_adapters/abstract/connection_pool.rb:365:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/nono/gem/gems/rack-1.1.0/lib/rack/methodoverride.rb:24:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/middleware/params_parser.rb:19:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/middleware/flash.rb:167:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/middleware/session/cookie_store.rb:107:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/middleware/cookies.rb:206:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/home/nono/gem/gems/activesupport-3.0.0.beta2/lib/active_support/callbacks.rb:409:in `_run_call_callbacks'
/home/nono/gem/gems/activesupport-3.0.0.beta2/lib/active_support/callbacks.rb:88:in `send'
/home/nono/gem/gems/activesupport-3.0.0.beta2/lib/active_support/callbacks.rb:88:in `run_callbacks'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/nono/gem/gems/rack-1.1.0/lib/rack/sendfile.rb:105:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/middleware/show_exceptions.rb:48:in `call'
/home/nono/gem/gems/railties-3.0.0.beta2/lib/rails/rack/logger.rb:13:in `call'
/home/nono/gem/gems/rack-1.1.0/lib/rack/runtime.rb:17:in `call'
/home/nono/gem/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/home/nono/gem/gems/rack-1.1.0/lib/rack/lock.rb:11:in `synchronize'
/home/nono/gem/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/home/nono/gem/gems/actionpack-3.0.0.beta2/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/nono/gem/gems/railties-3.0.0.beta2/lib/rails/application.rb:132:in `call'
/home/nono/gem/gems/railties-3.0.0.beta2/lib/rails/application.rb:80:in `send'
/home/nono/gem/gems/railties-3.0.0.beta2/lib/rails/application.rb:80:in `method_missing'
/home/nono/gem/gems/railties-3.0.0.beta2/lib/rails/rack/log_tailer.rb:15:in `call'
/home/nono/gem/gems/rack-1.1.0/lib/rack/content_length.rb:13:in `call'
/home/nono/gem/gems/rack-1.1.0/lib/rack/chunked.rb:15:in `call'
/home/nono/gem/gems/thin-1.2.7/lib/thin/connection.rb:76:in `pre_process'
/home/nono/gem/gems/thin-1.2.7/lib/thin/connection.rb:74:in `catch'
/home/nono/gem/gems/thin-1.2.7/lib/thin/connection.rb:74:in `pre_process'
/home/nono/gem/gems/thin-1.2.7/lib/thin/connection.rb:57:in `process'
/home/nono/gem/gems/thin-1.2.7/lib/thin/connection.rb:42:in `receive_data'
/home/nono/gem/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run_machine'
/home/nono/gem/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run'
/home/nono/gem/gems/thin-1.2.7/lib/thin/backends/base.rb:57:in `start'
/home/nono/gem/gems/thin-1.2.7/lib/thin/server.rb:156:in `start'
/home/nono/gem/gems/rack-1.1.0/lib/rack/handler/thin.rb:14:in `run'
/home/nono/gem/gems/rack-1.1.0/lib/rack/server.rb:155:in `start'
/home/nono/gem/gems/railties-3.0.0.beta2/lib/rails/commands/server.rb:62:in `start'
/home/nono/gem/gems/railties-3.0.0.beta2/lib/rails/commands.rb:42
script/rails:10:in `require'
script/rails:10
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: application.sass.\A Load paths:\A   /home/nono/dev/linuxfr.org/app/stylesheets\A   /home/nono/dev/linuxfr.org/app/stylesheets\A   /home/nono/gem/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets\A   /home/nono/gem/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets\A         on line 1 of /home/nono/dev/linuxfr.org/app/stylesheets/application.scss\A \A 1: @import \"application.sass\";"; }
