/* line 6, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0;
}

/* line 20, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 23, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 30, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 33, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" "";
}
/* line 101, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 36, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none;
}

/* line 108, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

/* line 36, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9;
}
/* line 39, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 42, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 44, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 46, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff;
  visibility: hidden;
}
/* line 48, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 11, ../../app/stylesheets/_application.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 58, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body h1 img {
  margin: 0;
}
/* line 65, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 74, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 79, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 84, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
/* line 88, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 90, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body p {
  margin: 0 0 1.5em;
}
/* line 92, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 96, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 100, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 12, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body a:visited {
  color: #000066;
}
/* line 15, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body a:focus {
  color: black;
}
/* line 18, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body a:hover {
  color: black;
}
/* line 21, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body a:active {
  color: #cc0099;
}
/* line 103, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
/* line 107, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body strong {
  font-weight: bold;
}
/* line 109, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body em {
  font-style: italic;
}
/* line 111, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 114, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body sup, body sub {
  line-height: 0;
}
/* line 116, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body abbr, body acronym {
  border-bottom: 1px dotted #666;
}
/* line 118, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 121, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body del {
  color: #666;
}
/* line 123, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 126, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body pre, body code, body tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* line 129, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body li ul, body li ol {
  margin: 0;
}
/* line 131, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 134, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body ul {
  list-style-type: disc;
}
/* line 136, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body ol {
  list-style-type: decimal;
}
/* line 138, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 140, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body dl dt {
  font-weight: bold;
}
/* line 142, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body dd {
  margin-left: 1.5em;
}
/* line 144, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 147, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body th {
  font-weight: bold;
}
/* line 149, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body thead th {
  background: #c3d9ff;
}
/* line 151, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 153, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body tr.even td {
  background: #e5ecf9;
}
/* line 155, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body tfoot {
  font-style: italic;
}
/* line 157, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body caption {
  background: #eee;
}
/* line 159, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body .quiet {
  color: #666666;
}
/* line 161, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body .loud {
  color: #111111;
}
/* line 9, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body .clear {
  clear: both;
}
/* line 12, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body .clearfix {
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body .clearfix {
  display: block;
}
/* line 18, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 7, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_debug.sass */
body .showgrid {
  background: url('../images/grid.png?1267574011');
}
/* line 5, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body .error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 30, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body .error a {
  color: #8a1f11;
}
/* line 7, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body .notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 38, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body .notice a {
  color: #514721;
}
/* line 9, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 46, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body .success a {
  color: #264409;
}
/* line 11, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body .hide {
  display: none;
}
/* line 13, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body .highlight {
  background: yellow;
}
/* line 15, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body .added {
  background: #006600;
  color: white;
}
/* line 17, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body .removed {
  background: #990000;
  color: white;
}

/* line 15, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form label {
  font-weight: bold;
}
/* line 17, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 24, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form input.text, form input.title, form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px;
}
/* line 28, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form input[type=checkbox], form input.checkbox,
form input[type=radio], form input.radio {
  position: relative;
  top: 0.25em;
}
/* line 34, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 37, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form select {
  margin: 0.5em 0;
}
/* line 49, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 51, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form input.text, form input.title, form input[type=text], form input[type=password],
form textarea,
form select {
  border: 1px solid #bbbbbb;
}
/* line 55, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form input.text:focus, form input.title:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus,
form select:focus {
  border: 1px solid #666666;
}
/* line 42, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form input.text, form input.title, form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 44, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form textarea {
  width: 390px;
  height: 250px;
}

/* line 49, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.container {
  min-width: 950px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
.container {
  display: block;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-1 {
  width: 3.167%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 3.167%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-2 {
  width: 7.376%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-2 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 7.376%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-3 {
  width: 11.585%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-3 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 11.585%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-4 {
  width: 15.794%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-4 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 15.794%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-5 {
  width: 20.003%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-5 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 20.003%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-6 {
  width: 24.212%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-6 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 24.212%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-7 {
  width: 28.421%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-7 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 28.421%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-8 {
  width: 32.63%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-8 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.63%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-9 {
  width: 36.839%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-9 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 36.839%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-10 {
  width: 41.048%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-10 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 41.048%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-11 {
  width: 45.257%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-11 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 45.257%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-12 {
  width: 49.466%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-12 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 49.466%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-13 {
  width: 53.675%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-13 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 53.675%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-14 {
  width: 57.884%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-14 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 57.884%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-15 {
  width: 62.093%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-15 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 62.093%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-16 {
  width: 66.302%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-16 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 66.302%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-17 {
  width: 70.511%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-17 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 70.511%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-18 {
  width: 74.72%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-18 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 74.72%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-19 {
  width: 78.929%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-19 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 78.929%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-20 {
  width: 83.138%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-20 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 83.138%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-21 {
  width: 87.347%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-21 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 87.347%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-22 {
  width: 91.556%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-22 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 91.556%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-23 {
  width: 95.765%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-23 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 95.765%;
  margin-right: 1.042%;
}

/* line 53, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.span-24 {
  width: 99.974%;
}

/* line 56, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.span-24 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 99.974%;
  margin-right: 0;
}

/* line 59, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
div.last {
  margin-right: 0;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-1 {
  padding-right: 4.209%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-2 {
  padding-right: 8.418%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-3 {
  padding-right: 12.627%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-4 {
  padding-right: 16.836%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-5 {
  padding-right: 21.045%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-6 {
  padding-right: 25.254%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-7 {
  padding-right: 29.463%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-8 {
  padding-right: 33.672%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-9 {
  padding-right: 37.881%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-10 {
  padding-right: 42.09%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-11 {
  padding-right: 46.299%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-12 {
  padding-right: 50.508%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-13 {
  padding-right: 54.717%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-14 {
  padding-right: 58.926%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-15 {
  padding-right: 63.135%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-16 {
  padding-right: 67.344%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-17 {
  padding-right: 71.553%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-18 {
  padding-right: 75.762%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-19 {
  padding-right: 79.971%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-20 {
  padding-right: 84.18%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-21 {
  padding-right: 88.389%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-22 {
  padding-right: 92.598%;
}

/* line 63, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.append-23 {
  padding-right: 96.807%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-1 {
  padding-left: 4.209%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-2 {
  padding-left: 8.418%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-3 {
  padding-left: 12.627%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-4 {
  padding-left: 16.836%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-5 {
  padding-left: 21.045%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-6 {
  padding-left: 25.254%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-7 {
  padding-left: 29.463%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-8 {
  padding-left: 33.672%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-9 {
  padding-left: 37.881%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-10 {
  padding-left: 42.09%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-11 {
  padding-left: 46.299%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-12 {
  padding-left: 50.508%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-13 {
  padding-left: 54.717%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-14 {
  padding-left: 58.926%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-15 {
  padding-left: 63.135%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-16 {
  padding-left: 67.344%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-17 {
  padding-left: 71.553%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-18 {
  padding-left: 75.762%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-19 {
  padding-left: 79.971%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-20 {
  padding-left: 84.18%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-21 {
  padding-left: 88.389%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-22 {
  padding-left: 92.598%;
}

/* line 67, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.prepend-23 {
  padding-left: 96.807%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-1 {
  margin-left: -4.209%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-2 {
  margin-left: -8.418%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-3 {
  margin-left: -12.627%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-4 {
  margin-left: -16.836%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-5 {
  margin-left: -21.045%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-6 {
  margin-left: -25.254%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-7 {
  margin-left: -29.463%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-8 {
  margin-left: -33.672%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-9 {
  margin-left: -37.881%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-10 {
  margin-left: -42.09%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-11 {
  margin-left: -46.299%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-12 {
  margin-left: -50.508%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-13 {
  margin-left: -54.717%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-14 {
  margin-left: -58.926%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-15 {
  margin-left: -63.135%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-16 {
  margin-left: -67.344%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-17 {
  margin-left: -71.553%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-18 {
  margin-left: -75.762%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-19 {
  margin-left: -79.971%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-20 {
  margin-left: -84.18%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-21 {
  margin-left: -88.389%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-22 {
  margin-left: -92.598%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-23 {
  margin-left: -96.807%;
}

/* line 72, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.pull-24 {
  margin-left: -101.016%;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-1 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -4.209%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-2 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -8.418%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-3 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -12.627%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-4 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -16.836%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-5 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -21.045%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-6 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -25.254%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-7 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -29.463%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-8 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -33.672%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-9 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -37.881%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-10 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -42.09%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-11 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -46.299%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-12 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -50.508%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-13 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -54.717%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-14 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -58.926%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-15 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -63.135%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-16 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -67.344%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-17 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -71.553%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-18 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -75.762%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-19 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -79.971%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-20 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -84.18%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-21 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -88.389%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-22 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -92.598%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-23 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -96.807%;
  margin-bottom: 0;
}

/* line 75, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_liquid.sass */
.push-24 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -101.016%;
  margin-bottom: 0;
}

/* line 4, ../../app/stylesheets/partials/_layout.sass */
body {
  min-width: 950px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  width: 99%;
}
/* line 5, ../../../../gem/gems/compass-0.10.0.pre8/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body {
  display: block;
}

/* line 7, ../../app/stylesheets/partials/_layout.sass */
#site {
  display: inline;
  float: left;
  overflow: hidden;
  width: 99.974%;
  margin-right: 1.042%;
}
/* line 9, ../../app/stylesheets/partials/_layout.sass */
#site ul {
  display: inline;
  width: 100%;
}
/* line 12, ../../app/stylesheets/partials/_layout.sass */
#site ul li {
  display: inline;
  padding: 5px 10px;
  list-style: none;
}
/* line 16, ../../app/stylesheets/partials/_layout.sass */
#site form {
  float: right;
}

/* line 19, ../../app/stylesheets/partials/_layout.sass */
#branding h1 {
  display: block;
  width: 201px;
  height: 186px;
}
/* line 23, ../../app/stylesheets/partials/_layout.sass */
#branding h1 a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999em;
}

/* line 28, ../../app/stylesheets/partials/_layout.sass */
#sidebar {
  display: inline;
  float: left;
  overflow: hidden;
  width: 24.212%;
  margin-right: 1.042%;
}

/* line 30, ../../app/stylesheets/partials/_layout.sass */
#container {
  display: inline;
  float: left;
  overflow: hidden;
  width: 70.511%;
  margin-right: 1.042%;
}
/* line 33, ../../app/stylesheets/partials/_layout.sass */
#container .toolbox ul, #container .toolbox li {
  display: inline;
}

/* line 35, ../../app/stylesheets/partials/_layout.sass */
#redaction {
  display: inline;
  float: left;
  overflow: hidden;
  width: 66.302%;
  margin-right: 1.042%;
}

/* line 37, ../../app/stylesheets/partials/_layout.sass */
#chat {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.63%;
  margin-right: 1.042%;
}

/* line 39, ../../app/stylesheets/partials/_layout.sass */
#bigfooter {
  display: inline;
  float: left;
  overflow: hidden;
  width: 99.974%;
  margin-right: 1.042%;
}
/* line 41, ../../app/stylesheets/partials/_layout.sass */
#bigfooter nav, #bigfooter section {
  display: inline-block;
  height: 100%;
  display: inline;
  float: left;
  overflow: hidden;
  width: 24.212%;
  margin-right: 1.042%;
  vertical-align: top;
}
/* line 46, ../../app/stylesheets/partials/_layout.sass */
#bigfooter #about-us {
  margin-right: 0;
}

/* line 1, ../../app/stylesheets/partials/_autocomplete.sass */
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}
/* line 7, ../../app/stylesheets/partials/_autocomplete.sass */
.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 13, ../../app/stylesheets/partials/_autocomplete.sass */
.ac_results li {
  font: menu;
  margin: 0;
  padding: 2px 5px;
  cursor: default;
  display: block;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
}

/* line 23, ../../app/stylesheets/partials/_autocomplete.sass */
.ac_loading {
  background: white url('/images/ajax-loader.gif') right center no-repeat;
}

/* line 25, ../../app/stylesheets/partials/_autocomplete.sass */
.ac_odd {
  background-color: #eee;
}

/* line 27, ../../app/stylesheets/partials/_autocomplete.sass */
.ac_over {
  background-color: #0A246A;
  color: white;
}

/* line 1, ../../app/stylesheets/partials/_notice.sass */
.notice-wrap {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  z-index: 9999;
}

/* line 8, ../../app/stylesheets/partials/_notice.sass */
.notice-item {
  height: 60px;
  background: #333;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #eee;
  padding: 6px 6px 0 6px;
  font-family: lucida Grande;
  font-size: 11px;
  border: 2px solid #999;
  display: block;
  position: relative;
  margin: 0 0 12px 0;
}

/* line 22, ../../app/stylesheets/partials/_notice.sass */
.notice-item-close {
  position: absolute;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  right: 6px;
  top: 6px;
  cursor: pointer;
}



/* line 16, ../../app/stylesheets/partials/_markitup.sass */
.markItUpEditor {
  /* clear:both */
}
