@font-face {
  font-family: Megalopolis;
  src: url('/fonts/MEgalopolisExtra.otf') format("opentype");
}

/* line 13, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 16, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
*:focus {
  outline: 0;
}

/* line 18, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 20, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 23, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 25, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 27, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
q, blockquote {
  quotes: "" "";
}
/* line 89, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 29, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
a img {
  border: none;
}

/* line 96, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

/* line 37, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 40, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 43, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 45, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 47, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 49, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 23, ../../app/stylesheets/_application.scss */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #33332d;
  font-size: 75%;
}
/* line 60, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-weight: normal;
  color: #db4105;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 65, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img {
  margin: 0;
}
/* line 67, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-weight: normal;
  color: #db4105;
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 71, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-weight: normal;
  color: #db4105;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 76, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-weight: normal;
  color: #db4105;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 81, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-weight: normal;
  color: #db4105;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 86, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-weight: normal;
  color: #db4105;
  font-size: 1em;
  font-weight: bold;
}
/* line 90, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 92, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 94, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 98, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 102, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 12, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #000066;
}
/* line 15, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: black;
}
/* line 18, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: black;
}
/* line 21, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #cc0099;
}
/* line 105, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 109, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong {
  font-weight: bold;
}
/* line 111, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em {
  font-style: italic;
}
/* line 113, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 116, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 118, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 120, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 123, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 125, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 128, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* line 131, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 133, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 136, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 138, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 140, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 142, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 144, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 146, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 149, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 151, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 153, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 155, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tr.even td {
  background: #e5ecf9;
}
/* line 157, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 159, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 161, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666660;
}
/* line 163, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #11110b;
}
/* line 9, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clear {
  clear: both;
}
/* line 12, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clearfix {
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body .clearfix {
  display: block;
}
/* line 18, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 7, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background: url('/images/grid.png?1267744199');
}
/* line 4, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a {
  color: #8a1f11;
}
/* line 6, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 10, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 12, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 14, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}

/* line 15, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 17, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 24, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 28, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input[type=checkbox], form input.checkbox, form input[type=radio], form input.radio {
  position: relative;
  top: 0.25em;
}
/* line 34, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 37, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 49, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 53, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=text], form input[type=password],
form textarea,
form select {
  border: 1px solid #bbbbbb;
}
/* line 55, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus,
form select:focus {
  border: 1px solid #666666;
}
/* line 42, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 44, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}

/* line 1, ../../app/stylesheets/layout/_site.scss */
#site {
  background-color: #fff8e3;
  border-bottom: 3px solid #1f1f18;
  margin-bottom: 20px;
}
/* line 5, ../../app/stylesheets/layout/_site.scss */
#site .go-to-content {
  float: left;
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
}
/* line 8, ../../app/stylesheets/layout/_site.scss */
#site ul {
  display: inline;
  list-style: none;
  width: 100%;
}
/* line 4, ../../app/stylesheets/mixins/_list.scss */
#site ul li {
  display: inline;
}
/* line 10, ../../app/stylesheets/mixins/_list.scss */
#site ul li:after {
  content: " | ";
}
/* line 13, ../../app/stylesheets/mixins/_list.scss */
#site ul li:last-child:after, #site ul li.last:after {
  content: "";
}
/* line 11, ../../app/stylesheets/layout/_site.scss */
#site ul li {
  padding: 5px 0;
  color: #db4105;
  font-size: 1.6em;
}
/* line 15, ../../app/stylesheets/layout/_site.scss */
#site ul li a {
  color: inherit;
  text-decoration: none;
}
/* line 4, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
#site ul li a:hover {
  text-decoration: underline;
}
/* line 18, ../../app/stylesheets/layout/_site.scss */
#site form {
  float: right;
  padding: 5px 10px;
}

/* line 1, ../../app/stylesheets/layout/_sidebar.scss */
#sidebar {
  padding: 10px;
}
/* line 3, ../../app/stylesheets/layout/_sidebar.scss */
#sidebar img.access {
  float: right;
  margin: 5px;
}
/* line 6, ../../app/stylesheets/layout/_sidebar.scss */
#sidebar .box {
  margin: 15px 0;
  padding: 10px;
  background-color: #fff8e3;
  border: 3px solid #1f1f18;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}
/* line 12, ../../app/stylesheets/layout/_sidebar.scss */
#sidebar h1 {
  font-size: 2em;
  text-align: center;
}
/* line 15, ../../app/stylesheets/layout/_sidebar.scss */
#sidebar input {
  max-width: 180px;
}

/* line 19, ../../app/stylesheets/layout/_sidebar.scss */
#branding h1 {
  display: block;
  width: 201px;
  height: 186px;
  border: 3px solid #1f1f18;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}
/* line 25, ../../app/stylesheets/layout/_sidebar.scss */
#branding h1 a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
}

/* line 2, ../../app/stylesheets/layout/_container.scss */
#container > h1 {
  text-align: center;
  font-family: Megalopolis, helvetica, arial, serif;
  font-size: 5em;
  font-weight: bolder;
  line-height: 80px;
}
/* line 9, ../../app/stylesheets/layout/_container.scss */
#container .toolbox ul, #container .toolbox li {
  display: inline;
}

/* line 1, ../../app/stylesheets/layout/_bigfooter.scss */
#bigfooter {
  margin: 15px 0 0;
  padding-bottom: 25px;
  background-color: #fff8e3;
  border-top: 3px solid #1f1f18;
}
/* line 6, ../../app/stylesheets/layout/_bigfooter.scss */
#bigfooter nav, #bigfooter section {
  display: inline-block;
  padding-top: 5px;
  height: 100%;
  vertical-align: top;
}
/* line 11, ../../app/stylesheets/layout/_bigfooter.scss */
#bigfooter nav h1, #bigfooter section h1 {
  font-size: 2.5em;
}
/* line 13, ../../app/stylesheets/layout/_bigfooter.scss */
#bigfooter #about-us {
  margin-right: 0;
}

/* line 7, ../../app/stylesheets/layout/_layout.scss */
#site {
  display: inline;
  float: left;
  overflow: hidden;
  width: 99.974%;
  margin-right: 1.042%;
}

/* line 10, ../../app/stylesheets/layout/_layout.scss */
#sidebar {
  display: inline;
  float: left;
  overflow: hidden;
  width: 20.003%;
  margin-right: 1.042%;
  width: 207px;
}

/* line 14, ../../app/stylesheets/layout/_layout.scss */
#container {
  padding-top: 70px;
}
/* line 16, ../../app/stylesheets/layout/_layout.scss */
#container > * {
  margin: 0 50px 0 257px;
}

/* line 19, ../../app/stylesheets/layout/_layout.scss */
#redaction {
  display: inline;
  float: left;
  overflow: hidden;
  width: 66.302%;
  margin-right: 1.042%;
}

/* line 22, ../../app/stylesheets/layout/_layout.scss */
#chat {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.63%;
  margin-right: 1.042%;
}

/* line 25, ../../app/stylesheets/layout/_layout.scss */
#bigfooter {
  display: inline;
  float: left;
  overflow: hidden;
  width: 99.974%;
  margin-right: 1.042%;
}
/* line 27, ../../app/stylesheets/layout/_layout.scss */
#bigfooter nav, #bigfooter section {
  display: inline;
  float: left;
  overflow: hidden;
  width: 24.212%;
  margin-right: 1.042%;
}

/* line 1, ../../app/stylesheets/partials/_generics.scss */
body {
  font-color: #33332d;
  font-family: "Droid Sans", sans-serif;
}

/* line 5, ../../app/stylesheets/partials/_generics.scss */
ins.diffins, ins.diffmod {
  background-color: #33ff33;
}

/* line 8, ../../app/stylesheets/partials/_generics.scss */
del.diffdel, del.diffmod {
  background-color: #ff3333;
}

/* line 11, ../../app/stylesheets/partials/_generics.scss */
.misspelled {
  border-bottom: 1px dashed red;
}

/* line 15, ../../app/stylesheets/partials/_generics.scss */
a.action:before, time.norloge:before, span.content-type:before {
  content: "[";
}
/* line 17, ../../app/stylesheets/partials/_generics.scss */
a.action:after, time.norloge:after, span.content-type:after {
  content: "]";
}

/* line 20, ../../app/stylesheets/partials/_generics.scss */
footer.actions:before {
  content: ">";
}

/* line 2, ../../app/stylesheets/partials/_contents.scss */
article {
  margin: 15px 0;
  padding: 10px;
  background-color: #fff8e3;
  border: 3px solid #1f1f18;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  overflow: hidden;
}
/* line 9, ../../app/stylesheets/partials/_contents.scss */
article header h1 {
  margin: 15px 0 5px;
  font-family: Megalopolis, helvetica, arial, serif;
  color: #000099;
}
/* line 13, ../../app/stylesheets/partials/_contents.scss */
article header h1 a {
  text-decoration: none;
}
/* line 4, ../../../../gem/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
article header h1 a:hover {
  text-decoration: underline;
}
/* line 15, ../../app/stylesheets/partials/_contents.scss */
article figure {
  float: left;
  margin-right: 5px;
}
/* line 18, ../../app/stylesheets/partials/_contents.scss */
article figure.score {
  width: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #333333;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 26, ../../app/stylesheets/partials/_contents.scss */
article ul.tag-cloud {
  display: inline;
  list-style: none;
}
/* line 4, ../../app/stylesheets/mixins/_list.scss */
article ul.tag-cloud li {
  display: inline;
}

/* line 31, ../../app/stylesheets/partials/_contents.scss */
.comment .new-comment h3 {
  border: 1px solid red;
}
/* line 33, ../../app/stylesheets/partials/_contents.scss */
.comment .avatar {
  float: left;
  margin: 5px 10px;
}

/* line 39, ../../app/stylesheets/partials/_contents.scss */
#polls meter, .poll meter {
  display: block;
  margin: 0 0 0 -10px;
  background-color: orange;
  border: 1px solid #333333;
}
/* line 44, ../../app/stylesheets/partials/_contents.scss */
#polls ul, .poll ul {
  list-style: none;
  margin-left: 10px;
}

/* line 51, ../../app/stylesheets/partials/_contents.scss */
#tracker .fix a, #tracker .invalid a, .tracker .fix a, .tracker .invalid a {
  text-decoration: line-through;
}

/* line 1, ../../app/stylesheets/partials/_toolbar.scss */
#toolbar {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 20px;
  right: 20px;
  padding: 2px;
  color: #333333;
  background-color: #dfd6d1;
  border: 1px solid #bbaaaa;
}

/* line 12, ../../app/stylesheets/partials/_toolbar.scss */
#toolbar-items {
  float: right;
}

/* line 15, ../../app/stylesheets/partials/_toolbar.scss */
.fold > .meta, .fold > .image, .fold > .content, .fold > .actions {
  display: none;
}

/* line 1, ../../app/stylesheets/partials/_autocomplete.scss */
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}
/* line 7, ../../app/stylesheets/partials/_autocomplete.scss */
.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 13, ../../app/stylesheets/partials/_autocomplete.scss */
.ac_results li {
  font: menu;
  margin: 0;
  padding: 2px 5px;
  cursor: default;
  display: block;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
}

/* line 23, ../../app/stylesheets/partials/_autocomplete.scss */
.ac_loading {
  background: white url('/images/ajax-loader.gif') right center no-repeat;
}

/* line 26, ../../app/stylesheets/partials/_autocomplete.scss */
.ac_odd {
  background-color: #eeeeee;
}

/* line 29, ../../app/stylesheets/partials/_autocomplete.scss */
.ac_over {
  background-color: #0a246a;
  color: white;
}

/* line 1, ../../app/stylesheets/partials/_notice.scss */
.notice-wrap {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  z-index: 9999;
}

/* line 8, ../../app/stylesheets/partials/_notice.scss */
.notice-item {
  height: 60px;
  background: #333333;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #eeeeee;
  padding: 6px 6px 0 6px;
  font-family: lucida Grande;
  font-size: 11px;
  border: 2px solid #999999;
  display: block;
  position: relative;
  margin: 0 0 12px 0;
}

/* line 22, ../../app/stylesheets/partials/_notice.scss */
.notice-item-close {
  position: absolute;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  right: 6px;
  top: 6px;
  cursor: pointer;
}

/* line 1, ../../app/stylesheets/partials/_markitup.scss */
.markItUp {
  width: 700px;
  margin: 5px 0 5px 0;
  border: 5px solid #f5f5f5;
}
/* line 6, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .markItUp a:link,
.markItUp .markItUp a:visited {
  color: black;
  text-decoration: none;
}

/* line 10, ../../app/stylesheets/partials/_markitup.scss */
.markItUpContainer {
  border: 1px solid #3c769d;
  background: white url(/images/markitup/bg-container.png) repeat-x top left;
  padding: 5px 5px 2px 5px;
  font: 11px Verdana, Arial, Helvetica, sans-serif;
}

/* line 16, ../../app/stylesheets/partials/_markitup.scss */
.markItUpEditor {
  font: 12px "Courier New", Courier, monospace;
  padding: 5px 5px 5px 35px;
  border: 3px solid #3c769d;
  width: 643px;
  height: 320px;
  background-image: url(/images/markitup/bg-editor-markdown.png);
  background-repeat: no-repeat;
  /* clear: both */
  display: block;
  line-height: 18px;
  overflow: auto;
}

/* line 29, ../../app/stylesheets/partials/_markitup.scss */
.markItUpPreviewFrame {
  overflow: auto;
  background-color: white;
  border: 1px solid #3c769d;
  width: 99.9%;
  height: 300px;
  margin: 5px 0;
}

/* line 37, ../../app/stylesheets/partials/_markitup.scss */
.markItUpFooter {
  width: 100%;
  cursor: n-resize;
}

/* line 41, ../../app/stylesheets/partials/_markitup.scss */
.markItUpResizeHandle {
  overflow: hidden;
  width: 22px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/markitup/handle.png);
  cursor: n-resize;
}

/* line 51, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul li {
  list-style: none;
  float: left;
  position: relative;
}
/* line 55, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul li ul {
  display: none;
}
/* line 57, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul li:hover > ul {
  display: block;
}
/* line 59, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul a {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -10000px;
  background-repeat: no-repeat;
  padding: 3px;
  margin: 0px;
}
/* line 67, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul .markItUpDropMenu {
  background: transparent url(/images/markitup/menu.png) no-repeat 115% 50%;
  margin-right: 5px;
}
/* line 70, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul .markItUpDropMenu li {
  margin-right: 0px;
}
/* line 72, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul .markItUpSeparator {
  margin: 0 10px;
  width: 1px;
  height: 16px;
  overflow: hidden;
  background-color: #cccccc;
}
/* line 78, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul ul {
  display: none;
  position: absolute;
  top: 18px;
  left: 0px;
  background: #f5f5f5;
  border: 1px solid #3c769d;
  height: inherit;
}
/* line 86, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul ul .markItUpSeparator {
  width: auto;
  height: 1px;
  margin: 0px;
}
/* line 90, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul ul li {
  float: none;
  border-bottom: 1px solid #3c769d;
}
/* line 93, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul ul .markItUpDropMenu {
  background: #f5f5f5 url(/images/markitup/submenu.png) no-repeat 100% 50%;
}
/* line 95, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul ul ul {
  position: absolute;
  top: -1px;
  left: 150px;
}
/* line 99, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul ul ul li {
  float: none;
}
/* line 101, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul ul a {
  display: block;
  padding-left: 0px;
  text-indent: 0;
  width: 120px;
  padding: 5px 5px 5px 25px;
  background-position: 2px 50%;
}
/* line 108, ../../app/stylesheets/partials/_markitup.scss */
.markItUpHeader ul ul a:hover {
  color: white;
  background-color: #3c769d;
}

/* line 113, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .h1 a {
  background-image: url(/images/markitup/h1.png);
}
/* line 115, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .h2 a {
  background-image: url(/images/markitup/h2.png);
}
/* line 117, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .h3 a {
  background-image: url(/images/markitup/h3.png);
}
/* line 119, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .h4 a {
  background-image: url(/images/markitup/h4.png);
}
/* line 121, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .bold a {
  background-image: url(/images/markitup/bold.png);
}
/* line 123, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .italic a {
  background-image: url(/images/markitup/italic.png);
}
/* line 125, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .stroke a {
  background-image: url(/images/markitup/stroke.png);
}
/* line 127, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .list-bullet a {
  background-image: url(/images/markitup/list-bullet.png);
}
/* line 129, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .list-numeric a {
  background-image: url(/images/markitup/list-numeric.png);
}
/* line 131, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .image a {
  background-image: url(/images/markitup/picture.png);
}
/* line 133, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .link a {
  background-image: url(/images/markitup/link.png);
}
/* line 135, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .quotes a {
  background-image: url(/images/markitup/quotes.png);
}
/* line 137, ../../app/stylesheets/partials/_markitup.scss */
.markItUp .code a {
  background-image: url(/images/markitup/page_white_code.png);
}
