@charset "UTF-8";
/* Copyright 2010 Eve Schoonbroodt (design) http://www.studiomagenta.be/ */
/* Copyright 2010 Nicolas Schoonbroodt (css) <nicolas@elsewhere.be>      */
/* Distributed under GNU AGPL v3 License                                 */
.markItUp {
  width: 700px;
  margin: 5px 0 5px 0;
  border: 5px solid #f5f5f5; }
  .markItUp .markItUp a:link,
  .markItUp .markItUp a:visited {
    color: black;
    text-decoration: none; }

.markItUpContainer {
  border: 1px solid #3c769d;
  background: white url(/images/markitup/bg-container.png) repeat-x top left;
  padding: 5px 5px 2px 5px;
  font: 11px Verdana, Arial, Helvetica, sans-serif; }

.markItUpEditor {
  font: 12px "Courier New", Courier, monospace;
  padding: 5px 5px 5px 35px;
  border: 3px solid #3c769d;
  width: 643px;
  height: 320px;
  background-image: url(/images/markitup/bg-editor-markdown.png);
  background-repeat: no-repeat;
  /* clear: both */
  display: block;
  line-height: 18px;
  overflow: auto; }

.markItUpPreviewFrame {
  overflow: auto;
  background-color: white;
  border: 1px solid #3c769d;
  width: 99.9%;
  height: 300px;
  margin: 5px 0; }

.markItUpFooter {
  width: 100%;
  cursor: n-resize; }

.markItUpResizeHandle {
  overflow: hidden;
  width: 22px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/markitup/handle.png);
  cursor: n-resize; }

.markItUpHeader {
  height: 22px; }
  .markItUpHeader ul li {
    list-style: none;
    float: left;
    position: relative; }
    .markItUpHeader ul li ul {
      display: none; }
    .markItUpHeader ul li:hover > ul {
      display: block; }
  .markItUpHeader ul a {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -10000px;
    background-repeat: no-repeat;
    padding: 3px;
    margin: 0px; }
  .markItUpHeader ul .markItUpDropMenu {
    background: transparent url(/images/markitup/menu.png) no-repeat 115% 50%;
    margin-right: 5px; }
    .markItUpHeader ul .markItUpDropMenu li {
      margin-right: 0px; }
  .markItUpHeader ul .markItUpSeparator {
    margin: 0 10px;
    width: 1px;
    height: 16px;
    overflow: hidden;
    background-color: #cccccc; }
  .markItUpHeader ul ul {
    display: none;
    position: absolute;
    top: 18px;
    left: 0px;
    background: #f5f5f5;
    border: 1px solid #3c769d;
    height: inherit; }
    .markItUpHeader ul ul .markItUpSeparator {
      width: auto;
      height: 1px;
      margin: 0px; }
    .markItUpHeader ul ul li {
      float: none;
      border-bottom: 1px solid #3c769d; }
    .markItUpHeader ul ul .markItUpDropMenu {
      background: #f5f5f5 url(/images/markitup/submenu.png) no-repeat 100% 50%; }
    .markItUpHeader ul ul ul {
      position: absolute;
      top: -1px;
      left: 150px; }
      .markItUpHeader ul ul ul li {
        float: none; }
    .markItUpHeader ul ul a {
      display: block;
      padding-left: 0px;
      text-indent: 0;
      width: 120px;
      padding: 5px 5px 5px 25px;
      background-position: 2px 50%; }
      .markItUpHeader ul ul a:hover {
        color: white;
        background-color: #3c769d; }

.markItUp .h1 a {
  background-image: url(/images/markitup/h1.png); }
.markItUp .h2 a {
  background-image: url(/images/markitup/h2.png); }
.markItUp .h3 a {
  background-image: url(/images/markitup/h3.png); }
.markItUp .h4 a {
  background-image: url(/images/markitup/h4.png); }
.markItUp .bold a {
  background-image: url(/images/markitup/bold.png); }
.markItUp .italic a {
  background-image: url(/images/markitup/italic.png); }
.markItUp .stroke a {
  background-image: url(/images/markitup/stroke.png); }
.markItUp .list-bullet a {
  background-image: url(/images/markitup/list-bullet.png); }
.markItUp .list-numeric a {
  background-image: url(/images/markitup/list-numeric.png); }
.markItUp .image a {
  background-image: url(/images/markitup/picture.png); }
.markItUp .link a {
  background-image: url(/images/markitup/link.png); }
.markItUp .quotes a {
  background-image: url(/images/markitup/quotes.png); }
.markItUp .code a {
  background-image: url(/images/markitup/page_white_code.png); }

/* Color constants */
/* TODO reorganiser */
/*$C_BD1: #F9DEE8;
$C_BD2: #F1ABC5;
$C_BD3: #E978A3;
$C_BD4: #E14E85;
$C_BD5: #D91C64;*/
/* Pixel size constants */
/* pas de px ici pour faire plaisir a webkit */
/* = PAD_NODE + RAY_CONTAINER */
/* un lien bleu/rouge visité normal */
html {
  background: #e4e4e4;
  background-image: url("/images/contrib/RonRonnement/background_html.png");
  background-repeat: repeat-x;
  background-position: top;
  font-family: sans-serif;
  padding: 0px 19px 0px 31px; }

body {
  color: #000;
  /* si gradient ko p. ex. opera */
  background: #e4e4e4;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
  border-style: solid;
  border-width: 0 11px 0 11px;
  /* for old browsers */
  border-color: #e4e4e4;
  -moz-border-image: url("/images/contrib/RonRonnement/background_body.png") 0 11 0 11 stretch;
  -o-border-image: url("/images/contrib/RonRonnement/background_body.png") 0 11 0 11 stretch;
  -webkit-border-image: url("/images/contrib/RonRonnement/background_body.png") 0 11 0 11 stretch;
  -khtml-border-image: url("/images/contrib/RonRonnement/background_body.png") 0 11 0 11 stretch; }

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

button,
#news_preview, #news_submit,
#diary_preview, #diary_submit,
#comment_preview, #comment_submit,
#tracker_preview, #tracker_submit,
#wiki_preview, #wiki_submit,
#poll_preview, #poll_submit,
#post_preview, #post_submit,
#comments p#send-comment,
.toolbox .new_content,
input[type='submit'] {
  color: black;
  background-color: #e9e6e4;
  border: 1px solid #a99c90;
  font-size: medium;
  padding-left: 5px;
  padding-right: 5px; }
  button a,
  #news_preview a, #news_submit a,
  #diary_preview a, #diary_submit a,
  #comment_preview a, #comment_submit a,
  #tracker_preview a, #tracker_submit a,
  #wiki_preview a, #wiki_submit a,
  #poll_preview a, #poll_submit a,
  #post_preview a, #post_submit a,
  #comments p#send-comment a,
  .toolbox .new_content a,
  input[type='submit'] a {
    font-weight: normal; }
    button a:hover,
    #news_preview a:hover, #news_submit a:hover,
    #diary_preview a:hover, #diary_submit a:hover,
    #comment_preview a:hover, #comment_submit a:hover,
    #tracker_preview a:hover, #tracker_submit a:hover,
    #wiki_preview a:hover, #wiki_submit a:hover,
    #poll_preview a:hover, #poll_submit a:hover,
    #post_preview a:hover, #post_submit a:hover,
    #comments p#send-comment a:hover,
    .toolbox .new_content a:hover,
    input[type='submit'] a:hover {
      text-decoration: none; }
  button:hover,
  #news_preview:hover, #news_submit:hover,
  #diary_preview:hover, #diary_submit:hover,
  #comment_preview:hover, #comment_submit:hover,
  #tracker_preview:hover, #tracker_submit:hover,
  #wiki_preview:hover, #wiki_submit:hover,
  #poll_preview:hover, #poll_submit:hover,
  #post_preview:hover, #post_submit:hover,
  #comments p#send-comment:hover,
  .toolbox .new_content:hover,
  input[type='submit']:hover {
    background-color: #a99c90;
    border: 1px solid #93877b; }

#top {
  background: #4c575f;
  height: 7px; }

#sidebar {
  float: left;
  margin-top: 34px;
  left: 50px;
  width: 201px;
  text-align: left;
  font-size: small;
  background: #e9e6e4;
  -moz-border-radius-bottomright: 42px;
  -webkit-border-bottom-right-radius: 42px;
  -khtml-border-bottom-right-radius: 42px;
  border-bottom-right-radius: 42px;
  /* le cadenas */
  /* image DLFP */
  /* Les boîtes login, wiki, moderation */ }
  #sidebar a {
    font-weight: inherit; }
  #sidebar .insecure, #sidebar .secure {
    display: block;
    float: right;
    text-indent: -9999em;
    margin: 5px;
    height: 16px;
    width: 16px; }
  #sidebar .insecure {
    background: url(/images/icones/lock-insecure.png) no-repeat; }
  #sidebar .secure {
    background: url(/images/icones/lock-secure.png) no-repeat; }
  #sidebar #branding h1 {
    display: block;
    height: 186px; }
    #sidebar #branding h1 a {
      display: block;
      /* chiffre magique qui marche sous firefox et opera */
      margin-top: -17px;
      text-indent: -9999em;
      width: 100%;
      height: 100%; }
  #sidebar .box {
    min-height: 110px;
    border-bottom: 1px solid #a99c90;
    padding: 0px 3px 10px 5px;
    /* juste une ligne devant les listes */
    /* pas de ligne sous la dernière boite */
    /* rotation du titre de la boîte */ }
    #sidebar .box ul {
      padding-left: 0px; }
    #sidebar .box li {
      list-style: none;
      margin-left: 5px;
      padding-left: 5px;
      border-left: solid 1px #a99c90; }
      #sidebar .box li.forum span {
        font-weight: bold; }
    #sidebar .box > a {
      display: block;
      padding-left: 5px;
      padding-bottom: 5px; }
    #sidebar .box:last-child {
      border-bottom: none;
      padding-bottom: 42px; }
    #sidebar .box h1:first-of-type {
      display: inline;
      text-align: center;
      font-size: small;
      color: white;
      background: #93877b;
      max-width: 80%;
      padding: 4px 10px 4px 10px;
      -webkit-transform-origin: left top;
      -khtml-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      -webkit-transform: rotate(-90deg) translate(-100%, -100%) translate(3px, -5px);
      -khtml-transform: rotate(-90deg) translate(-100%, -100%) translate(3px, -5px);
      -moz-transform: rotate(-90deg) translate(-100%, -100%) translate(-3px, -5px);
      -o-transform: rotate(-90deg) translate(-100%, -100%) translate(-3px, -5px); }

/* menu du haut */
#site {
  position: absolute;
  top: 40px;
  right: 38px;
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-size: small;
  color: #4c575f;
  /* boite de recherche */ }
  #site ul {
    display: inline;
    width: 100%;
    padding-right: 42px; }
    #site ul li {
      display: inline;
      padding: 0;
      list-style: none; }
      #site ul li:after {
        content: " | "; }
      #site ul li:last-child:after {
        content: ""; }
  #site form {
    display: block;
    background: #a99c90;
    padding-left: 42px;
    padding-right: 42px;
    width: 180px;
    margin-left: auto;
    margin-right: 0px;
    -moz-border-radius-bottomleft: 42px;
    -webkit-border-bottom-left-radius: 42px;
    -khtml-border-bottom-left-radius: 42px;
    border-bottom-left-radius: 42px;
    height: 29px;
    line-height: 29px;
    text-align: center; }
    #site form label {
      float: left;
      text-indent: -9998em;
      overflow: hidden;
      text-align: left;
      width: 0px; }
    #site form input#search_submit {
      width: 0px;
      position: absolute;
      visibility: hidden;
      /* TODO la recherche ne marche pas avec opera */ }
    #site form input#query {
      background: #e9e6e4; }

/* pied de page derniers commentaires, … */
#bigfooter {
  clear: both;
  width: 100%;
  display: block;
  margin-top: 0px;
  background: #e9e6e4;
  background: -moz-linear-gradient(top, #d4d1cf 0%, white 100%);
  background: -o-linear-gradient(top, #d4d1cf 0%, white 100%);
  background: -webkit-gradient(linear, center top, center bottom, from(#d4d1cf), to(white));
  background: -khtml-gradient(linear, center top, center bottom, from(#d4d1cf), to(white));
  background: linear-gradient(top, #d4d1cf 0%, white 100%);
  padding: 0px 0px 0px 0px; }
  #bigfooter a {
    font-size: small; }
  #bigfooter nav, #bigfooter section {
    display: inline-block;
    padding: 5px 0px 30px 0px;
    vertical-align: top;
    width: 23%;
    margin: 0px 0.7% 0 0.7%;
    background: #d4d1cf;
    background: -moz-linear-gradient(top, #d4d1cf 0%, #e9e8e7 50%, #d4d1cf 100%);
    background: -o-linear-gradient(top, #d4d1cf 0%, #e9e8e7 50%, #d4d1cf 100%);
    background: -webkit-gradient(linear, center top, center bottom, from(#d4d1cf), color-stop(50%, #e9e8e7), to(#d4d1cf));
    background: -khtml-gradient(linear, center top, center bottom, from(#d4d1cf), color-stop(50%, #e9e8e7), to(#d4d1cf));
    background: linear-gradient(top, #d4d1cf 0%, #e9e8e7 50%, #d4d1cf 100%);
    min-height: 330px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -khtml-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -khtml-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px; }
    #bigfooter nav h1, #bigfooter section h1 {
      font-size: medium;
      padding: 0px 3px 3px 3px;
      border-bottom: 2px solid #4c575f; }

#container {
  display: block;
  margin-left: 201px;
  background: #f9f9f9;
  -moz-border-radius-topleft: 62px;
  -webkit-border-top-left-radius: 62px;
  -khtml-border-top-left-radius: 62px;
  border-top-left-radius: 62px;
  padding: 40px 62px 10px 40px;
  margin-top: 34px;
  margin-bottom: 0px;
  /* le titre de la page est déjà contenu dans la barre du navigateur, l'url du navigateur, ... */ }
  #container > h1:first-of-type {
    display: none; }

/* article titre */
#phare article {
  /* enleve la liste des liens de la boite d'en-tete pour ne garder que le contenu "texte" de l'article, pour gain de place. */
  border: solid 2px #4c575f;
  /* comme le bord est plus grand, translation légèrement suppérieur */ }
  #phare article .content ul {
    display: none; }
  #phare article .score, #phare article .datePourCss {
    right: -64px;
    width: 64px; }

/* information générale, "publicité" (genre fosdem p. ex.) */
.banner {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(76, 87, 95, 0.33);
  border-top: solid 2px #4c575f;
  border-bottom: solid 2px #4c575f;
  padding: 5px; }

/* contenu du site (hors commentaire) */
article,
ul.threads > li.comment,
.markdown_cheatsheet,
#contents > form,
form#new_post,
body#users-comments #contents > ul > li,
body#comments-create #contents > ul > li#comment_new,
body#comments-show #contents > ul > li.comment,
body#wiki_pages-revision #contents,
body#dashboard-index #contents table,
body#trackers-index #contents table,
body#redaction-index #container > div,
body#boards-show #contents,
body#stylesheets-edit #contents,
body#wiki_pages-changes #contents,
body#admin-index #container > ul,
#redaction #chat {
  display: block;
  background: white;
  padding: 10px 34px 10px 34px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: solid 1px #a99c90;
  margin-bottom: 15px;
  font-size: small; }

body#dashboard-index #contents table,
body#trackers-index #contents table {
  display: inline-block; }

/* reset pour form css, sinon une boite par css */
#stylesheets-edit #contents > form {
  display: inherit;
  background: inherit;
  padding: 2px 0 2px 0;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  -khtml-border-radius: none;
  border-radius: none;
  border: none;
  margin-bottom: 0;
  font-size: inherit; }

article {
  position: relative; }
  article header > h1:first-of-type > a:first-of-type:after {
    content: " :"; }
  article .content {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 70px; }
    article .content > p:first-child {
      margin-top: 0px; }
    article .content > p:last-child {
      margin-bottom: 0px; }
  article .meta {
    color: #a99c90; }
  article .score, article .datePourCss {
    display: block;
    width: 63px;
    height: 31px;
    margin: 0;
    border-left-width: 15px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    font-size: medium;
    /* the translation should be the exact sum of padding and margin of all elements to the right */
    position: absolute;
    right: -63px; }
  article .score {
    background: #e4e4e4;
    -moz-border-image: url("/images/contrib/RonRonnement/coin-transparent.png") 0 0 0 15;
    -o-border-image: url("/images/contrib/RonRonnement/coin-transparent.png") 0 0 0 15;
    -webkit-border-image: url("/images/contrib/RonRonnement/coin-transparent.png") 0 0 0 15;
    -khtml-border-image: url("/images/contrib/RonRonnement/coin-transparent.png") 0 0 0 15;
    text-align: center;
    line-height: 31px;
    font-weight: bold;
    margin-top: 2px;
    top: 50px; }
  article .datePourCss {
    display: block !important;
    background: #4c575f;
    -moz-border-image: url("/images/contrib/RonRonnement/coin-transparent.png") 0 0 0 15;
    -o-border-image: url("/images/contrib/RonRonnement/coin-transparent.png") 0 0 0 15;
    -webkit-border-image: url("/images/contrib/RonRonnement/coin-transparent.png") 0 0 0 15;
    -khtml-border-image: url("/images/contrib/RonRonnement/coin-transparent.png") 0 0 0 15;
    color: white;
    padding: 0;
    margin-bottom: 2px;
    top: 20px; }
    article .datePourCss .jour {
      padding-left: 8px;
      float: left;
      line-height: 31px;
      font-weight: bold;
      margin-right: 3px; }
    article .datePourCss .mois, article .datePourCss .annee {
      text-align: left;
      font-size: x-small;
      padding-left: 10px;
      clear: right; }
    article .datePourCss .mois {
      padding-top: 3px;
      margin-bottom: -1px;
      padding-bottom: 0px;
      vertical-align: bottom; }
    article .datePourCss .annee {
      padding-top: 0px;
      margin-top: -1px;
      padding-bottom: 3px;
      vertical-align: top; }
  article .image {
    float: left;
    margin: 10px;
    margin-top: 10px; }
    article .image img {
      border: none; }
  article h1 {
    border-left: solid 6px #4c575f;
    padding-left: 13px;
    text-align: left;
    font-size: large;
    margin-top: 8px;
    margin-bottom: 2px; }

/* ajout d'un caractère de couleur changeante devant "lire la suite" */
.read a:before, .no_comments a:before, .new_comments a:before, .not_read a:before {
  content: "+ ";
  font-size: medium;
  font-weight: bold; }

.new_comments a:before, .not_read a:before {
  color: #4c575f; }

.read, .no_comments {
  color: #a99c90; }

.new_comments a {
  color: #a99c90; }

footer.actions .action {
  color: #a99c90; }

/* parti de la base de yggdras pour la partie sur les tags */
.tag_in_place {
  float: right;
  color: #a99c90; }
  .tag_in_place a {
    color: #a99c90; }
  .tag_in_place input[type='submit'] {
    font-size: inherit; }

.ac_loading {
  background: white url("/images/ajax-loader.gif") right center no-repeat; }

.ac_results {
  background-color: #e9e6e4;
  border: solid 1px #a99c90;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 5px 5px 30px;
  padding: 5px; }
  .ac_results ul {
    margin: 0px;
    padding: 5px; }
    .ac_results ul li {
      list-style: none;
      cursor: pointer; }

.ac_odd {
  background-color: #eeeeee; }

.ac_over {
  background-color: #0a246a;
  color: white; }

.tags {
  display: block;
  font-size: small; }
  .tags ul {
    display: inline; }
    .tags ul li {
      display: inline;
      padding: 0;
      list-style: none; }
      .tags ul li:after {
        content: ", "; }
      .tags ul li:last-child:after, .tags ul li .last:after {
        content: ""; }

.vote {
  color: #a99c90;
  font-style: italic;
  font-size: x-small; }
  .vote form, .vote form div {
    display: inline; }
  .vote .button_to input {
    padding: 0px;
    display: inline;
    font-style: italic;
    font-size: x-small;
    color: #a99c90;
    border-style: none;
    background-color: transparent;
    cursor: pointer; }
  .vote .button_to div:hover {
    text-decoration: underline; }

/* concerne tout ce qui est contenu : article, commentaire */
.content {
  text-align: justify;
  word-wrap: break-word; }
  .content img {
    max-width: 100%; }
  .content a[href] {
    color: #0000EE;
    font-weight: inherit; }
    .content a[href]:hover {
      text-decoration: inherit; }
    .content a[href]:visited {
      color: #551A8B; }
    .content a[href][title="Définition Wikipédia"]:after {
      content: "\A0W";
      font-family: serif;
      font-size: 6pt;
      vertical-align: super; }
    .content a[href][title="Lien interne du wiki LinuxFr.org"] {
      padding-left: 3px;
      border-left: 16px;
      -moz-border-image: url("/favicon.png") 0 0 0 32;
      -o-border-image: url("/favicon.png") 0 0 0 32;
      -webkit-border-image: url("/favicon.png") 0 0 0 32;
      -khtml-border-image: url("/favicon.png") 0 0 0 32;
      border-image: url("/favicon.png") 0 0 0 32; }
  .content .content li {
    list-style-position: inside; }

blockquote {
  border-left: 3px solid #4c575f;
  border-bottom: 1px solid #e9e6e4;
  margin: 10px 0px 10px 10px;
  padding-left: 5px;
  padding-right: 0px; }
  blockquote > p:first-child {
    padding-top: 5px; }

/* tri, proposition de dépeche, choix de page */
.toolbox, .scroll {
  display: block;
  margin: 10px 0px 15px 0px;
  font-size: small;
  color: #a99c90; }

a.scroll {
  margin: 0px; }

.toolbox {
  /* pour ne pas afficher les pages en haut */ }
  .toolbox .new_content {
    float: right;
    text-align: right;
    font-size: medium; }
  .toolbox a:hover {
    text-decoration: none; }
  .toolbox .order_navbar ul {
    display: inline; }
    .toolbox .order_navbar ul li {
      display: inline;
      padding: 0;
      list-style: none; }
      .toolbox .order_navbar ul li:after {
        content: " · "; }
      .toolbox .order_navbar ul li:last-child:after, .toolbox .order_navbar ul li .last:after {
        content: ""; }
  .toolbox .pagination {
    display: none; }

/* pour les afficher en bas */
#container > .toolbox:last-of-type .pagination {
  display: inherit; }

/* message à caractère informatif */
.alert {
  text-align: center;
  background-color: #faa;
  border: 1px solid red;
  margin-bottom: 10px; }

.notice {
  text-align: center;
  background-color: rgba(76, 87, 95, 0.16);
  border: 1px solid rgba(76, 87, 95, 0.5);
  margin-bottom: 10px; }

.notice-wrap {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 280px;
  z-index: 9999; }

.notice-item {
  min-height: 60px;
  background: #333333;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #eeeeee;
  padding: 6px 6px 0 6px;
  font-family: lucida Grande, sans-serif;
  font-size: 11px;
  border: 2px solid #999999;
  display: block;
  position: relative;
  margin: 0 0 12px 0; }
  .notice-item ul {
    padding: 0; }
  .notice-item li {
    text-align: left;
    list-style: disc inside; }

.notice-item-close {
  position: absolute;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  right: 6px;
  top: 6px;
  cursor: pointer; }

/* sondage */
ul.poll.current {
  padding: 0px;
  margin-top: 0px; }
  ul.poll.current li {
    list-style: none; }
ul.poll li meter {
  display: block;
  background: rgba(76, 87, 95, 0.33);
  border-top: 1px solid #4c575f;
  border-bottom: 1px solid #4c575f;
  font-size: x-small; }
ul.poll li meter::-webkit-meter-horizontal-bar,
ul.poll li meter::-webkit-meter-horizontal-optimum-value,
ul.poll li meter::-webkit-meter-horizontal-suboptimal-value,
ul.poll li meter::-webkit-meter-horizontal-even-less-good-value {
  background: rgba(76, 87, 95, 0.33); }

.anchor {
  color: #aaa; }
  .anchor:hover {
    color: #333; }

.factice, .go_to_content {
  float: left;
  text-indent: -9998em;
  overflow: hidden;
  text-align: left; }

.pot_de_miel {
  display: none; }

/* les commentaires */
#comments > p {
  text-align: justify;
  color: #a99c90;
  font-size: small;
  margin: 5px 0px 5px 0px; }

#comments #send-comment {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #a99c90;
  background-color: #e9e6e4;
  font-size: medium; }
  #comments #send-comment a:hover {
    text-decoration: none; }

body#comments-show #contents > ul,
body#comments-create #contents > ul,
body#users-comments #contents > ul,
ul.threads {
  padding: 0px;
  list-style: none;
  /* premier d'un thread */ }
  body#comments-show #contents > ul > li.comment,
  body#comments-create #contents > ul > li.comment,
  body#users-comments #contents > ul > li.comment,
  ul.threads > li.comment {
    /* voir ^article$ */
    padding-top: 0px;
    padding-left: 1.25em;
    padding-right: 5px; }

li.comment {
  font-size: small; }
  li.comment > h2 {
    font-size: medium;
    margin-bottom: 0px;
    margin-top: 10px;
    background: #e9e6e4;
    clear: right; }
  li.comment > p.meta {
    margin-top: 0px;
    margin-bottom: 3px;
    color: #a99c90; }
  li.comment img.avatar {
    float: right;
    margin: 0px 5px 5px 10px; }
  li.comment .content {
    border-left: 1px solid #a99c90;
    padding-left: 5px;
    margin-bottom: 5px; }
    li.comment .content .signature {
      color: #999;
      font-size: 11px; }
      li.comment .content .signature:before {
        white-space: pre-line;
        content: "-- \a"; }
  li.comment > ul {
    list-style: none;
    margin-left: 1.25em;
    padding-left: 0px; }
  li.comment.fold > figure, li.comment.fold > .content, li.comment.fold > .actions {
    display: none; }

li.new-comment > h2 {
  border: 1px solid rgba(76, 87, 95, 0.67); }
li.new-comment .content {
  border-left: 1px solid rgba(76, 87, 95, 0.67); }

/* extrait de pigments */
code {
  display: inline-block;
  font-size: medium;
  white-space: pre-wrap;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  code[class] {
    display: block;
    margin: 10px 0px 10px 10px;
    padding-left: 5px;
    padding-right: 0px;
    border-left: 3px solid #4c575f;
    border-bottom: 1px solid #e9e6e4; }
  code .hll {
    background-color: #ffffcc; }
  code .c {
    color: #888888; }
  code .err {
    color: #a61717;
    background-color: #e3d2d2; }
  code .k {
    color: #008800;
    font-weight: bold; }
  code .cm {
    color: #888888; }
  code .cp {
    color: #cc0000;
    font-weight: bold; }
  code .c1 {
    color: #888888; }
  code .cs {
    color: #cc0000;
    font-weight: bold;
    background-color: #fff0f0; }
  code .gd {
    color: #000000;
    background-color: #ffdddd; }
  code .ge {
    font-style: italic; }
  code .gr {
    color: #aa0000; }
  code .gh {
    color: #303030; }
  code .gi {
    color: #000000;
    background-color: #ddffdd; }
  code .go {
    color: #888888; }
  code .gp {
    color: #555555; }
  code .gs {
    font-weight: bold; }
  code .gu {
    color: #606060; }
  code .gt {
    color: #aa0000; }
  code .kc {
    color: #008800;
    font-weight: bold; }
  code .kd {
    color: #008800;
    font-weight: bold; }
  code .kn {
    color: #008800;
    font-weight: bold; }
  code .kp {
    color: #008800; }
  code .kr {
    color: #008800;
    font-weight: bold; }
  code .kt {
    color: #888888;
    font-weight: bold; }
  code .m {
    color: #0000DD;
    font-weight: bold; }
  code .s {
    color: #dd2200;
    background-color: #fff0f0; }
  code .na {
    color: #336699; }
  code .nb {
    color: #003388; }
  code .nc {
    color: #bb0066;
    font-weight: bold; }
  code .no {
    color: #003366;
    font-weight: bold; }
  code .nd {
    color: #555555; }
  code .ne {
    color: #bb0066;
    font-weight: bold; }
  code .nf {
    color: #0066bb;
    font-weight: bold; }
  code .nl {
    color: #336699;
    font-style: italic; }
  code .nn {
    color: #bb0066;
    font-weight: bold; }
  code .py {
    color: #336699;
    font-weight: bold; }
  code .nt {
    color: #bb0066;
    font-weight: bold; }
  code .nv {
    color: #336699; }
  code .ow {
    color: #008800; }
  code .w {
    color: #bbbbbb; }
  code .mf {
    color: #0000DD;
    font-weight: bold; }
  code .mh {
    color: #0000DD;
    font-weight: bold; }
  code .mi {
    color: #0000DD;
    font-weight: bold; }
  code .mo {
    color: #0000DD;
    font-weight: bold; }
  code .sb {
    color: #dd2200;
    background-color: #fff0f0; }
  code .sc {
    color: #dd2200;
    background-color: #fff0f0; }
  code .sd {
    color: #dd2200;
    background-color: #fff0f0; }
  code .s2 {
    color: #dd2200;
    background-color: #fff0f0; }
  code .se {
    color: #0044dd;
    background-color: #fff0f0; }
  code .sh {
    color: #dd2200;
    background-color: #fff0f0; }
  code .si {
    color: #3333bb;
    background-color: #fff0f0; }
  code .sx {
    color: #22bb22;
    background-color: #f0fff0; }
  code .sr {
    color: #008800;
    background-color: #fff0ff; }
  code .s1 {
    color: #dd2200;
    background-color: #fff0f0; }
  code .ss {
    color: #aa6600;
    background-color: #fff0f0; }
  code .bp {
    color: #003388; }
  code .vc {
    color: #336699; }
  code .vg {
    color: #dd7700; }
  code .vi {
    color: #3333bb; }
  code .il {
    color: #0000DD;
    font-weight: bold; }

/* Langues */
li.link[lang=cn] {
  list-style-image: url("/images/langs/cn.png"); }

li.link[lang=ct] {
  list-style-image: url("/images/langs/ct.png"); }

li.link[lang=da] {
  list-style-image: url("/images/langs/da.png"); }

li.link[lang=de] {
  list-style-image: url("/images/langs/de.png"); }

li.link[lang=el] {
  list-style-image: url("/images/langs/el.png"); }

li.link[lang=en] {
  list-style-image: url("/images/langs/en.png"); }

li.link[lang=es] {
  list-style-image: url("/images/langs/es.png"); }

li.link[lang=eu] {
  list-style-image: url("/images/langs/eu.png"); }

li.link[lang=fi] {
  list-style-image: url("/images/langs/fi.png"); }

li.link[lang=fr] {
  list-style-image: url("/images/langs/fr.png"); }

li.link[lang=it] {
  list-style-image: url("/images/langs/it.png"); }

li.link[lang=ja] {
  list-style-image: url("/images/langs/ja.png"); }

li.link[lang=ko] {
  list-style-image: url("/images/langs/ko.png"); }

li.link[lang=nl] {
  list-style-image: url("/images/langs/nl.png"); }

li.link[lang=no] {
  list-style-image: url("/images/langs/no.png"); }

li.link[lang=pl] {
  list-style-image: url("/images/langs/pl.png"); }

li.link[lang=pt] {
  list-style-image: url("/images/langs/pt.png"); }

li.link[lang=ru] {
  list-style-image: url("/images/langs/ru.png"); }

li.link[lang=sv] {
  list-style-image: url("/images/langs/sv.png"); }

li.link[lang=xx] {
  list-style-image: url("/images/langs/xx.png"); }

/* Tribune */
body#boards-show #sidebar, body#boards-show #bigfooter, body#boards-show .scroll {
  display: none; }
body#boards-show #container {
  margin-left: 0px;
  font-size: small;
  text-align: justify; }

#main_board {
  /* on sait qu'on est sur la tribune si on y est */
  /* version xml et avertissement */
  /* totoz links */ }
  #main_board h1 {
    display: none; }
  #main_board > a:first-of-type,
  #main_board > p:first-of-type {
    color: #a99c90; }
  #main_board a:hover {
    cursor: pointer; }

.norloge {
  font-weight: bold;
  color: black;
  font-family: monospace;
  font-size: 11px; }
  .norloge:before {
    content: "["; }
  .norloge:after {
    content: "]"; }

/* Ligne de tribune */
p.chat {
  margin: 3px 0px 0px 0px;
  /* pseudo */
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: 0px;
  margin-bottom: -2px;
  padding-top: 0px;
  padding-bottom: 0px; }
  p.chat .board-left > b:first-of-type {
    color: #93877b;
    font-family: monospace;
    font-size: 11px; }

.highlighted {
  background: rgba(76, 87, 95, 0.16);
  border-top: 1px solid #4c575f !important;
  border-bottom: 1px solid #4c575f !important; }

.board-right a {
  font-size: small;
  color: #0000EE;
  font-weight: inherit;
  font-weight: bold; }
  .board-right a:hover {
    text-decoration: inherit; }
  .board-right a:visited {
    color: #551A8B; }
.board-right .totoz {
  color: #2EA4FF; }

#boards-show #container .inbox p.chat {
  clear: both; }
#boards-show #container .inbox .board-left {
  display: block;
  float: left;
  width: 180px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: 0px;
  margin-bottom: 0px; }
#boards-show #container .inbox .board-right {
  display: block;
  margin-left: 180px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: 0px;
  margin-bottom: 0px; }
  #boards-show #container .inbox .board-right:before {
    content: "- ";
    font-weight: bold; }
  #boards-show #container .inbox .board-right time {
    color: #0000EE;
    margin-top: 0px;
    margin-bottom: 0px; }
#boards-show #container .inbox .myPost {
  color: #CC0000;
  font-weight: bold; }

/* Proposition de contenu */
#wiki_help {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background: #f9f9f9;
  border-collapse: collapse; }
  #wiki_help tr {
    width: 100%;
    border-bottom: 1px solid #a99c90; }
    #wiki_help tr:last-of-type {
      border-bottom: none; }
    #wiki_help tr td {
      width: 50%;
      border-right: 1px solid #a99c90;
      padding: 4px 0px; }
      #wiki_help tr td:last-of-type {
        border-right: none; }

input#news_title,
input#comment_title,
input#diary_title,
input#tracker_title,
input#post_title,
input#poll_title,
input#wiki_page_title,
input#stylesheet {
  width: 70%; }

.fieldWithErrors input {
  border: 1px solid red; }

/* url dans les depeches */
div#form_links fieldset {
  border: none; }
  div#form_links fieldset label {
    display: inline-block; }
div#form_links label#label-link-name,
div#form_links label#label-link-url {
  width: 30%; }
div#form_links .link {
  padding-top: 2px;
  padding-bottom: 2px; }
div#form_links .link input {
  width: 30%; }
div#form_links label#label-link-lang {
  width: 10%; }
div#form_links .link select {
  min-width: 10%;
  max-width: 20%; }
div#form_links .link .remove {
  font-size: small; }

#news_message {
  width: 100%; }

/* Moderation */
/* TODO styler "ajouter un lien" */
#moderation_box.box li {
  list-style: disc inside; }
#moderation_box .board input#board_message {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px; }

body#news-show #redaction .score, body#news-show #redaction .datePourCss {
  right: 0px; }
body#news-show #redaction .score {
  top: 31px; }
body#news-show #redaction .datePourCss {
  top: 0px; }

#redaction #edition {
  margin-top: 69px;
  padding-left: 3px;
  padding-right: 3px;
  float: left;
  width: 60%; }
  #redaction #edition .paragraph {
    margin-bottom: 15px; }

#redaction #chat {
  margin-top: 69px;
  padding-left: 3px;
  padding-right: 3px;
  float: right;
  width: 38%; }
  #redaction #chat .inbox p {
    margin: 2px 0px; }
  #redaction #chat .inbox p.edition:before, #redaction #chat .inbox p.locking:before {
    content: "Δ ";
    color: orange; }
  #redaction #chat .inbox p.creation:before {
    content: "+ ";
    color: lime; }

#news_board .board #board_message {
  width: 95%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px; }

#news_vote div .button_to,
#news_vote div .button_to div {
  display: inline; }

div#toolbar {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  left: 39px;
  right: 27px;
  background: #f9f9f9;
  border: 1px solid #a99c90;
  color: #93877b;
  font-size: x-small; }
  div#toolbar #toolbar_items {
    float: right; }
  div#toolbar #toolbar_threeshold {
    float: left; }

/* tableau de bord et tracker */
body#trackers-index .toolbox .new_content {
  margin-bottom: 10px; }

body#dashboard-index #contents table,
body#trackers-index #contents table {
  border-collapse: collapse;
  padding: 0px;
  clear: right; }
  body#dashboard-index #contents table th,
  body#trackers-index #contents table th {
    background: #e9e6e4; }
  body#dashboard-index #contents table tr,
  body#trackers-index #contents table tr {
    width: 100%;
    border-bottom: 1px solid #a99c90; }
    body#dashboard-index #contents table tr:last-of-type,
    body#trackers-index #contents table tr:last-of-type {
      border-bottom: none; }
  body#dashboard-index #contents table td, body#dashboard-index #contents table th,
  body#trackers-index #contents table td,
  body#trackers-index #contents table th {
    border-right: 1px solid #a99c90; }
    body#dashboard-index #contents table td:last-of-type, body#dashboard-index #contents table th:last-of-type,
    body#trackers-index #contents table td:last-of-type,
    body#trackers-index #contents table th:last-of-type {
      border-right: none; }
    body#dashboard-index #contents table td.date, body#dashboard-index #contents table th.date,
    body#trackers-index #contents table td.date,
    body#trackers-index #contents table th.date {
      white-space: nowrap; }
    body#dashboard-index #contents table td.number, body#dashboard-index #contents table th.number,
    body#trackers-index #contents table td.number,
    body#trackers-index #contents table th.number {
      text-align: right;
      padding-right: 2px; }
  body#dashboard-index #contents table a[href],
  body#trackers-index #contents table a[href] {
    color: #0000EE;
    font-weight: inherit; }
    body#dashboard-index #contents table a[href]:hover,
    body#trackers-index #contents table a[href]:hover {
      text-decoration: inherit; }
    body#dashboard-index #contents table a[href]:visited,
    body#trackers-index #contents table a[href]:visited {
      color: #551A8B; }

#tracker .fixed a, #tracker .invalid a, #my_trackers .fixed a, #my_trackers .invalid a, .tracker .fixed a, .tracker .invalid a {
  text-decoration: line-through; }

/* page d'historique de wiki */
body#wiki_pages-revision #contents pre {
  width: 100%;
  white-space: pre-wrap; }
body#wiki_pages-revision #contents ins {
  text-decoration: none;
  background: lime; }
body#wiki_pages-revision #contents del {
  text-decoration: line-through;
  background: red; }
body#wiki_pages-revision #contents nav ul {
  display: inline; }
  body#wiki_pages-revision #contents nav ul li {
    display: inline; }
    body#wiki_pages-revision #contents nav ul li:last-of-type {
      float: right; }
      body#wiki_pages-revision #contents nav ul li:last-of-type:after {
        content: " »"; }
    body#wiki_pages-revision #contents nav ul li:first-of-type {
      float: left; }
      body#wiki_pages-revision #contents nav ul li:first-of-type:before {
        content: "« "; }
      body#wiki_pages-revision #contents nav ul li:first-of-type:after {
        content: ""; }

body#static-show #contents a[href],
body#sections-index #contents a[href],
body#admin-index #container > ul a[href],
body#wiki_pages-changes #contents a[href] {
  color: #0000EE;
  font-weight: inherit; }
  body#static-show #contents a[href]:hover,
  body#sections-index #contents a[href]:hover,
  body#admin-index #container > ul a[href]:hover,
  body#wiki_pages-changes #contents a[href]:hover {
    text-decoration: inherit; }
  body#static-show #contents a[href]:visited,
  body#sections-index #contents a[href]:visited,
  body#admin-index #container > ul a[href]:visited,
  body#wiki_pages-changes #contents a[href]:visited {
    color: #551A8B; }

img, textarea {
  max-width: 100%; }
