/* line 4, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 22, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }
  /* line 53, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    /* line 58, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp h1 img {
      margin: 0; }
  /* line 60, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em; }
  /* line 64, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  /* line 69, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  /* line 74, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  /* line 79, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold; }
  /* line 83, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
    margin: 0; }
  /* line 85, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp p {
    margin: 0 0 1.5em; }
    /* line 87, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp p img.left {
      display: inline;
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
    /* line 91, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp p img.right {
      display: inline;
      float: right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0; }
  /* line 95, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp a {
    text-decoration: underline;
    color: #000099; }
    /* line 12, ../../../../gem/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:visited {
      color: #000066; }
    /* line 15, ../../../../gem/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:focus {
      color: black; }
    /* line 18, ../../../../gem/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:hover {
      color: black; }
    /* line 21, ../../../../gem/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:active {
      color: #cc0099; }
  /* line 98, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  /* line 102, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp strong {
    font-weight: bold; }
  /* line 104, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp em {
    font-style: italic; }
  /* line 106, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dfn {
    font-style: italic;
    font-weight: bold; }
  /* line 109, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp sup, body.bp sub {
    line-height: 0; }
  /* line 111, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp abbr, body.bp acronym {
    border-bottom: 1px dotted #666; }
  /* line 113, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp address {
    margin: 0 0 1.5em;
    font-style: italic; }
  /* line 116, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp del {
    color: #666; }
  /* line 118, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp pre {
    margin: 1.5em 0;
    white-space: pre; }
  /* line 121, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp pre, body.bp code, body.bp tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  /* line 123, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp li ul, body.bp li ol {
    margin: 0 1.5em; }
  /* line 125, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  /* line 128, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  /* line 131, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dl {
    margin: 0 0 1.5em 0; }
    /* line 133, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp dl dt {
      font-weight: bold; }
  /* line 135, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dd {
    margin-left: 1.5em; }
  /* line 137, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp table {
    margin-bottom: 1.4em;
    width: 100%; }
  /* line 140, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp th {
    font-weight: bold; }
  /* line 142, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp thead th {
    background: #c3d9ff; }
  /* line 144, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp th, body.bp td, body.bp caption {
    padding: 4px 10px 4px 5px; }
  /* line 146, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp tr.even td {
    background: #e5ecf9; }
  /* line 148, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp tfoot {
    font-style: italic; }
  /* line 150, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp caption {
    background: #eee; }
  /* line 152, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp .quiet {
    color: #666666; }
  /* line 154, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp .loud {
    color: #111111; }

/* line 36, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9; }
/* line 39, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee; }
/* line 42, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee; }
/* line 44, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }
/* line 46, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff; }

/* line 9, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .clear {
  clear: both; }
/* line 12, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .nowrap {
  white-space: nowrap; }
/* line 16, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .clearfix {
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../gem/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.bp .clearfix {
    display: block; }
/* line 18, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }
/* line 22, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }
/* line 26, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .first {
  margin-left: 0;
  padding-left: 0; }
/* line 29, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .last {
  margin-right: 0;
  padding-right: 0; }
/* line 32, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .top {
  margin-top: 0;
  padding-top: 0; }
/* line 35, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0; }
/* line 7, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
body.bp .showgrid {
  background: url('/images/grid.png?1267565624'); }
/* line 5, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }
  /* line 30, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .error a {
    color: #8a1f11; }
/* line 7, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324; }
  /* line 38, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .notice a {
    color: #514721; }
/* line 9, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }
  /* line 46, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .success a {
    color: #264409; }
/* line 11, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .hide {
  display: none; }
/* line 13, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .highlight {
  background: yellow; }
/* line 15, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .added {
  background: #006600;
  color: white; }
/* line 17, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .removed {
  background: #990000;
  color: white; }

/* line 15, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp label {
  font-weight: bold; }
/* line 17, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }
/* line 20, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em; }
/* line 24, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px; }
/* line 28, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.title {
  font-size: 1.5em; }
/* line 30, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em; }
/* line 34, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px; }
/* line 37, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp select {
  margin: 0.5em 0; }
/* line 48, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  border: 1px solid #cccccc; }
/* line 50, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title,
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb; }
  /* line 54, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  form.bp input.text:focus, form.bp input.title:focus,
  form.bp textarea:focus,
  form.bp select:focus {
    border: 1px solid #666666; }
/* line 41, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title {
  width: 300px; }
/* line 43, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  width: 390px;
  height: 250px; }

/* line 27, ../../app/stylesheets/screen.sass */
body.three-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../gem/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.three-col #container {
    display: block; }
/* line 29, ../../app/stylesheets/screen.sass */
body.three-col #header, body.three-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px; }
  /* line 101, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.three-col #header, * html body.three-col #footer {
    overflow-x: hidden; }
/* line 31, ../../app/stylesheets/screen.sass */
body.three-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px; }
  /* line 101, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.three-col #sidebar {
    overflow-x: hidden; }
/* line 35, ../../app/stylesheets/screen.sass */
body.three-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px; }
  /* line 101, ../../../../gem/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.three-col #content {
    overflow-x: hidden; }
