.statistics meter {
  display: block;
  background: rgba(76, 87, 95, 0.33);
  border-top: 1px solid #4c575f;
  border-bottom: 1px solid #4c575f;
  font-size: x-small; }
  .statistics meter.category {
    background-color: green; }
  .statistics meter.opened {
    background-color: red; }
  .statistics meter.fixed {
    background-color: green; }
  .statistics meter.invalid {
    background-color: olive; }
  .statistics meter.month_new {
    background-color: red; }
  .statistics meter.remaining {
    background-color: darkred; }
  .statistics meter.month_fixed {
    background-color: green; }
  .statistics meter.month_invalid {
    background-color: olive; }
  .statistics meter.misc {
    background-color: green; }
  .statistics meter.account {
    background-color: olive; }
  .statistics meter.accountrecent {
    background-color: green; }
  .statistics meter.accountinactive {
    background-color: darkred; }
  .statistics meter.accountrecentinactive {
    background-color: red; }
  .statistics span.score {
    color: "#333"; }
    .statistics span.score:before {
      content: " ["; }
    .statistics span.score:after {
      content: "] "; }
.statistics .top_or_flop {
  float: left;
  width: 48%; }
