/* Layout */
body, nav, header, aside, section, footer, article { margin: 0; padding: 5px; display: block; }
header  { float: left; clear: left; width: 211px; }
aside   { float: left; clear: left; width: 211px; }
section { width: 1000px; margin-left: 225px; }
footer  { clear: both; }
nav     { background-color: #fcc; }
aside   { background-color: #cfc; }
section { background-color: #ffd; }
footer  { background-color: #ccf; }

/* Logo */
header h1 { display: block; width: 201px; height: 186px; }
header h1 a { display: block; text-indent: -9999em; width: 100%; height: 100%; }

/* Nav and footer */
nav ul, footer ul { display: inline; width: 100%; }
nav li, footer li { display: inline; padding: 5px 10px; list-style: none; }
nav li:hover { background-color: #faa; }
nav form { float: right; }
footer li:hover { background-color: #aaf; }

/* Site amis */
article.friends ul { list-style: none; padding: 0; }
article.friends a { display: block; padding: 5px; }
article.friends a:hover { background-color: #afa; }

/* Contenus */
section article { background-color: #ffb; border: 1px solid; -moz-border-radius: 15px; margin: 10px; }

/* Divers et variés */
h2 { color: #333; }
aside .login p { font-weight: bold; }
.comment { border:1px solid black; }
#tracker .fix a, #tracker .invalid a { text-decoration: line-through; }
.tracker.fix a, .tracker.invalid a { text-decoration: line-through; }
.avatar { float:left; margin: 5px 10px; }

