=h1 "Nouvelles dépêches"

- content_for :column do
  = render 'moderation/polls/box'
  = render 'moderation/interviews/box'

- if @news.empty?
  Aucune dépêche dans la file de modération.
- else
  = render @news
