=h1 "Visualiser une modification"

%h2
  #{@commit.committer} : #{@commit.message}

- @commit.fields.each do |field|
  - old = @commit.old_field(field)
  - new = @commit.new_field(field)
  %h3
    = WikiPage.human_attribute_name(field.to_s).gsub(/^l[ae]/, '').titleize
  %pre
    = HTMLDiff.diff(old, new)
