=h1 "Modifier cette section"

%p
  L’image associée à cette section est versionnée dans le dépôt Git.
  C’est le fichier <kbd>public/images/sections/#{@section.id}.png</kbd>

= form_for [:admin, @section] do |form|
  = render form
