%article{:class => 'content vcard'}
  %h2
    = link_to user.name, user, :class => 'fn url'
  %figure.image
    = avatar_url(user)
  - unless user.account && user.account.active?
    %p
      Compte fermé
  - if user.homesite
    %p
      Site personnel : #{link_to user.homesite, user.homesite, :class => 'url'}
  - if user.jabber_id
    %p
      Jabber ID : #{link_to 'xmpp:' + user.jabber_id, 'xmpp:' + user.jabber_id, :class => 'url'}
