=h1 "Karma insuffisant"
%p
  En raison d’un #{link_to "karma trop faible", "/aide#aide-karma"},
  ce compte n’est actuellement pas autorisé à écrire des #{@content_type} sur le site.
%img(src="/images/403.png" alt="Image d’interdiction")
