=h1 "Édition impossible : #{@content_type} ayant dépassé le délai de modification"
%p
  Un contenu de type #{@content_type} ne peut plus être modifié passées #{@period_in_minutes} minutes.
%img(src="/images/403.png" alt="Image d’interdiction")
