/*!
Linuxfr Solarized stylesheet
@author : Yves Brissaud <yves.brissaud@gmail.com>
Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
Version 0.2
https://github.com/CrEv/linuxfr-solarized
*/

/*!
Initial code from:
KNACSS.com @author : Raphael Goetter, Alsacreations
Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
*/

/* ----------------------------- */
/* summary                       */
/* ----------------------------- */
/*
0- mixins
1- colors
2- reset
3- layout and modules
4- header
5- sidebar
6- footer
7- forms
8- main
*/

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Numans);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700);

@mixin triangle_topleft($color) {
  width: 0;
  height: 0;
  border-top: 60px solid $color;
  border-right: 60px solid transparent;
}

@mixin badge {
  position: relative;
  font-size: 1.6em;
  font-weight: bold;
  height: 50px;
  width: 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 14px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    border-bottom: 35px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: 35px;
    left: -5px;
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    -o-transform: rotate(-140deg);
  }
  &:after {
    left: auto;
    right: -5px;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg);
  }
}

@mixin border_radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

@mixin input_to_link($color, $backcolor) {
  background: none;
  color: $color;
  border: none;
  padding: 0;
  vertical-align: baseline;
  cursor: pointer;
  &:hover {
    background: $backcolor;
  }
}

@mixin msg_box($color) {
  text-align: center;
  padding-top: 10px;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  height: 60px;
  background: $color;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  &:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 16px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid $color;
    border-bottom: 13px solid transparent;
  }
}

@function gradient_bar_color($color) {
  @return lighten($color, 30%);
}

@mixin statistic_bar($barcolor, $color) {
  word-wrap: normal;
  border: 1px solid $barcolor;
  color: $color;
  @include gradient_vertical($barcolor, gradient_bar_color($barcolor));
}

/* ----------------------------- */
/* ==colors                      */
/* ----------------------------- */
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

/* ----------------------------- */
/*   ==reset                     */
/* ----------------------------- */

/* base font-size corresponds to 10px */
html {
  font-size: 62.5%;
  background-color: #fff;
  color: #000;
}
body {
  font-family: "Numans", arial, helvetica, sans-serif;
  line-height: 1.4; /* adapt to your design */
}
h1,
h2,
h3,
h4,
h5,
h6,
figure.datePourCss,
figure.score {
  font-family: "Josefin Sans", arial, helvetica, sans-serif;
  font-weight: normal;
}

.content,
.comment {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Josefin Slab", arial, helvetica, sans-serif;
  }
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

/* HTML5 tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* soft reset */
html,
body,
blockquote,
ul,
ol,
form {
  margin: 0;
  padding: 0;
}
ul,
ol {
  padding-left: 2em;
}
figure {
  /* webkit reset */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  /* firefox reset */
  margin: 0;
}

/* font-sizing for content */
p,
li,
td,
th,
textarea {
  font-size: 1.4em;
}
li li,
li p,
td p,
th p,
input {
  font-size: 100%;
}
li h1,
li h2,
li h3,
li h4,
li h5,
li h6 {
  font-size: 140%;
}
h1 {
  font-size: 2.4em;
} /* 24 pixels */
h2 {
  font-size: 2em;
} /* 20 pixels */
h3 {
  font-size: 1.8em;
} /* 18 pixels */
h4 {
  font-size: 1.6em;
} /* 16 pixels */
h5 {
  font-size: 1.4em;
} /* 14 pixels */

/* avoid collapsing margins */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
p:first-child {
  margin-top: 0;
}

/* avoid last paragraph bottom margin */
p:last-child {
  margin-bottom: 0;
}

/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
object,
embed,
video {
  max-width: 100%;
  height: auto;
}

/* you shall not pass */
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p {
  word-wrap: break-word;
}
code,
pre,
samp {
  white-space: pre-wrap;
}

/* links */
a img {
  border: 0;
}

/* icons */

/* buttons */

/* gradients */
@mixin gradient_vertical($startcolor, $endcolor) {
  background-color: $endcolor;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(
    top,
    $startcolor,
    $endcolor
  ); /* FF 3.6+ */
  background-image: -ms-linear-gradient(top, $startcolor, $endcolor); /* IE10 */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $startcolor),
    color-stop(100%, $endcolor)
  ); /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(
    top,
    $startcolor,
    $endcolor
  ); /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(
    top,
    $startcolor,
    $endcolor
  ); /* Opera 11.10 */
  background-image: linear-gradient(
    top,
    $startcolor,
    $endcolor
  ); /* The standard */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$startcolor, endColorstr=$endcolor, GradientType=0); /* IE9 and down */
}
/* http://www.colorzilla.com/gradient-editor/ */

/* ----------------------------- */
/* ==layout and modules          */
/* ----------------------------- */

/*  switching box model for all elements */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----------------------------- */
/* ==header                      */
/* ----------------------------- */
@mixin solarized_header(
  $rebase03,
  $rebase02,
  $rebase01,
  $rebase00,
  $rebase0,
  $rebase1,
  $rebase2,
  $rebase3
) {
  #site {
    background: $rebase02;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    * {
      display: inline-block;
    }
    li.active a {
      color: $orange;
    }
    li + li {
      margin-left: 0.5em;
    }
    li + li:before {
      content: "|";
      margin-right: 0.5em;
    }
  }
  @media screen and (max-width: 959px) {
    /*#branding, #branding h1 {
            background-color: transparent !important;
        }*/
    #site .go_to_content {
      text-align: center;
      a {
        color: $yellow;
        background: $rebase02;
        font-weight: bold;
        font-size: 1.4em;
        & + a {
          padding-left: 1em;
        }
      }
    }
  }
  @media screen and (max-width: 650px) {
    #branding {
      background-color: $rebase02;
    }
  }
  #branding h1 {
    width: 221px;
    height: 206px;
    a {
      display: block;
      height: 100%;
      text-indent: -9999em;
      width: 100%;
      &:hover {
        background: transparent;
      }
    }
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    padding: 10px;
    background: $rebase02;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin-top: 0 !important;
  }
}

/* ----------------------------- */
/* ==sidebar                     */
/* ----------------------------- */
@mixin solarized_sidebar(
  $rebase03,
  $rebase02,
  $rebase01,
  $rebase00,
  $rebase0,
  $rebase1,
  $rebase2,
  $rebase3
) {
  #sidebar {
    width: 226px;
    color: $rebase01;
    @include accentize($rebase01, $rebase02);
    h1 {
      margin-bottom: 0.2em;
      margin-top: 0.8em;
    }
    li {
      font-size: 1.2em;
    }
    .new_content {
      font-size: 1.4em;
      a {
        color: $rebase1;
        &:before {
          font-size: 2em;
          content: "\270E ";
          color: $cyan;
        }
      }
    }
  }
}

/* ----------------------------- */
/* ==footer                      */
/* ----------------------------- */
@mixin solarized_footer(
  $rebase03,
  $rebase02,
  $rebase01,
  $rebase00,
  $rebase0,
  $rebase1,
  $rebase2,
  $rebase3
) {
  #bigfooter {
    clear: both;
    background: $rebase02;
    padding: 1em;
    margin-top: 1em;
  }
  #last_comments,
  #popular_tags,
  #friends,
  #about_us {
    display: inline-block;
    width: 230px;
    vertical-align: top;
    h1 {
      font-size: 1.4em;
    }
  }
}

@mixin solarized_toolbar(
  $rebase03,
  $rebase02,
  $rebase01,
  $rebase00,
  $rebase0,
  $rebase1,
  $rebase2,
  $rebase3
) {
  #toolbar {
    padding: 0.5em;
    background: $rebase02;
    #toolbar_items {
      float: right;
    }
    #toolbar_alt_items {
      float: right;
      margin-right: 20px;
    }
  }
}

/* ----------------------------- */
/* ==forms                       */
/* ----------------------------- */

form,
fieldset {
  border: none;
}
input,
button,
select {
  vertical-align: middle; /* @bugfix alignment */
}

@mixin solarized_forms(
  $rebase03,
  $rebase02,
  $rebase01,
  $rebase00,
  $rebase0,
  $rebase1,
  $rebase2,
  $rebase3
) {
  input[type="text"] {
    background: lighten($rebase03, 10%);
    border: 1px solid darken($rebase02, 10%);
    color: $rebase0;
  }
  input[type="submit"] {
    background: lighten($rebase03, 10%);
    color: $rebase0;
    border: 2px solid darken($rebase02, 10%);
  }
}

/* ----------------------------- */
/* ==main                        */
/* ----------------------------- */
@mixin solarized_container(
  $rebase03,
  $rebase02,
  $rebase01,
  $rebase00,
  $rebase0,
  $rebase1,
  $rebase2,
  $rebase3
) {
  .misspelled {
    color: $red !important;
  }
  .edit_account,
  .new_tracker {
    label {
      float: left;
      width: 250px;
    }
    label.factice {
      font-weight: bold;
      clear: both;
    }
    .help {
      color: $cyan;
      font-style: italic;
      font-size: 0.8em;
      display: block;
    }
  }

  table {
    max-width: 734px;
    background: $rebase02;
  }
  th {
    word-break: break-all;
  }
  td {
    background: $rebase03;
    padding-left: 1px;
    padding-right: 1px;
  }
  tr.fixed td:nth-child(2) a {
    color: $blue !important;
  }
  tr.invalid td:nth-child(2) a {
    color: $red !important;
  }
  #tracker {
    td:nth-child(2),
    td:nth-child(10) {
      word-break: break-all;
    }
  }

  .banner {
    margin-top: 2em;
    padding: 1em;
    background: $rebase02;
    border: 0.5em solid $rebase01;
    text-align: center;
  }

  #chat {
    color: $rebase01;
    @include accentize($rebase01, $rebase02);
  }
  #container,
  #edition {
    margin-bottom: 1em;
    @include accentize($yellow, $rebase02);

    > h1 {
      display: none;
    }
    .toolbox {
      margin-bottom: 1em;
      padding: 0.5em;
    }
    .follow_feed {
      display: none;
    }
    .new_content {
      @include msg_box($rebase02);
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .order_navbar {
      * {
        display: inline-block;
      }
      ul li {
        font-size: 1em;
      }
    }

    header {
      padding-left: 80px;
      padding-right: 49px;
      h1 {
        margin-bottom: 0.2em;
      }
      .topic {
        font-size: small;
        &:before {
          content: "[";
        }
        &:after {
          content: "]";
        }
      }
      padding-bottom: 1em;
      .meta {
        * {
          display: inline-block;
        }
        input {
          @include input_to_link($yellow, $rebase02);
        }
        .tags ul li .add_tag {
          background: url(/images/icones/tag.png) no-repeat 0 6px;
        }
        .tags ul li .remove_tag {
          background: url(/images/icones/x.png) no-repeat 0 6px;
        }
        .tags ul li .add_tag,
        .tags ul li .remove_tag {
          display: inline-block;
          text-indent: -9998em;
          height: 20px;
          width: 12px;
          padding: 0;
          border: none;
        }
      }
    }
    .figures {
      .image {
        float: left;
        margin-right: 2.5em;
        margin-bottom: 0.5em;
      }
      .score {
        position: absolute !important;
        top: 4px;
        right: 11px;
      }
    }
    .datePourCss {
      @include triangle_topleft($rebase01);
      position: absolute;
      top: 0em;
      left: 0em;
    }
    .jour {
      color: $rebase02;
      position: absolute;
      margin-top: -58px;
      margin-left: 2px;
      font-size: 1.5em;
      font-weight: bold;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
    .mois {
      color: $rebase02;
      position: absolute;
      margin-top: -47px;
      margin-left: 10px;
      font-size: 1.5em;
      font-weight: bold;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
    .annee {
      display: none;
    }
    article.new-node h1 {
      @include accentize_link($orange, $rebase02);
    }

    article .score {
      @include badge;
    }

    article.score0 .score,
    article.score1 .score {
      background: $rebase01;
      color: $rebase02;
      &:before,
      &:after {
        border-bottom-color: $rebase01;
      }
    }
    article.score2 .score,
    article.score3 .score,
    article.score4 .score,
    article.score5 .score {
      background: $blue;
      color: $rebase02;
      &:before,
      &:after {
        border-bottom-color: $blue;
      }
    }
    article.score6 .score,
    article.score7 .score,
    article.score8 .score,
    article.score9 .score,
    article.score10 .score {
      background: $cyan;
      color: $rebase02;
      &:before,
      &:after {
        border-bottom-color: $cyan;
      }
    }
    article.score-1 .score,
    article.score-2 .score,
    article.score-3 .score,
    article.score-4 .score {
      background: $orange;
      color: $rebase02;
      &:before,
      &:after {
        border-bottom-color: $orange;
      }
    }
    article.score-5 .score,
    article.score-6 .score,
    article.score-7 .score,
    article.score-8 .score,
    article.score-9 .score,
    article.score-10 .score {
      background: $red;
      color: $rebase02;
      &:before,
      &:after {
        border-bottom-color: $red;
      }
    }
    article {
      position: relative;
      padding: 0.5em;
      @include gradient_vertical($rebase02, $rebase03);
      .content {
        min-height: 2em;
      }
    }
    article + article {
      margin-top: 1em;
    }
    article + ul {
      margin-top: 1em;
    }
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    #phare article {
      border: 0.5em solid $rebase01;
      @include accentize($blue, $rebase02);
    }

    .sommaire {
      margin-top: 0.5em;
      margin-left: 80px;
    }
    .sommaire + ul {
      margin-left: 80px;
    }

    footer.actions {
      margin-top: 1em;
      * {
        display: inline-block;
      }
      input {
        @include input_to_link($yellow, $rebase02);
      }
      .new_comments {
        font-size: 1.2em;
        font-weight: bold;
        @include accentize($orange, $rebase02);
        .visit {
          color: $orange;
        }
      }
    }

    #send-comment {
      @include msg_box($rebase02);
      margin-top: 1em;
    }

    .content {
      blockquote {
        margin-left: 1em;
        padding-left: 1em;
        border-left: 3px solid $violet;
        blockquote {
          border-left: 3px solid $cyan;
          blockquote {
            border-left: 3px solid $magenta;
            blockquote {
              border-left: 3px solid $green;
              blockquote {
                border-left: 3px solid $orange;
                blockquote {
                  border-left: 3px solid $red;
                  blockquote {
                    border-left: 3px solid $yellow;
                  }
                }
              }
            }
          }
        }
      }
      h1[id^="toc_"],
      h2[id^="toc_"],
      h3[id^="toc_"],
      h4[id^="toc_"],
      h5[id^="toc_"],
      h6[id^="toc_"] {
        &:hover:after {
          content: " \00A7";
        }
      }
    }

    .threads {
      margin-top: 2em;
      margin-bottom: 1em;
      padding-left: 0px;
      > li {
        border-left: 0.5em solid $rebase02;
        padding-left: 0.5em;
        @include gradient_vertical($rebase02, $rebase03);
      }
      .new-comment h2 {
        @include accentize($orange, $rebase02);
      }
    }
    .comment {
      list-style-type: none;
      .content {
        padding: 0.5em;
        @include accentize($blue, $rebase02);
        .signature {
          color: $rebase01;
          font-style: italic;
        }
        .signature:before {
          white-space: pre-line;
          content: "-- \a";
        }
        min-height: 64px;
      }
      li {
        margin-top: 1em;
        margin-bottom: 1em;
      }
      > h2 {
        margin-bottom: 0px;
        padding: 0.3em;
        background: $rebase02;
      }
      .meta {
        margin-top: 0px;
        margin-bottom: 0.3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        color: $rebase01;
        font-size: 0.8em;
      }
      .content {
        border-left: 1px solid $rebase02;
      }
      .image {
        float: right;
      }
      footer {
        padding-top: 0.5em;
        font-size: 0.8em;
        input {
          @include input_to_link($yellow, $rebase02);
        }
        * {
          display: inline-block;
        }
        .vote {
          font-style: italic;
        }
        .vote:before {
          content: "(";
        }
        .vote:after {
          content: ")";
        }
      }
    }

    .comment.fold {
      & > .image {
        display: none;
      }
      & > .content {
        display: none;
      }
      & > .actions {
        display: none;
      }
    }

    #comment_new {
      @include gradient_vertical($rebase02, $rebase03);
    }
  }

  .poll .result {
    @include statistic_bar($green, $rebase2);
  }

  .board .inbox {
    font-size: 0.8em;
    p {
      clear: both;
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
      margin-top: 0.2em;
      margin-bottom: 0;
    }
    .highlighted {
      background: lighten($blue, 30%);
    }
    .board-left {
      time {
        color: $rebase01;
      }
    }
    .board-right {
      time {
        color: $rebase1;
      }
    }
  }
  #redaction,
  #container {
    .board-left {
      display: block;
      float: left;
      width: 170px;
    }
    .board-right {
      display: block;
      margin-left: 170px;
    }
  }
  #chat .board-left {
    width: 125px;
  }
  #chat .board-right {
    margin-left: 125px;
  }

  .box h1 {
    margin-left: 1em;
  }
  .login h1 {
    text-align: center;
    margin-left: 0;
    margin-bottom: 1em;
    a:before {
      content: "\275D";
      display: inline-block;
      margin-right: 0.2em;
      color: $rebase0;
    }
    a:after {
      content: "\275E";
      display: inline-block;
      margin-left: 0.2em;
      color: $rebase0;
    }
  }
}

@mixin solarized_code(
  $rebase03,
  $rebase02,
  $rebase01,
  $rebase00,
  $rebase0,
  $rebase1,
  $rebase2,
  $rebase3
) {
  /* */
  article code {
    font-size: 1.6em;
  }
  .threads code {
    font-size: 1.2em;
  }
  pre {
    background: $rebase02;
    padding: 0.5em;
    border: 2px solid $rebase01;
  }
  code {
    .p {
      color: $rebase1;
      font-weight: bold;
    }
    .hll {
      background-color: $rebase02;
    }
    .c {
      color: $rebase01;
    } /* Comment */
    .err {
      color: $red;
    } /* Error */
    .k {
      color: $blue;
      font-weight: bold;
    } /* Keyword */
    .cm {
      color: $rebase01;
    } /* Comment.Multiline */
    .cp {
      color: $rebase01;
      font-weight: bold;
    } /* Comment.Preproc */
    .c1 {
      color: $rebase01;
    } /* Comment.Single */
    .cs {
      color: $rebase01;
      font-weight: bold;
    } /* Comment.Special */
    .gd {
      color: $rebase0;
    } /* Generic.Deleted */
    .ge {
      font-style: italic;
    } /* Generic.Emph */
    .gr {
      color: $red;
    } /* Generic.Error */
    .gh {
      color: $rebase1;
    } /* Generic.Heading */
    .gi {
      color: $rebase1;
    } /* Generic.Inserted */
    .go {
      color: $rebase0;
    } /* Generic.Output */
    .gp {
      color: $rebase0;
    } /* Generic.Prompt */
    .gs {
      font-weight: bold;
    } /* Generic.Strong */
    .gu {
      color: $rebase0;
    } /* Generic.Subheading */
    .gt {
      color: $rebase1;
    } /* Generic.Traceback */
    .kc {
      color: $blue;
      font-weight: bold;
    } /* Keyword.Constant */
    .kd {
      color: $blue;
      font-weight: bold;
    } /* Keyword.Declaration */
    .kn {
      color: $blue;
      font-weight: bold;
    } /* Keyword.Namespace */
    .kp {
      color: $blue;
    } /* Keyword.Pseudo */
    .kr {
      color: $blue;
      font-weight: bold;
    } /* Keyword.Reserved */
    .kt {
      color: $rebase0;
      font-weight: bold;
    } /* Keyword.Type */
    .m {
      color: $cyan;
      font-weight: bold;
    } /* Literal.Number */
    .s {
      color: $green;
    } /* Literal.String */
    .na {
      color: $violet;
    } /* Name.Attribute */
    .nb {
      color: $rebase1;
    } /* Name.Builtin */
    .nc {
      color: $orange;
      font-weight: bold;
    } /* Name.Class */
    .no {
      color: $rebase1;
      font-weight: bold;
    } /* Name.Constant */
    .nd {
      color: $rebase1;
    } /* Name.Decorator */
    .ne {
      color: $orange;
      font-weight: bold;
    } /* Name.Exception */
    .nf {
      color: $blue;
      font-weight: bold;
    } /* Name.Function */
    .nl {
      color: $violet;
      font-style: italic;
    } /* Name.Label */
    .nn {
      color: $orange;
      font-weight: bold;
    } /* Name.Namespace */
    .py {
      color: $violet;
      font-weight: bold;
    } /* Name.Property */
    .nt {
      color: $orange;
      font-weight: bold;
    } /* Name.Tag */
    .nv {
      color: $violet;
    } /* Name.Variable */
    .ow {
      color: $blue;
    } /* Operator.Word */
    .w {
      color: $rebase1;
    } /* Text.Whitespace */
    .mf {
      color: $cyan;
      font-weight: bold;
    } /* Literal.Number.Float */
    .mh {
      color: $cyan;
      font-weight: bold;
    } /* Literal.Number.Hex */
    .mi {
      color: $cyan;
      font-weight: bold;
    } /* Literal.Number.Integer */
    .mo {
      color: $cyan;
      font-weight: bold;
    } /* Literal.Number.Oct */
    .sb {
      color: $green;
    } /* Literal.String.Backtick */
    .sc {
      color: $green;
    } /* Literal.String.Char */
    .sd {
      color: $green;
    } /* Literal.String.Doc */
    .s2 {
      color: $green;
    } /* Literal.String.Double */
    .se {
      color: $green;
    } /* Literal.String.Escape */
    .sh {
      color: $green;
    } /* Literal.String.Heredoc */
    .si {
      color: $green;
    } /* Literal.String.Interpol */
    .sx {
      color: $green;
    } /* Literal.String.Other */
    .sr {
      color: $blue;
    } /* Literal.String.Regex */
    .s1 {
      color: $green;
    } /* Literal.String.Single */
    .ss {
      color: $green;
    } /* Literal.String.Symbol */
    .bp {
      color: $blue;
    } /* Name.Builtin.Pseudo */
    .vc {
      color: $violet;
    } /* Name.Variable.Class */
    .vg {
      color: $blue;
    } /* Name.Variable.Global */
    .vi {
      color: $blue;
    } /* Name.Variable.Instance */
    .il {
      color: $cyan;
      font-weight: bold;
    } /* Literal.Number.Integer.Long */
  }
}

@mixin solarized_misc(
  $rebase03,
  $rebase02,
  $rebase01,
  $rebase00,
  $rebase0,
  $rebase1,
  $rebase2,
  $rebase3
) {
  .notice {
    @include gradient_vertical($rebase02, $rebase03);
    border: 0.5em solid $rebase02;
    padding: 0.5em;
    color: $rebase1;
    font-weight: bold;
    font-size: 1.4em;
  }
}

@mixin positionning_media_queries() {
  #toolbar {
    position: fixed;
    bottom: 0;
  }
  /*@media screen and (min-width: 1025px) {

    }*/
  @media screen and (min-width: 960px) {
    /*and (max-width: 1024px) {*/
    .go_to_content {
      display: none !important;
    }
    #sidebar {
      padding-right: 1em;
      float: left;
    }
    #container,
    #edition {
      width: 734px;
    }
    #container {
      padding-left: 1em;
      float: right;
    }
    #edition {
      width: 593px;
      float: left;
      padding-right: 1em;
    }
    #chat {
      width: 367px;
      padding-left: 1em;
      float: right;
    }
    #toolbar {
      width: 960px;
    }
    #site {
      height: 2.4em;
      ul {
        float: left;
      }
      form {
        float: right;
      }
    }
  }
  @media screen and (min-width: 651px) and (max-width: 959px) {
    .go_to_content {
      display: none !important;
    }
    #sidebar {
      float: left;
      width: 23%;
    }
    #sidebar {
      padding-right: 1em;
      float: left;
    }
    #branding h1 {
      background-position: center;
      width: 100%;
    }
    #container,
    #edition {
      width: 76%;
      float: left;
    }
    #edition {
      width: 61%;
      float: left;
      padding-right: 1em;
    }
    #chat {
      width: 38%;
      padding-left: 1em;
      float: right;
    }
    #toolbar {
      width: 100%;
    }
    #branding,
    #sidebar .box {
      margin-bottom: 1em;
    }
  }
  @media screen and (max-width: 650px) {
    .go_to_content {
      display: block !important;
    }
    #sidebar {
      clear: both;
      width: 100%;
    }
    #branding {
      width: 100%;
      h1 {
        margin-left: auto;
        margin-right: auto;
      }
    }
    #container {
      width: 100%;
      clear: both;
      float: none;
    }
    .box {
      display: table-cell !important;
      list-style-position: inside;
      max-width: 216px;
    }
    .box + .box {
      /*margin-left: 4px;*/
    }
    .box:first-of-type {
      clear: left;
    }
    .box:last-of-type {
      clear: right;
    }
    ul {
      padding-left: 4px !important;
    }
    #toolbar {
      width: 100%;
    }
    #branding,
    #sidebar .box {
      margin-bottom: 1em;
    }
  }
  @media screen and (max-width: 350px) {
    .box {
      display: block !important;
    }
  }
}

@mixin rebase(
  $rebase03,
  $rebase02,
  $rebase01,
  $rebase00,
  $rebase0,
  $rebase1,
  $rebase2,
  $rebase3
) {
  html {
    /* base colors */
    background-color: $rebase03;
    color: $rebase0;
    * {
      color: $rebase0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $rebase1;
      border-color: $rebase0;
    }
    a,
    a:active,
    a:visited,
    a em {
      color: $rebase1;
    }
  }
  /* Call all mixins */
  @include solarized_forms(
    $rebase03,
    $rebase02,
    $rebase01,
    $rebase00,
    $rebase0,
    $rebase1,
    $rebase2,
    $rebase3
  );
  @include solarized_header(
    $rebase03,
    $rebase02,
    $rebase01,
    $rebase00,
    $rebase0,
    $rebase1,
    $rebase2,
    $rebase3
  );
  @include solarized_sidebar(
    $rebase03,
    $rebase02,
    $rebase01,
    $rebase00,
    $rebase0,
    $rebase1,
    $rebase2,
    $rebase3
  );
  @include solarized_footer(
    $rebase03,
    $rebase02,
    $rebase01,
    $rebase00,
    $rebase0,
    $rebase1,
    $rebase2,
    $rebase3
  );
  @include solarized_container(
    $rebase03,
    $rebase02,
    $rebase01,
    $rebase00,
    $rebase0,
    $rebase1,
    $rebase2,
    $rebase3
  );
  @include solarized_toolbar(
    $rebase03,
    $rebase02,
    $rebase01,
    $rebase00,
    $rebase0,
    $rebase1,
    $rebase2,
    $rebase3
  );
  @include solarized_misc(
    $rebase03,
    $rebase02,
    $rebase01,
    $rebase00,
    $rebase0,
    $rebase1,
    $rebase2,
    $rebase3
  );
  @include solarized_markItUp(
    $rebase03,
    $rebase02,
    $rebase01,
    $rebase00,
    $rebase0,
    $rebase1,
    $rebase2,
    $rebase3
  );
  @include solarized_statistics(
    $rebase03,
    $rebase02,
    $rebase01,
    $rebase00,
    $rebase0,
    $rebase1,
    $rebase2,
    $rebase3
  );
  @include solarized_ac(
    $rebase03,
    $rebase02,
    $rebase01,
    $rebase00,
    $rebase0,
    $rebase1,
    $rebase2,
    $rebase3
  );

  @include positionning_media_queries();
}
@mixin accentize_link($accent, $back) {
  a,
  a:active,
  a:visited,
  code.url,
  a em {
    color: $accent;
  }
  a:hover {
    background-color: $back;
  }
}
@mixin accentize_h($accent) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $accent;
  }
}
@mixin accentize($accent, $back) {
  @include accentize_link($accent, $back);
  @include accentize_h($accent);
}

@import "markitup";
@import "statistics";
@import "ac";

body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

.factice {
  float: left;
  text-indent: -9998em;
  overflow: hidden;
  text-align: left;
  width: 0px;
}

.pot_de_miel {
  display: none;
}
