%h2 Syntaxe Markdown
%table.vertical-align-top
  %tbody
    %tr.tr-section
      %td H1
      %td # Titre de niveau 1
    %tr
      %td H2
      %td ## Titre de niveau 2
    %tr
      %td H3
      %td ### Titre de niveau 3
    %tr.tr-section
      %td ---
      %td Ligne de séparation
    %tr.tr-section
      %td
      %td _italique_
    %tr
      %td
      %td **gras**
    %tr
      %td
      %td ~~barré~~
    %tr
      %td
      %td `teletype`
    %tr.tr-section
      %td
      %td [autre site](www.example.com/page)
    %tr
      %td
      %td [[Wikipédia]]
    %tr
      %td
      %td [[[Wiki]]] interne
    %tr.tr-section
      %td
      %td * Liste à puce
    %tr
      %td
      %td 1. Liste numérotée
    %tr
      %td
      %td > citation
    %tr.tr-section
      %td <>
      %td ```ruby<br/># Du code avec coloration syntaxique<br/>class Ruby<br/>end<br/>```
    %tr
      %td <img style="max-width:40px;" src="https://linuxfr.org/images/sections/27.png" alt="DLFP">
      %td ![DLFP](https://linuxfr.org/images/sections/27.png)
    %tr.tr-section
      %td <img style="max-height: 1em;" src="data:image/svg+xml;base64,PHN2ZyB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGlu%0AayIgc3R5bGU9IndpZHRoOiAyZXg7IGhlaWdodDogMS44NzVleDsgdmVydGlj%0AYWwtYWxpZ246IC0wLjM3NWV4OyBtYXJnaW4tdG9wOiAxcHg7IG1hcmdpbi1y%0AaWdodDogMHB4OyBtYXJnaW4tYm90dG9tOiAxcHg7IG1hcmdpbi1sZWZ0OiAw%0AcHg7IHBvc2l0aW9uOiBzdGF0aWM7ICIgdmlld0JveD0iMCAtNjUxLjU4MDcx%0AMjI5MTYwNTcgODQ3IDc5OS4xNjE0MjQ1ODMyMTE0IiB4bWxucz0iaHR0cDov%0AL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzIGlkPSJNYXRoSmF4X1NWR19n%0AbHlwaHMiPjxwYXRoIGlkPSJTVElYV0VCTUFJTi0yMjk1IiBzdHJva2Utd2lk%0AdGg9IjEwIiBkPSJNNzkyIDI1MmMwIC0yMDUgLTE2NiAtMzcxIC0zNzEgLTM3%0AMXMtMzcxIDE2NiAtMzcxIDM3MXMxNjYgMzcxIDM3MSAzNzFzMzcxIC0xNjYg%0AMzcxIC0zNzF6TTQ1NCAyODVoMjcwYy0xNSAxNDIgLTEyOCAyNTUgLTI3MCAy%0ANzB2LTI3MHpNMzg4IDI4NXYyNzBjLTE0MiAtMTUgLTI1NSAtMTI4IC0yNzAg%0ALTI3MGgyNzB6TTcyNCAyMTloLTI3MHYtMjcwYzE0MiAxNSAyNTUgMTI4IDI3%0AMCAyNzB6TTM4OCAtNTF2MjcwaC0yNzAgYzE1IC0xNDIgMTI4IC0yNTUgMjcw%0AIC0yNzBaIj48L3BhdGg+PC9kZWZzPjxnIHN0cm9rZT0iYmxhY2siIGZpbGw9%0AImJsYWNrIiBzdHJva2Utd2lkdGg9IjAiIHRyYW5zZm9ybT0ibWF0cml4KDEg%0AMCAwIC0xIDAgMCkiPjx1c2UgaHJlZj0iI1NUSVhXRUJNQUlOLTIyOTUiIHhs%0AaW5rOmhyZWY9IiNTVElYV0VCTUFJTi0yMjk1Ij48L3VzZT48L2c+PC9zdmc+%0A" alt="\oplus">
      %td $\oplus$
    %tr
      %td <svg style="width: 2ex; height: 4.875ex; vertical-align: -1.75ex; margin-top: 1px; margin-bottom: 1px; position: static; " viewBox="0 -1381.0887122916058 865 2106.6204245832114" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs id="MathJax_SVG_glyphs"><path id="STIXWEBMAIN-31" stroke-width="10" d="M394 0h-276v15c74 4 95 25 95 80v449c0 34 -9 49 -30 49c-10 0 -27 -5 -45 -12l-27 -10v14l179 91l9 -3v-597c0 -43 20 -61 95 -61v-15Z"></path><path id="STIXWEBMAINI-78" stroke-width="10" d="M243 355l12 -57c70 107 107 143 151 143c24 0 41 -15 41 -37c0 -21 -14 -36 -34 -36c-19 0 -28 17 -52 17c-18 0 -54 -44 -98 -121c0 -7 2 -21 8 -45l32 -134c7 -28 16 -41 30 -41c13 0 24 10 47 40c9 12 13 18 21 28l15 -9c-58 -90 -84 -114 -122 -114 c-32 0 -47 18 -59 68l-29 119l-88 -119c-44 -59 -64 -68 -95 -68s-50 16 -50 42c0 20 14 36 34 36c9 0 19 -4 32 -11c10 -6 20 -9 26 -9c11 0 30 19 51 49l82 116l-28 124c-14 60 -21 68 -46 68c-8 0 -20 -2 -39 -7l-18 -5l-3 16l11 4c61 22 94 29 117 29 c25 0 37 -18 51 -86Z"></path></defs><g stroke="black" fill="black" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><g transform="translate(120,0)"><rect stroke="none" width="625" height="60" x="0" y="220"></rect><use href="#STIXWEBMAIN-31" x="60" y="676" xlink:href="#STIXWEBMAIN-31"></use><use href="#STIXWEBMAINI-78" x="86" y="-686" xlink:href="#STIXWEBMAINI-78"></use></g></g></svg>
      %td $$\frac{1}{x}$$
%p <a href="https://daringfireball.net/projects/markdown/syntax">Documentation Markdown</a>
%hr
%h2 Racourcis claviers
%table
  %tbody
    %tr
      %td ’
      %td AltGr+Maj+B
    %tr
      %td ”
      %td AltGr+B
    %tr
      %td «
      %td AltGr+Z
    %tr
      %td »
      %td AltGr+X
    %tr
      %td ×
      %td AltGr+.
    %tr
      %td ·
      %td AltGr+:
    %tr
      %td ÷
      %td AltGr+Maj+:
    %tr
      %td æ et Æ
      %td AltGr(+Maj)+a
    %tr
      %td œ et Œ
      %td AltGr(+Maj)+o
%hr
%h2 Caractères spéciaux
%p
  ½ «  » ’ … ‰ € – — ‐ ⸮<br/>¹ ² ³ ⁴ ⁵ ⁶ ⁷ ⁸ ⁹ ⁰<br/>æ Æ à À â Â ä Ä<br/>ç Ç<br/>€ é É è È ê Ê ë Ë<br/>î Î ï Ï<br/>œ Œ ô Ô ö Ö<br/>ù Ù û Û ü Ü<br/>Espaces fine (&thinsp;) normal (&#32;)<br/>demi-cadratin (&ensp;) <a href="https://fr.wikipedia.org/wiki/Cadratin">cadratin</a> (&emsp;)<br/>Insécables fine (&#8239;) normal (&nbsp;)
