.order-navbar
  Trier par :
  %ul
    %li= link_to_unless @order == 'created_at', "date", params.merge(:order => 'created_at', :page => nil)
    %li= link_to_unless @order == 'score', "note", params.merge(:order => 'score', :page => nil)
    %li= link_to_unless @order == 'interest', "intérêt", params.merge(:order => 'interest', :page => nil)
    %li= link_to_unless @order == 'last_commented_at', "dernier commentaire", params.merge(:order => 'last_commented_at', :page => nil)
