.markdown_cheatsheet
  = image_tag "/images/markdown.png", :alt => "Markdown", :title => "Ce site prend en charge la syntaxe Markdown", :class => "markdown"
  %h2 Aide mémoire sur la syntaxe Wiki
  %table#wiki_help
    %tbody
      %tr
        %td Caractères spéciaux à copier-coller
        %td ½ «  » ’ … ‰ € – — ‐<br/>¹ ² ³ ⁴ ⁵ ⁶ ⁷ ⁸ ⁹ ⁰<br/>æ Æ à À â Â ä Ä<br/>ç Ç<br/>€ é É è È ê Ê ë Ë<br/>î Î ï Ï<br/>œ Œ ô Ô ö Ö<br/>ù Ù û Û ü Ü
      %tr
        %td _italique_
        %td <em>italique</em>
      %tr
        %td **gras**
        %td <strong>gras</strong>
      %tr
        %td `teletype`
        %td <code>teletype</code>
      %tr
        %td ~~barré~~
        %td <del>barré</del>
      %tr
        %td &gt; citation
        %td <blockquote>citation</blockquote>
      %tr
        %td * Liste à puces<br/>* Deuxième élément<br/>&nbsp;&nbsp;* indentation avec 2 espaces au début
        %td <ul><li>Liste à puces</li><li>Deuxième élément<ul><li>2 espaces au début</li></ul></li></ul>
      %tr
        %td 1. Liste numérotée<br/>1. Deuxième élément
        %td <ol><li>Liste numérotée</li><li>Deuxième élément</li></ol>
      %tr
        %td ![DLFP](http://linuxfr.org/images/sections/27.png)
        %td <img src="http://linuxfr.org/images/sections/27.png" alt="DLFP">
      %tr
        %td [Kernel](http://www.kernel.org/)
        %td <a href="http://www.kernel.org/">Kernel</a>
      %tr
        %td [[Wikipédia]]
        %td <a href="http://fr.wikipedia.org/wiki/Wikipédia">Wikipédia</a>
      %tr
        %td [[[Wiki]]] interne
        %td <a href="/wiki/Wiki">Wiki</a> interne
      %tr
        %td # Titre de section #<br/><br/>## Sous-titre ##<br/><br/>### Intertitre ###
        %td <h2>Titre de section</h2><h3>Sous-titre</h3><h4>Intertitre</h4>
      %tr
        %td ```ruby<br/># Du code avec coloration syntaxique<br/>class Ruby<br/>end<br/>```
        %td
          :plain
            <pre><code><span class="c1"># Du code avec coloration syntaxique</span>
            <span class="k">class</span> <span class="nc">Ruby</span>
            <span class="k">end</span>
            </code></pre>
  %p Vous pouvez également consulter <a href="http://daringfireball.net/projects/markdown/syntax">http://daringfireball.net/projects/markdown/syntax</a> et l'<a href="/wiki/Aide-Edition" title="Lien du wiki interne LinuxFr.org">aide à l'édition</a> sur le wiki.
