.markdown_cheatsheet
  %h2 Aide mémoire sur la syntaxe Wiki
  %table#wiki_help
    %tbody
      %tr
        %td Caractères spéciaux à copier/coller
        %td æ Æ à À â Â ä Ä<br/>ç Ç<br/>€ é É è È ê Ê ë Ë<br/>î Î ï Ï<br/>œ Œ ô Ô ö Ö<br/>ù Ù û Û ü Ü<br/>ÿ Ÿ<br/>¹ ² ³ ⁴ ⁵ ⁶ ⁷ ⁸ ⁹ ⁰<br/>½ «  » ~ # @ … ‰ € – —
      %tr
        %td _italique_
        %td <em>italique</em>
      %tr
        %td **gras**
        %td <strong>gras</strong>
      %tr
        %td `teletype`
        %td <code>teletype</code>
      %tr
        %td &gt; citation
        %td <blockquote>citation</blockquote>
      %tr
        %td * Liste à puces<br/>* Deuxième élément
        %td &#8226; Liste à puces<br/>&#8226; Deuxième élément
      %tr
        %td 1. Liste numérotée<br/>1. Deuxième élément
        %td 1. Liste numérotée<br/>2. Deuxième élément
      %tr
        %td [Kernel](http://www.kernel.org/)
        %td <a href="http://www.kernel.org/">Kernel</a>
      %tr
        %td [[Wikipédia]]
        %td <a href="http://fr.wikipedia.org/wiki/Wikipédia">Wikipédia</a>
      %tr
        %td # Titre de section #
        %td <h2>Titre de section</h2>
      %tr
        %td ## Sous-titre ##
        %td <h3>Sous-titre</h3>
      %tr
        %td ### Intertitre ###
        %td <h4>Intertitre</h4>
      %tr
        %td ```ruby<br/># Du code avec coloration syntaxique<br/>class Ruby<br/>end<br/>```
        %td
          :plain
            <pre><code><span class="c1"># Du code avec coloration syntaxique</span>
            <span class="k">class</span> <span class="nc">Ruby</span>
            <span class="k">end</span>
            </code></pre>
  %p Vous pouvez également consulter <a href="http://daringfireball.net/projects/markdown/syntax">http://daringfireball.net/projects/markdown/syntax</a>
