%h2 Aide mémoire sur la syntaxe Wiki
%table#wiki_help
  %tbody
    %tr
      %td _italique_
      %td <em>italique</em>
    %tr
      %td **gras**
      %td <strong>gras</strong>
    %tr
      %td `teletype`
      %td <tt>teletype</tt>
    %tr
      %td * Liste à puces<br/>* Deuxième élément
      %td &#8226; Liste à puces<br/>&#8226; Deuxième élément
    %tr
      %td 1. Liste numérotée<br/>1. Deuxième élément
      %td 1. Liste numérotée<br/>2. Deuxième élément
    %tr
      %td [lien externe](url)
      %td <a href="http://www.kernel.org/">lien externe</a>
    %tr
      %td [[Wikipédia]]
      %td <a href="http://fr.wikipedia.org/wiki/Wikipédia">Wikipédia</a>
    %tr
      %td # Titre de section #<br/>## Sous-titre ##<br/>### Intertitre ###
      %td <h2>Titre de section</h2><br/><h3>Sous-titre</h3><br/><h4>Intertitre</h4>
    %tr
      %td ```ruby<br/># Du code avec coloration syntaxique<br/>class Ruby<br/>end<br/>```
      %td
        :plain
          <pre><span class="c1"># Du code avec coloration syntaxique</span>
          <span class="k">class</span> <span class="nc">Ruby</span>
          <span class="k">end</span>
          </pre>
%p Vous pouvez également consulter <a href="http://daringfireball.net/projects/markdown/syntax">http://daringfireball.net/projects/markdown/syntax</a>
