%h3 Aide mémoire sur la syntaxe Wiki
%table
  %tbody
    %tr
      %td ''italique''
      %td <em>italique</em>
    %tr
      %td '''gras'''
      %td <strong>gras</strong>
    %tr
      %td `teletype`
      %td <tt>teletype</tt>
    %tr
      %td * Liste &agrave; puces<br/>* Deuxi&egrave;me &eacute;l&eacute;ment<br/>** Sous-&eacute;l&eacute;ment
      %td &#8226; Liste &agrave; puces<br/>&#8226; Deuxi&egrave;me &eacute;l&eacute;ment<br/>..&#8226; Sous-&eacute;l&eacute;ment
    %tr
      %td # Liste num&eacute;rot&eacute;e<br/># Deuxi&egrave;me &eacute;l&eacute;ment<br/>## Sous-&eacute;l&eacute;ment
      %td 1. Liste num&eacute;rot&eacute;e<br/>2. Deuxi&egrave;me &eacute;l&eacute;ment<br/>2.1 Sous-&eacute;l&eacute;ment
    %tr
      %td Lien vers une [[page wiki]]
      %td Lien vers une <a href="http://www.wikicreole.org/attach/CheatSheet/URL">page wiki</a>
    %tr
      %td [URL lien externe]
      %td <a href="http://www.wikicreole.org/attach/CheatSheet/URL">lien externe</a>
    %tr
      %td == = Titre de section =<br/>== Sous-titre ==<br/>=== Intertitre ===
      %td <h3>Titre de section</h3><br/><h4>Sous-titre</h4><br/><h5>Intertitre</h5>
