#moderation-box.box
  %h1
    = link_to "Modération", '/moderation'
  - @candidate_news = News.candidate.sorted
  - if @candidate_news.empty?
    Pas de dépêche à modérer
  - else
    %ul
      = list_of(@candidate_news) do |news|
        = link_to news.title, [:moderation, news]
  - @boards = Board.by_kind(Board.amr)
  = render 'boards/boards'
