=h1 "Home Page"
- feed "S'abonner au flux Atom des dépêches", news_index_path(:format => :atom)
= render @ppp if @ppp
- if @banner
  %div.banner
    = @banner
#contents
  - @nodes.each do |node|
    = render node.content
