=h1 "Home Page"
- feed "S'abonner au flux Atom des dépêches", news_index_path(:format => :atom)
= render @ppp if @ppp
- if @banner
  %aside.banner
    = @banner
= render 'shared/order_navbar'
- paginated_section @nodes do
  #contents
    = render @nodes.map(&:content)
