=h1 "Home Page"
- feed "S'abonner au flux Atom des dépêches", news_index_path(:format => :atom)
= render @ppp if @ppp
- if @banner
  %aside.banner
    = @banner
= paginated_section @nodes, link_to("Proposer une dépêche", new_news_path) do
  #contents
    = render @nodes.map(&:content)
