=h1 "Home Page"
- feed "S'abonner au flux Atom des dépêches", "/news.atom"
- @keywords += @popular_tags.map &:name
= render @ppp if @ppp
- if @banner
  %aside.banner
    = @banner
= paginated_section @nodes, link_to("Proposer une dépêche", "/news/nouveau") do
  #contents
    = render @nodes.map(&:content)
