%article.news{:id => "news-new"}
  %h3
    = link_to preview.section.title, preview.section
    \:
    = preview.title
  .content
    = preview.wikified_body
    TODO links
    = preview.wikified_second_part
