@mixin inline-list {
  display: inline;
  list-style: none;
  li {
    display: inline; } }

@mixin pipe-delimited-list {
  @include inline-list;
  li {
    &:after {
      content: " | "; }
    &:last-child, &.last {
      &:after {
        content: ""; } } } }

@mixin no-bullets {
  list-style: none; }
