// http://gist.github.com/140430

$default_rounded_amount: 5px !default;

// Round corner at position by amount.
// values for position: "top-left", "top-right", "bottom-left", "bottom-right"
@mixin round-corner($position, $amount: $default_rounded_amount) {
  border-#{$position}-radius: $amount;
  -moz-border-#{$position}-radius: $amount;
  -webkit-border-#{$position}-radius: $amount; }

// Round left corners by amount
@mixin round-left-corners($amount: $default_rounded_amount) {
  @include round-corner(top-left, $amount);
  @include round-corner(bottom-left, $amount); }

// Round right corners by amount
@mixin round-right-corners($amount: $default_rounded_amount) {
  @include round-corner(top-right, $amount);
  @include round-corner(bottom-right, $amount); }

// Round top corners by amount
@mixin round-top-corners($amount: $default_rounded_amount) {
  @include round-corner(top-left, $amount);
  @include round-corner(top-right, $amount); }

// Round bottom corners by amount
@mixin round-bottom-corners($amount: $default_rounded_amount) {
  @include round-corner(bottom-left, $amount);
  @include round-corner(bottom-right, $amount); }

// Round all corners by amount
@mixin round-corners($amount: $default_rounded_amount) {
  border-radius: $amount;
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount; }
