=h1 "Les réponses de refus pour les dépêches"

%p= link_to "Créer une réponse", new_admin_response_path

%table
  %tr
    %th Nom
    %th Actions
  - @responses.each do |resp|
    %tr
      %th
        = resp.title
      %th
        = link_to "Modifier", edit_admin_response_path(resp)
        = button_to "Supprimer", [:admin, resp], :method => :delete, :confirm => "Supprimer la réponse ?", :class => "delete_button"
