%article
  %h2 &Eacute;ditions
  %p
    = link_to "&Eacute;diter", edit_wiki_page_path(edition)
  %p
    Liste des dernières modifications :
  %ul
    - edition.versions.each do |v|
      %li
        = link_to "#{v.committer.name} : #{v.message}", wiki_page_show_diff_path(edition.id, v.sha)
