#wiki_edition
  %h1
    Éditions
  %p
    = link_to "Éditer", edit_wiki_page_path(edition)
  %p
    Liste des dernières modifications :
  %ul
    - edition.versions.each do |v|
      %li
        = link_to "#{v.user.name} : #{v.message}", wiki_page_revision_path(edition.id, v.version)
