= article_for wiki_page do |c|
  - c.title = "#{link_to "Wiki", "/wiki"} : #{link_to wiki_page.title, wiki_page}".html_safe
  - c.truncate_words = (defined?(full) && full) ? false : 100
  - c.body  = sanitize(wiki_page.body)
