- content_for :column do
  - if @wiki_page.home_page?
    = render 'changes_box'
  = render 'edition', :edition => @wiki_page

%main#contents(role="main")
  - title @wiki_page.title
  - meta_for @wiki_page
  - if @wiki_page.home_page?
    - feed "Flux Atom du wiki", "/wiki.atom"

  - if !@wiki_page.visible?
    .alert
      %strong Cette page a été supprimée.

  = render @wiki_page
  = render @wiki_page.node
