@charset "utf-8";
/** black_bling.css
 *
 * Un fond d'ébène incrusté d'or et d'argent...
 *  Une css pour tout ceux qui sont attirés par ce qui brille.
 *
 * Historique :
 *   1.2    05/01/2011    - [Yggdras] tribune: marge en pourcent pour board-right
 *   1.1    31/12/2010    - maj suite aux évolutions du site
 *   1.0    12/12/2010    - première version
 *
 * Benoît Monin
 *
 * CC-BY-SA
 * Cette création est mise à disposition selon le Contrat
 * Attribution-ShareAlike 2.0 France disponible en ligne
 * http://creativecommons.org/licenses/by-sa/2.0/fr/
 */

/* RAZ des styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	color: inherit;
}

/* Corps de la page */
body {
	background: #000000;
	color: #ECBE10;
	font-family: sans-serif;
	font-size: 0.9em;
	margin: 0 auto;
	min-width: 55em;
	max-width: 90em;
}

/* Styles globaux pour les liens */
a:link,
a:visited {
	text-decoration: underline;
}
a:hover,
a:active {
	text-decoration: none;
}

/* Bandeau de navigation en haut */
nav#site {
	display: block;
	margin: 1.5em 0 3.5em;
	color: #000000;
	font-weight:bold;
}
	nav#site .go_to_content {
		display: none;
	}
	nav#site ul {
		background: #ECBE10;
		background: -moz-linear-gradient(top, #FFD700, #DAA520);
		background: -webkit-gradient(linear, left top, left bottom, from(#FFD700), to(#DAA520));
		display: block;
		list-style: none;
		padding: 1.2em;
		width: 68%;
		text-align: center;
		-moz-border-radius: 1em 1em 0 1em;
		-webkit-border-top-left-radius: 1em;
		-webkit-border-top-right-radius: 1em;
		-webkit-border-bottom-left-radius: 1em;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		border-bottom-left-radius: 1em;
	}
	nav#site ul li {
		display: inline;
	}
	nav#site ul li:after {
		content: "$";
		color: #FFD700;
		padding: 0 0.75em;
	}
	nav#site ul li:last-child:after, nav#site ul li.last:after {
		content: "";
		padding: 0;
	}
	nav#site a:link,
	nav#site a:visited {
		text-decoration: none;
	}
	nav#site a:hover {
		text-decoration: overline;
	}
	nav#site form {
		margin-left: 75%;
		margin-top: 1.25em;
		width: 25%;
		display: block;
		text-align: center;
		padding: 1em 0;
		background: #C0C0C0;
		background: -moz-linear-gradient(top, #D0D0D0, #B0B0B0);
		background: -webkit-gradient(linear, left top, left bottom, from(#D0D0D0), to(#B0B0B0));
		-moz-border-radius: 1em 1em 0 1em;
		-webkit-border-top-left-radius: 1em;
		-webkit-border-top-right-radius: 1em;
		-webkit-border-bottom-left-radius: 1em;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		border-bottom-left-radius: 1em;
	}
	label#label_query {
		display: none;
	}
	nav#site input[type=submit] {
		border: thin solid transparent;
		background: transparent;
		font-weight:bold;
	}
	nav#site input[type=submit]:hover {
		color: #ECBE10;
		cursor: pointer;
	}
	nav#site input#query {
		background-color: #000000;
		color: #C0C0C0;
		padding: 0.25em;
		width: 50%;
		max-width: 13em;
		margin-right: 0.2em;
	}
	nav#site input#query:focus {
		border-color: #ECBE10;
		color: #ECBE10;
	}

/* la barre latéral */
aside#sidebar {
	display: inline;
	float: left;
	overflow: hidden;
	width: 20%;
	margin: 0 1%;
	position: relative;
	top: -6.5em;
}

/* les boites de la barre latéral */
aside#sidebar .box {
	margin: 1.5em 0;
	padding: 0 0.25em 2em;
	border: medium solid #C0C0C0;
	background: #000000;
	font-size: 0.8em;
	-moz-border-radius-bottomright: 3em;
	-webkit-border-bottom-right-radius: 3em;
	border-bottom-right-radius: 3em;
}
/* titre de la boite latéral */
aside#sidebar .box h1 {
	padding: 0.5em 1em;
	margin-bottom: 1em;
	background: #000000;
	display: block;
	font-size: 1.25em;
}
/* icone https */
aside#sidebar .box > a {
	padding: 0;
}
aside#sidebar .insecure, aside#sidebar .secure {
  display: block;
  float: right;
  text-indent: -9999px;
  position: relative;
  top: -3.5em;
  height: 16px;
  width: 16px;
}
aside#sidebar .insecure {
  background: url(/images/icones/lock-insecure.png) no-repeat;
}
aside#sidebar .secure {
  background: url(/images/icones/lock-secure.png) no-repeat;
}
/* texte dans la boite latéral */
aside#sidebar .box > * {
	padding: 0.1em 1%;
}
aside#sidebar .box input[type=text],
aside#sidebar .box input[type=password] {
	border: medium solid #C0C0C0;
	margin-bottom: 1em;
	padding: 0.2em 2%;
	background-color: #000000;
	display: block;
	width: 80%;
	color: #C0C0C0;
}
aside#sidebar .box input[type=text]:focus,
aside#sidebar .box input[type=password]:focus {
	color: #ECBE10;
	border-color: #ECBE10;
}
aside#sidebar .box input[type=submit] {
	border: medium solid #C0C0C0;
	margin: 1em 0;
	padding: 0.2em 2%;
	background-color: #000000;
	color: #C0C0C0;
}
aside#sidebar .box input[type=submit]:focus {
	border-color: #ECBE10;
}
aside#sidebar .box input[type=submit]:hover {
	color: #ECBE10;
	cursor: pointer;
}
aside#sidebar .box input[type=submit]:active {
	border-color: #ECBE10;
	color: #ECBE10;
	cursor: pointer;
}
aside#sidebar .box ul {
	list-style: none;
}

/* liste des forums */
aside#sidebar div.forum {
	margin: 0 1%;
}
aside#sidebar div.forum h2 {
	font-weight: normal;
}

/* le logo */
header#branding > h1 {
	margin-bottom: 3em;
	height: 12.9em;
	background-image: url(/images/contrib/black_bling/logo.png) !important;
	background-position:center center;
	background-repeat:no-repeat;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
header#branding > h1 > a {
	display: block;
	width: 100%;
	height: 100%;
	color: transparent;
}
/* le contenu du site */
section#container {
	margin: 0 0 0 24%;
	text-align: justify;
	display: block;
	width: 75%;
}

section#container > section,
section#container > aside {
	display: block;
}

/* L'article phare */
section#phare > article {
	border: thick solid #C0C0C0;
	margin: 4em 0;
}

/* message important en haut de la page */
section#container div.notice,
section#container > aside.banner {
	margin: 1em auto;
	border: medium solid #ECBE10;
	padding: 0.5em 0;
	font-weight: bold;
	text-align: center;
	-moz-border-radius: 1em 1em 0 1em;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-webkit-border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

/* Titre de la page */
section#container > h1,
section#container > div > h1 {
	color: #ECBE10;
	font-size: 2.5em;
	text-align: center;
	margin: 1em auto;
}
section#container > h1:first-letter,
section#container > div > h1:first-letter {
	font-size: 1.5em;
}

/* sous-titre */
section#container > h2,
section#container > div > h2,
section#container > div > div > h2 {
	color: #ECBE10;
	font-size: 1.25em;
	margin: 0.5em auto;
}
/* tableau de bord directement dans la partie centrale */
section#container table {
	text-align: left;
	border-collapse:collapse;
	border: medium solid #C0C0C0;
	margin:0.5em auto;
	width:100%;
}
section#container table th {
	border: medium solid #C0C0C0;
	font-weight: bold;
	padding: 0.2em;
}
section#container table td {
	border: thin solid #C0C0C0;
	padding: 0.2em;
}
/* les formulaires */

section#container input,
section#container button,
section#container select,
section#container textarea,
section#redaction input,
section#redaction button,
section#redaction select,
section#redaction textarea {
	margin: 0.5em;
	color: #C0C0C0;
	border: medium solid #C0C0C0;
	background: #000000;
	padding: 0.1em 0;
}
section#container textarea,
section#redaction textarea {
	width: 100%;
	margin: 0.5em auto;
}
section#container select,
section#redaction select {
	padding: 0;
}
section#container input:focus,
section#container select:focus,
section#container textarea:focus,
section#redaction input:focus,
section#redaction select:focus,
section#redaction textarea:focus {
	border-color: #ECBE10;
	color: #ECBE10;
}
section#container button,
section#container input[type=submit],
section#redaction button,
section#redaction input[type=submit] {
	border-color: #C0C0C0;
	color: #C0C0C0;
	padding: 0 0.25em;
}
section#container button:focus,
section#container input[type=submit]:focus,
section#redaction button:focus,
section#redaction input[type=submit]:focus {
	border-color: #ECBE10;
}
section#container button:hover,
section#container input[type=submit]:hover,
section#redaction button:hover,
section#redaction input[type=submit]:hover {
	color: #ECBE10;
	cursor: pointer;
}
section#container button:active,
section#container input[type=submit]:active,
section#redaction button:active,
section#redaction input[type=submit]:active {
	border-color: #ECBE10;
	color: #ECBE10;
	cursor: pointer;
}

/* Nouvelle dépêche : les liens */
div#form_links {
	margin: 2em 0;
	border: medium solid #C0C0C0;
	-moz-border-radius-bottomright: 3em;
	-webkit-border-bottom-right-radius: 3em;
	border-bottom-right-radius: 3em;
}
div#form_links fieldset {
	padding: 0.5em 0;
}
div#form_links label {
	display:inline-block;
	text-align: center;
	margin: 0 0 0 1%;
}
div#form_links label#label-link-name,
div#form_links label#label-link-url {
	width: 33%;
}
div#form_links label#label-link-lang {
	width:11%;
}
div#form_links label#label-link-actions {
	width:15%;
}
div#form_links input {
	width: 33%;
	margin: 0 0 0 1%;
}
div#form_links select {
	margin: 0 0 0 1%;
	width: 11%;
}
div#form_links button {
	margin: 0 0 0 1%;
	width: 15%;
}
/* mdp et mail utilisateur */
section#container form.edit_account input[type=text],
section#container form.edit_account input[type=url],
section#container form.edit_account input[type=email],
section#container form.edit_account input[type=password] {
	width: 50%;
	display: block;
	margin-left: 5%;
}

/* Liens de navigation */
section#container > nav.toolbox,
div#contents > div.pagination,
body#comments-show > section#container > p {
	margin: 2em auto;
	display: block;
	font-size: 0.8em;
}
section#container > nav.toolbox ul {
	display: inline;
	list-style: none;
}
section#container > nav.toolbox li {
	display: inline;
}

/* l'article */
article {
	margin-bottom: 1em;
	border: medium solid #C0C0C0;
	background-color: #000000;
	display: block;
	-moz-border-radius-bottomright: 3em;
	-webkit-border-bottom-right-radius: 3em;
	border-bottom-right-radius: 3em;
}

/* en-tête de l'article */
article header {
	padding: 0.5em 0.75em 1.25em;
	display: block;
}
	/* titre de l'article */
	article header h1 {
		font-size: 1.25em;
		display: inline;
	}
	article header h1 a:link,
	article header h1 a:visited {
		text-decoration: none;
	}
	article header h1 a:hover,
	article header h1 a:active {
		text-decoration: underline;
	}
	/* Info complémentaires dans l'en-tête */
	article header div.meta {
		font-size: 0.7em;
		color: #C0C0C0;
	}
	article header ul,
	article header li {
		display: inline;
		list-style: none;
	}

/*le score de l'article */
article > div.figures > figure.score {
	font-weight: bold;
	background: #ECBE10;
	background: -moz-linear-gradient(top, #FFD700, #DAA520);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFD700), to(#DAA520));
	color: #000000;
	padding: 1.2em 0 0;
	margin: 1em 0.75em 0.5em;
	-moz-border-radius: 0.4em 0.4em 0 0.4em;
	-webkit-border-top-left-radius: 0.4em;
	-webkit-border-top-right-radius: 0.4em;
	-webkit-border-bottom-left-radius: 0.4em;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
	float: left;
	display: block;
	width: 3.5em;
	height: 2.3em;
	text-align: center;
}
/*la vignette de l'article */
article > div.figures > figure.image {
	float: left;
	margin: 1em 0.75em 0.5em;
	width: auto !important;
	height: 3.5em !important;
}
/* On force la taille de l'image : ce serait mieux avec du svg */
article > div.figures > figure.image img {
	width: auto !important;
	height: auto !important;
	max-height: 3.5em !important;
}

/* Styles pour le contenu de l'article et des commentaires */
article div.content,
article div.body {
	padding: 0.5em 0.75em;
	min-height: 4.5em;
}
article div h1,
article > h1 {
	padding: 0.5em 0.75em;
	font-size: 1.5em;
}
article div h2,
div.content h2,
table#wiki_help h2 {
	padding: 0.4em 0.75em 0;
	font-size: 1.4em;
}
article div h3,
div.content h3,
table#wiki_help h3 {
	padding: 0.3em 0.75em 0;
	font-size: 1.2em;
}
article div h4,
div.content h4,
table#wiki_help h4 {
	padding: 0.2em 0.75em 0;
	font-size: 1.1em;
}
article div h5,
div.content h5 {
	padding: 0.1em 0.75em 0;
	font-size: 1em;
	font-weight: normal;
}
article div ul,
div.content ul {
	list-style: disc inside;
	padding: 0.5em 0.75em;
}
article div ol,
div.content ol {
	list-style: decimal inside;
	padding: 0.5em 0.75em;
}
article div blockquote,
div.content blockquote {
	font-style: italic;
	margin: 0.5em 0 0.5em 4em;
	color: #C0C0C0;
}
article div pre,
div.content pre {
	color: #C0C0C0;
	white-space: pre-wrap;
	min-width: 55em;
}

/* Lien d'article */
article li.link {
	padding-left: 3em;
}
/* drapeau du lien */
article li.link img {
	width: 1.25em !important;
	height: 0.8em !important;
}

/* uniquement pour le sondage en cours */
article.poll div.content ul {
	list-style: none;
}
article.poll div.content form {
	margin-left: 5em;
}

/* uniquement pour les resultats de sondages */
article.poll div.content ul.poll {
	list-style: disc outside none;
	margin-left: 5em;
}
.poll li {
	margin-bottom: 0.5em;
}
.poll meter {
	display: block;
	background: #ECBE10;
	color: #808080;
	text-align: right;
	font-weight: bold;
}

/* Le pied de l'article */
article > footer {
	padding: 0.5em 0.75em;
	display: block;
	font-size: 0.7em;
	color: #C0C0C0;
}
article > footer > div {
	display: inline;
}

/* Les boutons de vote pour l'article et le commentaire */
div.vote,
div.vote form.button_to,
div.vote form.button_to div {
	display: inline;
}
div.vote {
	margin-left: 0.3em;
}
section#container div.vote input {
	border-width: 0;
	background: #000000;
	margin: 0;
	padding: 0;
	outline-width: 0;
}

/* Tout les commentaires */
div#comments {
	margin: 4em auto;
}

/* texte au dessus des commentaires */
div#comments > p {
	margin: 1em auto;
	text-align: center;
}

/* les fils de commentaires */
div#comments ul.threads {
	margin: 4em auto;
	list-style: none;
}
div#contents > ul {
	list-style: none;
}

/* Un fil de discussion de commentaires */
div#comments > ul > li,
div#contents > ul > li {
	margin: 0 0 1em 0;
	padding: 0.7em;
	font-size: 1em;
}
/* Decalage a droite pour les reponses */
div#comments li > ul {
	padding-left: 2em;
	list-style: none;
}

/* le titre du commentaire */
li.comment > h2 {
	margin-top: 0.5em;
	padding: 0.2em 0.5em;
	border-top: medium solid #C0C0C0;
	border-left: medium solid #C0C0C0;
	border-right: medium solid #C0C0C0;
	font-size: 1.25em;
	font-weight: bold;
}
li.comment > h2 a:link,
li.comment > h2 a:visited {
	text-decoration: none;
}
li.comment > h2 a:hover {
	text-decoration: underline;
}

/* en-tête et pied de page du commentaire */
li.comment > p.meta,
li.comment > footer.actions {
	color: #C0C0C0;
	font-size: 0.7em;
	display: block;
}
li.comment > p.meta {
	border-left: medium solid #C0C0C0;
	border-right: medium solid #C0C0C0;
	padding: 0 0.875em 1.5em;
}
li.comment > footer.actions {
	border-left: medium solid #C0C0C0;
	border-right: medium solid #C0C0C0;
	border-bottom: medium solid #C0C0C0;
	-moz-border-radius-bottomright: 3em;
	-webkit-border-bottom-right-radius: 3em;
	border-bottom-right-radius: 3em;
	padding: 0.5em 0.875em;
}

/* l'avatar */
li.comment > figure.image {
	display: inline;
	float: left;
	padding: 0.5em 0.5em 0 1em;
}
li.comment > figure.image img {
	width: 3em !important;
	height: 3em !important;
}

/* le commentaire */
li.comment > div.content {
	padding: 0.5em 1em;
	min-height: 3em;
	border-left: medium solid #C0C0C0;
	border-right: medium solid #C0C0C0;
}

/* Style de titre pour les nouveaux commentaires */
li.new-comment > h2,
li.new-comment > div.content,
li.new-comment > p.meta,
li.new-comment > footer.actions {
	border-left-color: #ECBE10;
}

/* Commentaire replié */
li.fold > p.meta {
	padding-bottom: 0.2em;
	border-bottom: medium solid #C0C0C0;
	-moz-border-radius-bottomright: 3em;
	-webkit-border-bottom-right-radius: 3em;
	border-bottom-right-radius: 3em;
}

li.fold > figure.image,
li.fold > div.content,
li.fold > footer.actions {
	display: none;
}

/* le lien retour en haut de page */
section#container > footer {
	display: block;
	font-size: 0.8em;
	margin: 2em auto;
}

/* le pied de page */
footer#bigfooter {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 3em;
	padding-bottom: 5em;
	font-size: 0.8em;
}
/* les 4 listes du pied de page */
footer#bigfooter nav,
footer#bigfooter section {
	display: inline;
	float: left;
	overflow: hidden;
	border-top: medium solid #C0C0C0;
	width: 21%;
	margin: 1em 1%;
	padding: 1em 1% 0;
	color: #C0C0C0;
}
/* Le contenu du pied de page */
footer#bigfooter h1 {
	font-size: 1.25em;
	margin: 0 0 0.5em 0;
}
footer#bigfooter ul {
	list-style: none;
}

/* La tribune de modération */
section#edition,
section#chat {
	display: inline;
	overflow: hidden;
	text-align: justify;
}
section#edition {
	float: left;
	margin: 1em 1%;
	width: 58%;
}
section#chat {
	float:left;
	margin: 1em 1% 1em 0;
	width: 39%;
}
section#chat input[type=text] {
	width: 64%;
}
section#chat h1 {
	font-size: 1.75em;
	padding: 0.75em 0 0.5em;
}

/* Les tribunes */
time.norloge {
	font-weight: bold;
	color: #C0C0C0;
}
div.board > div.inbox > p {
	padding: 0.25em 0 0.25em;
	font-size: 0.8em;
}
div.board > div.inbox span.board-left {
	float: left;
	padding-right: 0.5em;
	display: block;
}
div.board > div.inbox span.board-right {
	margin-left: 20%;
	display: block;
}
input#board_message {
	width: 75%;
}

/* Revision de wiki */
body#wiki_pages-revision div#contents > h2 {
	border-top: medium solid #C0C0C0;
	border-left: medium solid #C0C0C0;
	border-right: medium solid #C0C0C0;
	padding: 0.4em 0.5em 0;
	margin: 0;
}
body#wiki_pages-revision div#contents > h2 > a:link,
body#wiki_pages-revision div#contents > h2 > a:visited {
	text-decoration: none;
}
body#wiki_pages-revision div#contents > h2 > a:hover,
body#wiki_pages-revision div#contents > h2 > a:active {
	text-decoration: underline;
}
body#wiki_pages-revision div#contents > h3 {
	border-left: medium solid #C0C0C0;
	border-right: medium solid #C0C0C0;
	padding: 0 0.75em 1.5em;
	font-size: 0.7em;
	font-weight: normal;
	color: #C0C0C0;
}
body#wiki_pages-revision div#contents > pre {
	white-space:pre-wrap;
	padding: 0.5em 1em;
	border-left: medium solid #C0C0C0;
	border-right: medium solid #C0C0C0;
}
body#wiki_pages-revision pre > del {
	background-color: #330000;
}
body#wiki_pages-revision pre > ins {
	background-color: #003300;
	text-decoration: none;
}
body#wiki_pages-revision div#contents > nav {
	border-left: medium solid #C0C0C0;
	border-right: medium solid #C0C0C0;
	border-bottom: medium solid #C0C0C0;
	padding: 0.75em 0.5em 0.25em;
	-moz-border-radius: 0 0 2em 0;
	-webkit-border-bottom-right-radius: 2em;
	border-bottom-right-radius: 2em;
	display: block;
}
body#wiki_pages-revision div#contents > nav > ul {
	list-style: none;
	font-size: 0.7em;
	color: #C0C0C0;
}
body#wiki_pages-revision div#contents > nav > ul > li {
	display: inline;
	padding-right: 1.5em;
}

/* la toolbar */
div#toolbar {
	position: fixed;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	min-width: 55em;
	max-width: 90em;
	padding: 0.35em 0 0.2em;
	-moz-border-radius: 1.25em 1.25em 0 0;
	-webkit-border-top-left-radius: 1.25em;
	-webkit-border-top-right-radius: 1.25em;
	border-top-left-radius: 1.25em;
	border-top-right-radius: 1.25em;
	background: #C0C0C0;
	background: -moz-linear-gradient(top, #D0D0D0, #B0B0B0);
	background: -webkit-gradient(linear, left top, left bottom, from(#D0D0D0), to(#B0B0B0));
	color: #000000;
	text-align: center;
}
div#toolbar > span {
	font-size: 0.8em;
	margin: 0 2em;
}

/* linux sait faire ! */
body#static-show div.body > a > img {
	width: 100% !important;
	height: 100% !important;
	margin-top: 3em;
}

/* Autosatisfaction récursive */
body#comments-create div#contents > img {
	height: auto !important;
	max-width: 100%;
}

/* l'éditeur markdown */
.markItUpContainer {
	margin-bottom: 1em;
	border: medium solid #C0C0C0;
	-moz-border-radius-bottomright: 2em;
	-webkit-border-bottom-right-radius: 2em;
	border-bottom-right-radius: 2em;
}

.markItUpHeader {
	padding: 0.5em 1%;
	height: 1.1em;
}

.markItUpEditor,
section#container .markItUpEditor {
	width: 100%;
	height: 20em;
	display: block;
	overflow: auto;
	border-top: thin solid #C0C0C0;
	border-bottom: thin solid #C0C0C0;
	border-left: none;
	border-right: none;
	padding: 0;
	margin: 0;
}
.markItUpEditor:focus,
section#container .markItUpEditor:focus {
}

.markItUpFooter {
	padding: 0.6em 0;
}

.markItUpResizeHandle {
	overflow: hidden;
	width: 20%;
	height: 0.5em;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/images/markitup/handle.png);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: s-resize;
}

.markItUpHeader ul li {
	list-style: none;
	float: left;
	position: relative;
}
.markItUpHeader ul li ul {
	display: none;
}
.markItUpHeader ul li:hover > ul {
	display: block;
}
.markItUpHeader ul a {
	display: block;
	width: 1.1em;
	height: 1.1em;
	text-indent: -1000em;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	margin: 0 0.3em;
}
.markItUpHeader ul .markItUpSeparator {
	margin: 0 1em;
	width: 0;
	height: 1.1em;
	overflow: hidden;
	border-left: thin solid #C0C0C0;
}
.markItUp .h1 a {
	background-image: url(/images/contrib/black_bling/markitup/h1.png);
}
.markItUp .h2 a {
	background-image: url(/images/contrib/black_bling/markitup/h2.png);
}
.markItUp .h3 a {
	background-image: url(/images/contrib/black_bling/markitup/h3.png);
}
.markItUp .h4 a {
	background-image: url(/images/contrib/black_bling/markitup/h4.png);
}
.markItUp .bold a {
	background-image: url(/images/contrib/black_bling/markitup/bold.png);
}
.markItUp .italic a {
	background-image: url(/images/contrib/black_bling/markitup/italic.png);
}
.markItUp .stroke a {
	background-image: url(/images/contrib/black_bling/markitup/stroke.png);
}
.markItUp .list-bullet a {
	background-image: url(/images/contrib/black_bling/markitup/list-bullet.png);
}
.markItUp .list-numeric a {
	background-image: url(/images/contrib/black_bling/markitup/list-numeric.png);
}
.markItUp .image a {
	background-image: url(/images/contrib/black_bling/markitup/picture.png);
}
.markItUp .link a {
	background-image: url(/images/contrib/black_bling/markitup/link.png);
}
.markItUp .quotes a {
	background-image: url(/images/contrib/black_bling/markitup/quotes.png);
}
.markItUp .code a {
	background-image: url(/images/contrib/black_bling/markitup/page_white_code.png);
}

/* coloration syntaxique : repris de native.css du projet pygments-css */
.hll { background-color: #404040 }
.c { color: #999999; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.g { color: #d0d0d0 } /* Generic */
.k { color: #6ab825; font-weight: bold } /* Keyword */
.l { color: #d0d0d0 } /* Literal */
.n { color: #d0d0d0 } /* Name */
.o { color: #d0d0d0 } /* Operator */
.x { color: #d0d0d0 } /* Other */
.p { color: #d0d0d0 } /* Punctuation */
.cm { color: #999999; font-style: italic } /* Comment.Multiline */
.cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.c1 { color: #999999; font-style: italic } /* Comment.Single */
.cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.gd { color: #d22323 } /* Generic.Deleted */
.ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.gr { color: #d22323 } /* Generic.Error */
.gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.gi { color: #589819 } /* Generic.Inserted */
.go { color: #cccccc } /* Generic.Output */
.gp { color: #aaaaaa } /* Generic.Prompt */
.gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.gt { color: #d22323 } /* Generic.Traceback */
.kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.kp { color: #6ab825 } /* Keyword.Pseudo */
.kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.ld { color: #d0d0d0 } /* Literal.Date */
.m { color: #3677a9 } /* Literal.Number */
.s { color: #ed9d13 } /* Literal.String */
.na { color: #bbbbbb } /* Name.Attribute */
.nb { color: #24909d } /* Name.Builtin */
.nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.no { color: #40ffff } /* Name.Constant */
.nd { color: #ffa500 } /* Name.Decorator */
.ni { color: #d0d0d0 } /* Name.Entity */
.ne { color: #bbbbbb } /* Name.Exception */
.nf { color: #447fcf } /* Name.Function */
.nl { color: #d0d0d0 } /* Name.Label */
.nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.nx { color: #d0d0d0 } /* Name.Other */
.py { color: #d0d0d0 } /* Name.Property */
.nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.nv { color: #40ffff } /* Name.Variable */
.ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.w { color: #666666 } /* Text.Whitespace */
.mf { color: #3677a9 } /* Literal.Number.Float */
.mh { color: #3677a9 } /* Literal.Number.Hex */
.mi { color: #3677a9 } /* Literal.Number.Integer */
.mo { color: #3677a9 } /* Literal.Number.Oct */
.sb { color: #ed9d13 } /* Literal.String.Backtick */
.sc { color: #ed9d13 } /* Literal.String.Char */
.sd { color: #ed9d13 } /* Literal.String.Doc */
.s2 { color: #ed9d13 } /* Literal.String.Double */
.se { color: #ed9d13 } /* Literal.String.Escape */
.sh { color: #ed9d13 } /* Literal.String.Heredoc */
.si { color: #ed9d13 } /* Literal.String.Interpol */
.sx { color: #ffa500 } /* Literal.String.Other */
.sr { color: #ed9d13 } /* Literal.String.Regex */
.s1 { color: #ed9d13 } /* Literal.String.Single */
.ss { color: #ed9d13 } /* Literal.String.Symbol */
.bp { color: #24909d } /* Name.Builtin.Pseudo */
.vc { color: #40ffff } /* Name.Variable.Class */
.vg { color: #40ffff } /* Name.Variable.Global */
.vi { color: #40ffff } /* Name.Variable.Instance */
.il { color: #3677a9 } /* Literal.Number.Integer.Long */
