/*
 * Colors - CSS theme for LinuxFr.org - Copyright 2010 Martin Pieuchot 
 *
 * Availabe under Creative Commons by-sa License
 */

@import url(/stylesheets/langs.css);
@import url(/stylesheets/pygments/colorful.css);
@import url(/stylesheets/statistics.css);

/* HACk-HACK-HACK
 * 
 * Make the markitup editor fit in the layout (at leat in FF3.6).

 * This should really be removed, what happend if I don't use javascript?
 * And theming that intrusive code is a pain in the ***.
 */
@import url(/stylesheets/markitup.css);
.markItUp {width: auto; border: 0; margin: 0;}
.markItUp * {border: 0; background: transparent;}
.markItUpContainer {padding: 1.3em 0 0;}
.markItUpEditor {width: 441px; height:326px;
		 border: #999 solid 1px; padding:0; margin-bottom: 1.5em;}
.markItUpFooter {display: none;}
section > * > form > p > label + div {margin-left: 4em;}


/* 
 * Here are the only "fixed" size of the Design:
 *   · width = 960px
 *   · typo  = 12px / 18px (150%)
 *
 * After that I indicate in comments the size of each element
 * based on those values. My unit is 18px (1.5em).
 */
html {height: 100%; background-color: #fff; color: #333;} 

* {margin: 0; padding: 0;}

body {
  width: 960px; 
  min-height: 100%;
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;
  font-family: Verdana, 'Bitstream Vera Sans', 'DejaVu Sans', sans-serif;
  /* XXX for design only */
  /*background: transparent url(/images/contrib/colors/gridbg.png);*/
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block; /* need for non HTML5-capable browsers */
}

img {border: 0;}

h1,h2,h3,h4 {font-family: 'Droid Sans', Arial, sans-serif;}

h1 {font-size: 2em; line-height: 150%; margin-bottom: .75em; color: #766658;}
h2 {font-size: 1.5em; line-height: 100%; margin-bottom: 1em; color: #766658;}
h3 {font-size: 1em; line-height: 150%; color: #766658;}
h4 {font-size: 1em; line-height: 150%;}

h1 a, h2 a, h3 a {color: #766658;}

p {margin-bottom: 1.5em; text-align: justify;}

ul, ol {margin-bottom: 1.5em;}
ul {list-style-type: square}

pre, code, tt {
  font-family: Consolas,'Bitstream Vera Sans Mono','DejaVu Sans Mono',monospace;
}

a {text-decoration: none; color: #6666cc;}
a:hover {text-decoration: underline;}

/*
 * This is a div with a tag... and IMHO it's useless.
 */
.go_to_content {display: none;}


/* HEADER
 * ======
 *
 * Ok, it's a <nav> and a search <form>, but where is the <header> block?
 */
body > nav {height: 18em; overflow: hidden; background: #eee;}

/* Fancy macish search box */
body > nav > form {text-align: right; margin: .75em 4em 0 0;}
body > nav > form > label {display: none;}
body > nav > form > input {border:medium none; line-height:1.5em;}
body > nav > form > input[type=search] {
  width: 12em;
  padding: .3em 2em .2em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7) inset;
  background: #ddd url(/images/contrib/colors/magnifer.png) no-repeat 5px 3px;
}
body > nav input[type=search]:focus {background-color:#fff;}
body > nav > form > input[type=submit] {
  width: 1.5em;
  cursor: pointer;
  margin-left: -2.2em;
  text-indent: -99999px;
  background-color: transparent;
}
body > nav input[type=search]:hover + input[type=submit],
body > nav input[type=search]:focus + input[type=submit] {
  background: url(/images/contrib/colors/go-next.png) no-repeat right top;
}


/* MAIN NAVIGATION (Rainbow power)
 * ==============
 *
 */
body > nav ul {margin: 0; line-height: 3em;}
body > nav li {float: left; width: 7em; list-style: none;}
body > nav li > a {
  color: #fff;
  width: 7em;
  height: 18em;
  display: block;
  text-align: center;
  font-weight: bold;
}
li.active ~ li > a {float:left; height: 3em!important;}
body > nav li > a:hover {
  color: #333;
  height: 18em !important;
  text-decoration: none;
}
body > nav li.active > a {
  width: 80em;
  font-size: 2em /* h1 */;
  padding: 4em 0 0 1.75em;
  text-align: left;
}
body > nav li.active > a:hover {
  color: #fff;
  cursor: default;
  text-decoration: none;
}
body > nav li:nth-child(1) > a {background: #666699;}
body > nav li:nth-child(2) > a {background: #6666cc;}
body > nav li:nth-child(3) > a {background: #6666ff;}
body > nav li:nth-child(4) > a {background: #99cc00;}
body > nav li:nth-child(5) > a {background: #99cc99;}
body > nav li:nth-child(6) > a {background: #ffe900;}
body > nav li:nth-child(7) > a {background: #ff9900;}
body > nav li:nth-child(8) > a {background: #ff0000;}


/* MENU (aside)
 * ====
 *
 * Ok, the side panel.
 */
body /*>*/ aside {float: right; width: 16.6666667% /* 160px*/; margin-top: 3em;}
body /*>*/ aside > header {display: none;} /* Don't want hardcoded logo */
body /*>*/ aside h1 { /* General h2 */
  font-size: 1.5em;
  line-height: 100%;
  margin: -1px 0 1em;
  border-bottom: 1px dotted #ccc;
}
body /*>*/ aside h1 a {text-decoration: none;}
body /*>*/ aside li {list-style: none;}

/* Login form */
body /*>*/ aside form {line-height: 3em /* 36px */; margin-bottom: 1.5em;}
body /*>*/ aside form p {text-align: center; margin: 0; font-size: 91.66667%;}
body /*>*/ aside form label {float: left; min-width: 50%; text-align: left;}
body /*>*/ aside form input {vertical-align: middle;}
body /*>*/ aside form input[type=text],
body /*>*/ aside form input[type=password] {width: 45%;}
body /*>*/ aside form + ul {font-size: 91.66667%;}

/* HTTPS indicator */
body /*>*/ aside > div.login > a {
  width: 16px;
  height: 16px;
  float: right;
  margin: -3em 0 0;
  text-indent: -99999px;
  background: url(/images/contrib/colors/locked.png) no-repeat;
}
body /*>*/ aside > div.login > a[href^="https"] {
  background: url(/images/contrib/colors/unlocked.png) no-repeat;
}


/* NAVIGATION
 * ==========
 * 
 * This has "toolbox" as class... to many <div>s for nothing ;)
 */
body > section > nav {height: 6em;}
body > section > nav > *:first-child {float: left;}
body > section > nav > * {float: right;}
body > section > nav ul {float: right; margin-left: .5em;}
body > section > nav li {display: inline-block;}
body > section > nav li:after {content: " ·";}
body > section > nav li:first-child:after {content: " ";}
body > section > nav li:last-child:after {content: "";}
/* Don't print the last one if there are 3 elements */
body > section > nav > div + div + div {display: none;}
/* Hack: if there is only one element, right align. */
body > section > nav > *:last-child {float: right;}


/* MAIN LAYOUT
 * ===========
 */
body > section {
  width: 72.9166667% /* 700px */ ;
  margin: 0 6.25% 0 4.1666667% /* 0 60px 0 40px */;
}
body > section ul,
body > section ol {margin-left: 3em;}

/* Don't print the Heading if its one of the "main" pages */
body > section > h1 {display: none;}

/* HACK-HACK-HACK
 *
 * First of all the <nav> "toolbox" should not be inside a <section>.
 * Here we have a <section> whose `id` is #container this is wrong! The
 * HTML5 says that a <section> should not be used like a <div>, see :
 *	http://html5doctor.com/the-section-element/
 *
 * But the real problem is that in some pages, this <section> contains
 * a <nav> and in some others doesn't.
 * So this hack adapt the margin the following <div> (sick!) which is a 
 * <article> on some pages (why???) whith the `id` #contents.
 */
body > section > #contents {margin-top: 6em;}
body > section > nav + #contents {margin-top: 0;}

/* HACK-HACK-HACK
 *
 * This is one related to the previous hack. On some pages the heading <h1>
 * is inside the <non-always-div> tag whith the #contents id. But on others
 * it is outisde of this block (and we don't print it, see before).
 *
 * So if the <h1> is inside the <different>#contents, get rid of the margin 
 * set before. 
 */
body > section > #contents > h1 {margin-top: -1.5em;}

/* FIXME Don't display the phare for the moment */
#phare {display: none;}


/* HACK-HACK-HACK
 *
 * This tag is useless (or not used as it should be), its content has
 * the same function as the one we find in <nav>.
 * And it contains a <p> that is not needed and mess with the margin & font.
 */
body > section > footer p {margin: 0;}
body > section > nav + footer {margin-top: -6em;}/*<nav> is 6em */
/* I've put a negative margin, so I must assure the section is not overlaped */
body > section > div#contents {min-height: 12em;}
body > section > footer a {
  padding-left: 18px;
  background: url(/images/contrib/colors/go-top.png) no-repeat left top;
}




/* FOOTER
 * ======
 * 
 * The Footer is quite ok, except the fact that we have 3 <nav>s
 * and 1 <section> for the same thing...
 */
body > footer {
  clear: both;
  width: 80em;
  display: table;
  padding: 1.5em 0;
  margin-top: 1.5em;
  background-color: #666699;
}
body > footer > nav,
body > footer > section {width: 25% /* 260px */; float: left; min-height: 100%;}
body > footer h1 {
  color: #fff;
  font-size: 1.3em;
  margin-left: 1em;
  line-height: 115.3846154% /* 18px */;
  margin-bottom: 1.1538em /* 18px */;
} 
body > footer ul {margin-left: 4.5em /* 54px */;}
body > footer a {color: #333;}
body > footer a:hover {color: #fff; text-decoration: none;}


/* ARTICLE
 * =======
 *
 * Ok the <article> is a real mix of HTML5/HTML4 with a lot of "common"
 * block (header, h1...) AND a lot of <div>s, everything with a lot of
 * classes ;) So don't worry if here it's also fun :D
 *
 */
article {clear: left; margin-bottom: 6em;}
article > header > h1 { /* General h2-like */
  font-size: 1.5em;
  line-height: 100%;
  margin: 0 8% 0 0;
}
article > header > h1 > a {text-decoration: none;}
article > header > h1 > a:last-child {
  clear: left;
  height: 0.945em /* 17px */;
  display: block;
  overflow: hidden;
  line-height: 94.5% /* 17px */;
  font-variant: small-caps;
  border-bottom: 1px solid;
}
article > header > h1 > a:first-child { /* General h3, calculated from h2 */
  float: left;
  color: #fff;
  height: 3em; /* 36px */
  display: block;
  padding: 0 .6em;
  font-weight: bold;
  font-size: 66.6666667%; /* 2/3 * 18px */ 
  text-transform: uppercase;
  background: #c9c9c9 url(/images/contrib/colors/subarrow.png) no-repeat left 1.6em;
}

/* Colors for the different sections */
article h1 > a:first-child[href^="/sections"]	{background-color: #666699;}
article h1 > a:first-child[href^="/news"]	{background-color: #6666cc;}
article h1 > a:first-child[href^="/journaux"]	{background-color: #6666ff;}
article h1 > a:first-child[href^="/forums"]	{background-color: #99cc00;}
article h1 > a:first-child[href^="/sondages"]	{background-color: #99cc99;}
article h1 > a:first-child[href^="/wiki"]	{background-color: #ffe900;}
article h1 > a:first-child[href^="/suivi"]	{background-color: #ff9900;}


article > header div.meta {
  color: #707070;
  margin-bottom: 1.8em;
  font-size: 83.333333% /* 10px */;
}
article > header div.tags > ul {float: right; margin: -7.2em 15% 0 0/* -72px*/;}
article > header div.tags > ul li {display: inline-block; margin: 0 .5em;}
article > header div.tags > ul li:first-child {display: none;} /* no Tags : */
article > header div.tags > ul li > a {
  color: #fff;
  height: 2.6em;	  /* enough to see the arrow */
  font-size: 90%;	  /* 9px */
  display: block;
  min-width: 3em;
  line-height: 160%;	  /* 16px */
  font-weight: bold;
  text-align: center;
  padding: .1em .4em;
  text-decoration: none;
  margin-top: 0.333333em; /* 3px */
  text-transform: uppercase;
  background: #c9c9c9 url(/images/contrib/colors/subarrow.png) no-repeat left 1.8em;
}

article figure {float: right;} 
article figure.score {
  color: #fff;
  width: 2em;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  background-color: #ff9900;
  margin: -8em 6em 0 0;
  border-radius: 15px;
  -moz-border-radius: 15px;
} 
article figure.image {margin: -6em 0 0 0;} 
article > div.content ul,
article > div.content ul + input  {margin-left: 3em; margin-right: 3em;}
article > div.content ul.current {list-style: none;}
article > div.content > ul > li a {color: #ff9900;}
article > div.content > h2 {
  font-size: 1.2em /* 14.4 px */;
  line-height: 125% /* 18px */;
  margin-bottom: 1.25em /* 18px */;
}

article > footer * {display: inline-block;}
article > footer > a {margin: 0 1em;} 
article > footer > div.vote {float: right;} 
article > footer label:first-child {display: none;} /* "Ce contenu est il" */
article > footer input { /* link-like */
  border: 0; 
  color: #6666cc;
  font-size: 1em;
  background: transparent;
  text-transform: capitalize;
}
article > footer input:hover {cursor: pointer; text-decoration: underline;}

/* HACK-HACK-HACK
 * 
 * The following 4 lines are here only to compensate the fact that
 * some articles (nodes) does not make use of <p>s (at least in my
 * test db). This means that the text is not formated as it should 
 * be.
 */
article ul, article ol {margin-top: 1.5em;}
article p + ul, article p + ol {margin-top: 0;}
article > footer {margin-top: 1.5em;}
article > div.content {text-align: justify;}


/* FORMS
 * =====
 *
 */

section > * > form {margin-bottom: 6em; line-height: 3em;}
section > * > form p {text-align: left;} /* no justify here */ 

section > * > form > p {border-bottom: 1px dotted #ccc; margin-top: -1px;}
section > * > form > p > * {display: inline-block;}
section > * > form > p > label {width: 17em; color: #666; vertical-align: top;}

/* Align input and select if there is a prefix */
section > * > form > p > input,
section > * > form > p > select {margin-left: 4em; font-size: 1em;}
section > * > form > p > span.prefix + select,
section > * > form > p > span.prefix + input {margin-left: -0.35em;}
section > * > form > p > span.prefix {
  width: 3.8em;
  text-align: right;
  margin-right: .2em;
}

section > * > form > p > span.help {
  display: block;
  line-height: 1.8em /* 18px */;
  margin-left: 25.6em /* 256px */;
  font-size: 83.333333% /* 10px */;
} 

/*
 * I rewrite (all) the rules for the <fieldset>s because IMHO, the HTML 
 * code should be rewritten.
 */
section > * > form > p + div {
  margin: -1px 0 1.5em;
  border-bottom: 1px dotted #ccc;
}
section > * > form fieldset {
   border: none;
   margin-left: 21em;
   vertical-align: middle;
}
section > * > form fieldset > * {display: inline-block; font-size: 1em;}
section > * > form fieldset > label {width: 14em; color: #666;}
section > * > form fieldset > input {width: 13.5em;}
section > * > form fieldset > button { /* link-like */
  border: 0; 
  height: 3em;
  float: right;
  color: #6666cc;
  font-size: 1em;
  cursor: pointer;
  background: transparent;
}
section > * > form fieldset > button:hover {text-decoration: underline;}
/* This is horrible, but the fieldset is horrible... */
#label-link-lang, #label-link-actions {display: none;} 


/* Help table */
section > * > div > table {line-height: 3em;} 
section > * > div > table tr {border-bottom: 1px dotted #ccc;}
section > * > div > table h2 {margin: 0;}

/* Comments */
.comment > footer * {display: inline-block;}
.comment > footer input { /* link-like */
  border: 0; 
  color: #6666cc;
  font-size: 1em;
  background: transparent;
  text-transform: capitalize;
}
.comment > footer input:hover {cursor: pointer; text-decoration: underline;}

/* FIXME: Not implemented
 * 
 * Ok, everything that follow is not impletemented and borrowed from
 * alpha.linuxfr.org's theme.
 */
#toolbar {display: none;}
.pot_de_miel { display: none; }
.datePourCss { display: none; }

#container header li .add_tag,
#container header li .remove_tag {
	display: none;
}

/*
 * Notice
 */
/* XXX Why not display this notice like the others? */
.notice {
  padding: 6px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  border: 1px solid #999;
  background: #333;
  color: #eee;
}

.notice, .notice-wrap {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  z-index: 9999;
}

.notice-item {
  margin: 0 0 12px 0;
  padding: 6px 6px 0 6px;
  font-size: 11px;
  display: block;
  position: relative;
  border-radius: 6px;
  -moz-border-radius: 6px;
  border: 1px solid #999;
  background: #333;
  color: #eee;
}

.notice-item-close {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  right: 6px;
  top: 6px;
  cursor: pointer;
}

aside.banner {display: none;}

.misspelled {
	color: inherit;
	background-color: inherit;
	border-bottom: 1px dashed red;
}
