/*Feuille de style pour http://alpha.linuxfr.org

L'auteur initial (Sygne) et les auteurs associés ()
donnent permission de produire, de distribuer et
d'utiliser des copies modifiées ou non-modifiées
de cette feuille de style à condition que cette
notice soit préservée dans chacune des copies.

$Id: dlfp.css,v 0.18 2010/12/04 23:07:37 pj Exp pj $
*/

/* position dans la page.
  - toutes les positions sont fixées relativement
	à la taille de la police.
  - Le but étant d'avoir des lignes de taille fixe
	(aux alentours de 70 caractères), quelle que
	soit la taille de l'écran ou de la police.
  - Pour les modifier, utiliser le repère:
	« ancrage à gauche et taille »
	qui émaille la feuille de style.
/*

/* couleurs
sed -e "s/#EAEAEA/#EAEAEA/g
	s/#DBDBDB/#$DBDBDB/g
	s/#C2C2C2/#$C2C2C2/g
	s/#828282/#$828282/g
	s/#353535/#$353535/g" 
*/

/* Balises générales */
body {
	padding: 0em;
	margin: 0em;
	background-color: #EAEAEA;
	color: #353535;
	font-size: 0.8em;
	}
nav, header, aside, figure, section, footer, article {display: block; }

img{display: none;}
a{color: #353535}
a:hover, a:active {color: #828282;}
table, th, td {
	border: 1px solid #C2C2C2;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 8em;
	}
ul {list-style-type: none;}
ul li {text-indent: -1em;}
ul li:before {content: "– ";}
td {
	padding-top: 3em; padding-bottom: 3em;

	}
input {background-color: #EAEAEA;
	border: 1px solid #C2C2C2;
	color: #353535;
	margin: 0.4em;
	}
textarea {background-color: #EAEAEA;
	border: 1px solid #C2C2C2;
	color: #353535;
	display: block;
	width: 30em;
	padding: 0.5em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: auto;
	margin-right: auto;
	}

input[type="submit"] {
	color: #828282;
	border: 1px solid #C2C2C2;
	background-color: #C2C2C2;
	}
input[type="submit"]:hover {
	color: #353535;
	border: 1px solid #C2C2C2;
	background-color: #DBDBDB;
	}

/* guillemets et espaces insécables */
q:lang(no){quotes: "« " " »" "“" "”";}
q:lang(fr){quotes: "« " " »" "“" "”";}
q:lang(en){quotes: "« " " »" "“" "”";}
blockquote{font-style: italic;}
blockquote p:before {content: "« "; color: #828282;}
blockquote p:after {content: " »"; color: #828282;}

/* Barre de navigation */
#site {
	display: block;
	padding-bottom: 1em;
	margin-top: 2em;
	/* ancrage à gauche et taille*/
	margin-left: 22em;
	width: 41em;
	}
#site .go_to_content {display: none;}
#site ul {
	font-size: 0.8em;

	padding: 0px;
	}
#site li {display: inline;
	text-indent: 0px;
	margin: 0px;
	padding: 0px;}
#site li:before {content: "";}
#site li:before {content: none; }
#site ul > li:first-child a:link, #site ul > li:first-child a:visited {
	border-left: 1px solid #DBDBDB;
	}

#site li a:link, #site li a:visited {
	width: 6.17em;
    border-top: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
	height: 2.5em;
    float: left; 
    text-decoration: none; font-weight: normal;
	color: #828282; 
	line-height: 2.5em;
	text-align: center; 
	background-color: #EAEAEA;
	}
#site li a:hover, #site li a:active {
	background-color: #DBDBDB;
	color: #353535;
    }

/* formulaire de recherche */
#site form {
	position: absolute;
	top: 2em; right: 2em;
	width: 8em;
	text-align: center;
	}
#site form input {
	width: 8em;
	}
#site form label{display: none;}

/* menu latéral */
#sidebar{
	position: absolute;
	top: 2em;
	left: 1em;
	width: 12em;
	text-align: center;
	font-size: 1em;
	}
#sidebar h1 {
/* Merci à Zapata Heroni pour le !important
https://alpha.linuxfr.org/suivi/logo-dans-le-css-et-pas-dans-le-html
*/
	background-image: none !important;
	}
#sidebar ul {
	list-style: none inside;
	margin: 0px; padding: 0px;
	text-align: left;
	}
#sidebar li {
	margin-bottom: 1em;
	}
#sidebar li {text-indent: 0px;}
#sidebar li:before {content: "";}
#sidebar li:before {content: none;}
#sidebar a {text-decoration: none;}


/* boite de login */
.login{
	margin-top: 6em;
	border: 1px solid #C2C2C2;
	text-align: center;
	}
.login h1 {font-size: 1.3em;}
.login form #account_login_sidebar,
.login form #account_password_sidebar,
.login form #account_remember_me_sidebar {
	width: 8em;
	margin: 0.4em;
	}
.login label {color: #828282;}
#sidebar .login ul {
	text-align: center;
	}
#sidebar .login li{
	margin: 0px; padding: 0px;
	padding-bottom: 0.5em;
	text-indent: 0px;
	}

/* boite forum, tags, sections et wiki */
#forum_box, #tags_box, #wiki_edition, #sections {
	margin-top: 5em;
	}


/* Contenu principal */
#container {
	display: block;
/*	top: 6em; */
	margin-top: 6em;
	text-align: justify;
	font-size: 1em;
	/* ancrage à gauche et taille */
	margin-left: 22em;
	width: 40em;
	}
#container h1 {
	font-weight: bold;
	margin-top: -0.6em;
	margin-bottom: 0.6em;
	font-size: 2.5em;
	color: #353535;
	text-align: center;
	}

/* boite à outils: Précédent - suivant */
.toolbox {display: block;
	color: #828282;
	margin-top: 2em;
	text-align: center;
	font-size: 0.8em;
	padding-bottom: 2em;
	}
.toolbox a {color: #828282;}
.toolbox a:hover, .toolbox a:active {
	color: #353535;
	}
.toolbox ul {display: inline;
	margin: 0px;
	padding: 0px;}
.toolbox li {text-indent: 0px;}
.toolbox li:before {content: "";}
.toolbox li:before {content: none;}
.toolbox li{display: inline;}


/* Sous-contenu */
#container .node{
	/* Bordures latérales ajoutées suite aux remarques de
	guepe, Benoît Monin, Barret Michel:
	https://linuxfr.org/~Sygne/30547.html
	*/
	border: 1px solid #DBDBDB;
	border-top: 1em solid #C2C2C2;
	padding: 3em;
	display: block;
	margin-top: 2em;
	margin-bottom: 11em;
	padding-bottom: 1em;
	border-bottom: 1em solid #C2C2C2;
	}
#container .node h1 {
	margin: 1em;
	margin-top: 0em;
	background: none;
	border: none;
	font-weight: bold;
	color: #353535;
	padding: 0.5em;
	text-align: center; font-size: 1.4em;
	border: 1px solid #DBDBDB;
	}
#container .node h1 a {
	text-decoration: none;
	}
/* pourquoi pas forums, journal et autres? */
#container .news h1 > a:first-child:after,
#container .wikipage h1 > a:first-child:after {
	content: " :";
	}

/*#container .node p {text-indent: 1.5em;} */

/* meta informations du contenu */
#container .meta {
/*	display: block; */
	color: #828282;
	text-align: center;
	margin-bottom: 1em;
}
#container .meta a {color: #828282;}
#container .meta a:hover, #container .meta a:active {color: #353535;}

/* tags du contenu */
/*
#container .node .tags {
	display: inline;
	text-align: center;
	}
*/
#container .node .tags ul {
	list-style: none inside;
	display: inline;
	margin: 0px; padding: 0px;
	}
#container .node .tags li {
	display: inline;
	margin: 0px; padding: 0px;
	}
#container .node .tags li {text-indent: 0px;}
#container .node .tags li:before {content: "";}
#container .node .tags li:before {content: none;}

/* score du contenu */
#container .node .score {
	display: block;
	position: relative;
	left: -6.75em;
	top: -9em;
	width: 3em;
	padding-bottom: 5em;
	padding-top: 0.5em;
	margin-bottom: -5em;
	text-align: center;
	font-size: 0.8em;
	background-color: #C2C2C2;
	color: #828282;
/*	border: 1px solid #828282; */
	}

/* lettrine */
#container .node .content > p:first-child:first-letter,
#container .node .content:first-letter { 
	font-weight: bold;
	font-size: 1.4em;
	margin-right: 0.1em;
	}

/* actions sur le contenu */
#container .actions {
	/* display: block; */
	color: #828282;
	text-align: right;
	}
#container .actions a{color: #828282;}
#container .actions a:hover, #container .actions a:active {
	color: #353535;
	}
#container .vote form {
	display: inline-block;
	}
#container .vote input {
	background-color: #EAEAEA;
	border: 0px;
	color: #828282;
	text-decoration: underline;
	margin: 0px;
	padding: 0px;
	}
#container .vote input:hover, #container .vote input:active {
	color: #353535;
	}

/* Commentaires */
.threads{
	margin: 0px;
	position: relative;
	left: -9em;
	width: 54em;
	padding: 0px;
	}
.threads h2 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 1em;
	}

#comments .meta {
	text-align: left;
	margin-top: 0.3em;
}
/* nouveau */
.threads .new-comment h2, #container .new-node h1 {
	background-color: #DBDBDB;
	border: 1px solid #828282;
	}
.threads .new-comment h2 a, #container .new-node h1 a {
	text-decoration: none;
	}
.threads ul {
	list-style-type: none;
	margin-left: 0px;
	}
.threads li {
	margin-top: 10em;
	padding: 2em;
	margin-left: 0px;
	border: 1em solid #C2C2C2;
	}
.threads li, li.comment {text-indent: 0px;}
.threads li:before, li.comment:before {content: "";}
.threads li:before, li.comment:before {content: none;}
.threads li li, li.comment li {
	margin-top: 2em;
	padding: 0px;
	border: 0px;
	border-top: 1px solid #C2C2C2;
	}

.threads .content {
	border-left: 1px solid #C2C2C2;
	padding-left: 1em;
	max-width: 30em;
	}

/* trollomètre */
/*	Merci à Nic0:
	https://linuxfr.org/comments/1189660.html#1189660
	Merci aux trolleurs:
	http://alpha.linuxfr.org/users/samwang/journaux/objectif-rapide-revue-du-p2p-moderne
*/
.threads ul li ul li ul li ul li ul li ul li ul li ul li ul li ul {
	margin-left: -28em;
	border-left: 1px solid #828282;
	}

.threads ul li ul li ul li ul li ul li ul li ul li ul li ul li ul li ul {
	margin-left: 0.8em;
	border-left: 0px;
	}
.threads ul li ul li ul li ul li ul li ul li ul li ul li ul li ul ul li ul li ul li ul li ul li ul li ul li ul {
	margin-left: -28em;
	border-left: 1px solid #828282;
	}
.threads ul li ul li ul li ul li ul li ul li ul li ul li ul li ul ul li ul li ul li ul li ul li ul li ul li ul li ul {
	margin-left: 0.8em;
	border-left: 0px;
	}
/* fin du trollomètre */

/* contenu de commentaires contenant des listes */
.threads .content ul, .threads .content li,
.comment .content ul, .comment .content li {
	border: 0px;
	margin-top: 0.5em;
	}
.threads .content li {text-indent: -1em;}
.threads .content li:before {content: "– ";}

/* Plier */
.fold > .meta, .fold > .content,  .fold > .actions {
	display: none;
	}

.fold > h2 a {color: #828282;}
.fold > h2 a:hover, .fole > h2 a:active {color: #353535;}

/* dépêche */
#form_links {
	margin-top: 5em;
	}
fieldset {
	width: 30em;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #DBDBDB;
	margin-bottom: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	}
.link input[type=text] {
	width: 25em;
	}
.link input[type=url] {
	width: 25em;
	}

/* Petites annonces */
#bigfooter {
	color: #828282;
	display: block;
	position: absolute;
	margin-top: 10em;
	padding-bottom: 10em;
	text-align: center;
	/* ancrage à gauche et taille */
	margin-left: 10em;
	width: 64em;
	}
#last_comments, #popular_tags, #friends, #about_us {
	display: block;
	float: left;
	width: 12em;
	height: 50em;
	margin: 1em;
	padding: 0.5em;
	border: 1px solid #C2C2C2;
	border-top: 1em solid #C2C2C2;
	margin-bottom: 5em;
	}
#bigfooter h1 {
	display: block;
	height: 5em;
	color: #353535;
	font-size: 1.3em;
	}
#bigfooter ul {
	font-size: 0.9em;
	list-style: none inside;
	margin: 0px; padding: 0px;
	}
#bigfooter li {
	margin-bottom: 1em;
	}
#bigfooter li {text-indent: 0px;}
#bigfooter li:before {content: "";}
#bigfooter li:before {content: none;}
#bigfooter a {text-decoration: none;
	color: #828282;}
#bigfooter a:hover, #bigfooter a:active {
	color: #353535;
	}



/* Coloration syntaxique du code */
pre {
	white-space: pre-wrap;
	padding: 1em;
	border-left: 1px solid #DBDBDB;
	}
.bash .c, .c1, .nv, .s, .kt {font-style: italic;}
.p, .nb, .na, .nt, .o, .k {font-weight: bold;}

/* toolbar */
#toolbar {
	position: fixed;
	font-size: 0.8em;
	text-align: center;
	color: #828282;
	bottom: 1em;
	right: 0.3em;
	width: 8.3em;
	}
#toolbar a {color: #828282;}
#toolber a:hover {color: #353535;}
#toolbar a:active {color: #353535;}
#toolbar_threshold {display: block;}

.notice {
	margin-top: -3em;
	margin-bottom: 3em;
	background-color: #DBDBDB; 
	border: 1px solid #C2C2C2;
	padding: 0.3em;
	text-align: center;
	}
.notice-wrap ul {text-align: left;}
.notice-wrap {
	position: fixed;
	top: 100px;
	/* ancrage à gauche et taille */
	left: 22em;
	width: 40em;
	}

/* tribune (board) */
.board #board_message {
	width: 25.5em;
}

