/**
 * Author: Michel Barret
 * License: CC0 - http://creativecommons.org/publicdomain/zero/1.0/
 */

body, nav, header, aside, figure, section, footer, article {
  margin: 0;
  padding: 5px;
  display: block;
}
#branding, #sidebar {
  float: left;
  clear: left;
  width: 211px;
}
#container {
  width: 1000px;
  margin-left: 225px;
}
#bigfooter {
  clear: both;
  margin-bottom: 20px;
}
body, #site, #container { background-color: #4c57d8; }
#bigfooter { background-color: #59ea3a; }
#sidebar {
  background-color: #80ea69;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#branding h1 {
  display: block;
  width: 201px;
  height: 186px;
}
#branding h1 a {
  display: block;
  text-indent: -9999em;
  width: 100%;
  height: 100%;
}
ul { list-style-type: none; }
nav#site {
  clear: both;
  width: 100%;
  overflow: auto;
}
#site ul {
  padding: 0;
  display: inline;
  width: 90%;
}
#site li {
  display: inline;
  padding: 5px 0px;
  list-style: none;
}
#site li:hover { background-color: #4c57d8; }
#site form { float: right; }
#bigfooter > div {
  display: inline-block;
  height: 100%;
  width: 24%;
  vertical-align: top;
}
#bigfooter li:hover { background-color: #aaaaff; }
#container { width: 75%; }
#container article {
  background-color: #7279d8;
  border: 1px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
#container article header {
  background-color: #4c57d8;
  padding: 1px 5px;
}
#container article footer {
  background-color: #4c57d8;
  padding: 1px 5px;
}
#container article header {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#container article footer {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#container article figure { float: left; }
ins.diffins, ins.diffmod { background-color: #33ff33; }
del.diffdel, del.diffmod { background-color: #ff3333; }
.comment { border: 1px solid black; }
.new-comment h3 { border: 1px solid red; }
.fold { display: none; }
.avatar {
  float: left;
  margin: 5px 10px;
}
#toolbar {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 20px;
  right: 20px;
  padding: 2px;
  color: #333333;
  background-color: #dfd6d1;
  border: 1px solid #bbaaaa;
}
#toolbar-items { float: right; }
.go_to_content { display: none; }
.go_to_content form { float: right; }
a img { border: none; }
h2 { color: #333333; }
#sidebar .login p { font-weight: bold; }
#tracker .fix a { text-decoration: line-through; }
#tracker .invalid a { text-decoration: line-through; }
.tracker.fix a { text-decoration: line-through; }
.tracker.invalid a { text-decoration: line-through; }
.misspelled { border-bottom: 1px dashed red; }
form .pot_de_miel { display: none; }
h1 {
  margin: 0;
  padding: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
h1 a {
  color: #25d500;
  text-decoration: none;
}
a { color: black; }
pre {
  background-color: #f0f3b9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
blockquote p {
  background-color: #f0f3b9;
  font-style: italic;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
code { font-family: monospace; }
nav#toolbox {
  overflow: auto;
  width: 100%;
  clear: both;
}
aside.banner {
  background-color: #188a00;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.new_content {
  float: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #188a00;
  padding: 3px;
}
.new_content a { text-decoration: none; }
.new_content:hover { background-color: #3da028; }
.pagination {
  font-size: 0.75em;
  display: block;
  clear: both;
  text-align: center;
}
.order_navbar ul {
  list-style-type: none;
  display: inline;
  padding: 0;
}
.order_navbar ul li {
  display: inline;
  padding: 0;
}
.forum h2 { font-size: 12px; }
h2 { font-size: 1em; }
h2 a { text-decoration: none; }
article ul.tag_cloud {
  list-style-type: none;
  display: inline;
}
article ul.tag_cloud li { display: inline; }
article ul.tag_cloud li a {
  float: right;
  display: block;
  padding: 0 0.2em;
}
.button_to { display: inline-block; }
.liste_footer { float: left; }
.liste_footer h1 { font-size: 16px; }
.liste_footer li { font-size: 12px; }
footer {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  clear: both;
  width: 97%;
  overflow: auto;
}
nav { float: left; }
nav h1 { font-size: 16px; }
nav li { font-size: 12px; }
nav ul#tag_cloud { float: left; }
nav ul#tag_cloud h1 { font-size: 16px; }
nav ul#tag_cloud li { font-size: 12px; }
section#friends { float: left; }
section#friends h1 { font-size: 16px; }
section#friends li { font-size: 12px; }
