- if current_account && current_account.can_update?(@tag)
  - if @tag.public?
    %p L’étiquette « #{@tag.name} » est actuellement visible.
    = button_to "Cacher cette étiquette", hide_tag_path(@tag), class: "delete_button"
  - else
    %p L’étiquette « #{@tag.name} » est actuellement cachée.
    = button_to "Rendre à nouveau visible cette étiquette", hide_tag_path(@tag), class: "ok_button"
