%main#contents(role="main")
  =h1 "Tagger un contenu"

  %p Vous pouvez mettre plusieurs tags séparés par une espace.
  %p Les caractères autorisés sont les lettres minuscules, les chiffres et le caractère souligné.

  = render :partial => 'form'
