%main#contents(role="main")
  =h1 "Étiqueter un contenu"

  %p Vous pouvez mettre plusieurs étiquettes en les séparant par des espaces.
  %p Les caractères autorisés sont les lettres minuscules, les chiffres et le caractère souligné « _ ».

  = render partial: 'form'
