=h1 "Tagger un contenu"

%p Vous pouvez mettre plusieurs tags séparés par une espace.
%p Les caractères autorisés sont les lettres minuscules, les chiffres et le caractère souligné.

- form_tag node_tags_path(@node) do
  = label_tag :tags
  = text_field_tag :tags
  = submit_tag "Tagger"
