%main#contents(role="main")
  =h1 "Changelog"

  #changelog.body
    %pre
      = @commits
    %nav
      - if @page > 0
        %span
          = link_to "Commits plus récents", { :page => @page - 1 }, { :rel => 'prev' }
      %span
        = link_to "Commits plus anciens", { :page => @page + 1 }, { :rel => 'next' }
