%h2 L'association LinuxFr
%p
  LinuxFr est une association régie par la loi de 1901, créée fin octobre 1998.
  Elle a pour objectif de promouvoir les Logiciels Libres, en particulier Linux.
%p
  = link_to image_tag("http://www.april.org/association/documents/bannieres/membre-de-april.png", :alt => "Promouvoir et soutenir le logiciel libre"), "http://www.april.org/"
%ul
  %li Président : Nicolas Vérité
  %li Trésorier : Florent Zara
  %li Secrétaire : Amaury Amblard-Ladurantie

%h2 Le site web LinuxFr.org
%p
  Le site LinuxFr.org est géré par l'association LinuxFr.
%p
  L'association se réserve le droit de refuser l'accès au site.
%p
  Si un message vous semble contenir des propos diffamatoires, racistes, etc,
  veuillez nous en <a href="mailto:moderateurs_&#64;_linuxfr.org">avertir</a> dès que
  possible.
%p
  Nous nous réservons le droit d'effacer toute intervention sur ce site, ainsi
  que de supprimer tout compte dont l'utilisation nous semblerait détournée.
%p
  En bref, on se réserve le droit de faire ce qu'on veut.

= link_to image_tag("/images/dessins/geekscottes_084.png", :alt => "Linux c'est fair", :title => "Linux c'est fair - © Johann 'nojhan' Dréo : 2007-02-06 - Licence CC By-Sa 2.5"), "http://www.nojhan.net/geekscottes/index.php?strip=85"
