/* Devise is used for sign-up, login, password reset, etc. */
.devise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main.devise {
  height: 100vh;
}

/* Logo at the top of the page */
.devise.logo {
  width: 100%;
}
.devise.logo hr {
  width: 80%;
  margin: 0.1rem;
  color: var(--gray);
}

/* Texts */
.devise h1 {
  margin: 1rem 2rem;
  color: var(--dark-gray);
  font-size: 1.5rem;
}
.devise .warning {
  margin: 1rem 2rem;
  color: var(--dark-gray);
}
.devise .notes {
  margin: 1rem 2rem;
}
@media (--small) {
  .devise .notes {
    font-size: .7rem;
  }
}

/* forms */
.devise input[type="text"],
.devise input[type="email"],
.devise input[type="password"] {
  width: 16rem;
  margin-top: 1rem;
  padding: .5rem 0 .3rem 2rem;
  border: 0;
  border-bottom: 1px solid var(--dark-gray);
}
.devise input[type="text"] {
  background: url("~feather-icons/dist/icons/user") no-repeat left;
}
.devise input[type="email"] {
  padding-left: 2.25rem;
  background: url("~feather-icons/dist/icons/mail") no-repeat left;
}
.devise input[type="password"] {
  background: url("~feather-icons/dist/icons/lock") no-repeat left;
}
.devise input[type="submit"] {
  width: 16rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--near-black);
  background-color: var(--white);
}

/* Links at the bottom of the page */
.devise.links a {
  width: 12rem;
  margin: 0.6rem;
  padding: 0.4rem;
  border: 1px solid var(--gray);
  color: var(--gray);
  font-size: 0.8rem;
  text-align: center;
}
.devise.links a:hover {
  transition-property: border color;
  border-color: var(--near-black);
  color: var(--near-black);
}
