* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a, a:link, a:visited, a:hover, a:active, a:focus {
  transition: color .15s ease-in;
}
