/* go-to-content is a link aimed at screen readers only */
.go-to-content {
  float: left;
  text-indent: -9998em;
  overflow: hidden;
  text-align: left;
  width: 10px;
}

/* measure is used to limit the width, so that the content stays legible */
.measure {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}

/* nav-list helps formatting a navigation bar, ie a list of links */
.nav-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.nav-list li {
  display: inline-block;
}
