/* go-to-content is a link aimed at screen readers only */
/* Inspired from http://www.ffoodd.fr/cache-cache-css/ */
.go-to-content {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.go-to-content:focus,
.go-to-content:active {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  width: auto;
  white-space: normal;
}

/* measure is used to limit the width, so that the content stays legible */
.measure {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}

/* nav-list helps formatting a navigation bar, ie a list of links */
.nav-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.nav-list li {
  display: inline-block;
}

/* Use a fake checkbox for pure CSS fold-out menu */
/* Inspired from https://codepen.io/erikterwan/pen/EVzeRP */
.menu-all, .menu-small {
  position: relative;
  z-index: 1;
}
.menu-toggle {
  display: block;
  width: 2em;
  height: 2em;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  -webkit-touch-callout: none;
}
.menu-all .menu-content {
  display: none;
  position: absolute;
  background: var(--white);
}
.menu-all .menu-toggle:checked ~ .menu-content {
  display: block;
}
@media (--small) {
  .menu-small .menu-content {
    display: none;
    position: absolute;
    background: var(--white);
  }
  .menu-small .menu-toggle:checked ~ .menu-content {
    display: block;
  }
}
@media (--not-small) {
  .menu-small .menu-toggle {
    display: none;
  }
}
