/* Header */
.layout-header .login {
  display: flex;
  flex-direction: row-reverse;
  margin-top: .5em;
  font-weight: bold;
}
.layout-header .login a {
  color: var(--blue);
}
.layout-header .login a:hover {
  color: var(--dark-blue);
}
.layout-header .login li {
  padding: 0 .4em;
}
.layout-header .login li:last-of-type {
  padding-right: 0;
}
.layout-header .login li:not(:first-of-type) {
  border-left: 2px solid var(--near-black);
}
.layout-header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.layout-header .logo h1 {
  color: var(--near-black);
  font-size: 3rem;
  margin: .2em;
  line-height: .8;
}
.layout-header .logo span {
  display: block;
  color: var(--light-silver);
  font-size: 2rem;
  text-align: right;
}
.layout-header .hamburger {
  display: flex;
  justify-content: space-between;
}
.layout-header .hamburger li {
  padding: 1px 2em 2px 0;
  text-transform: uppercase;
  font-size: 1.1em;
}
.layout-header .hamburger a:hover {
  color: var(--gray)
}
.layout-header .hamburger input {
  max-width: 12em;
  border: none;
  border-bottom: solid 1px var(--gray);
  font-size: 1.1em;
}
@media (--small) {
  .layout-header .hamburger {
    position: fixed;
	top: 0;
	left: 0;
  }
  .layout-header .login {
    position: fixed;
	top: 0;
	right: 0;
  }
  .layout-header .logo {
    display: none;
  }
}

/* Columns */
@media (--large) {
  .layout-columns {
    display: flex;
  }
  .layout-column.left {
    flex: 3;
  }
  .layout-column.right {
    flex: 1;
  }
}

/* Footer */
.layout-footer {
  background-color: var(--dark-yellow);
}
