/* No layout */
.no-layout .layout-header,
.no-layout .layout-footer {
  display: none;
}

/* Header - Logo & Title */
.layout-header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.layout-header .logo h1 {
  color: var(--near-black);
  font-size: 1.4rem;
  margin: 0.2em;
  line-height: 0.8;
}
.layout-header .logo span {
  display: block;
  color: var(--light-silver);
  font-size: 0.7em;
  text-align: right;
}
@media (--small) {
  .layout-header .logo {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    box-shadow: 0 0 6px var(--near-black);
  }
  .layout-header ~ section {
    margin-top: 2.5em;
  }
  .no-layout .layout-header ~ section {
    margin-top: 0;
  }
  .layout-header .logo img {
    display: none;
  }
}
@media (--not-small) {
  .layout-header .logo h1 {
    font-size: 3rem;
  }
  .layout-header .toggle-login {
    display: none;
  }
}

/* Header - Hamburger & left menu */
.layout-header .hamburger {
  display: flex;
  justify-content: space-between;
}
.layout-header .hamburger li {
  padding: 1px 2em 2px 0;
  text-transform: uppercase;
  font-size: 1.1em;
}
.layout-header .hamburger a:hover {
  color: var(--gray);
}
.layout-header .hamburger input[type="search"] {
  max-width: 12em;
  border: none;
  border-bottom: solid 1px var(--gray);
  background: url("~feather-icons/dist/icons/search") no-repeat right;
  font-size: 1.1em;
}
@media (--small) {
  .layout-header .hamburger {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0.2rem 0.3rem;
    background: url("~feather-icons/dist/icons/menu") no-repeat left;
  }
  .layout-header .menu-content {
    top: 2em;
    border: 1px solid var(--gray);
  }
}
@media (--not-small) {
  .layout-header .toggle-hamburger {
    display: none;
  }
}

/* Header - Login & Sign up links */
@media (--small) {
  .layout-header .login li {
    position: fixed;
    display: block;
    z-index: 1;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.2rem 0.3rem;
    overflow: hidden;
    color: transparent;
    background: url("~feather-icons/dist/icons/log-in") no-repeat left;
  }
  .layout-header .login li + li {
    display: none;
  }
}
@media (--not-small) {
  .layout-header .login a {
    color: var(--blue);
  }
  .layout-header .login a:hover {
    color: var(--dark-blue);
  }
  .layout-header .login li {
    padding: 0 0.4em;
  }
  .layout-header .login li:last-of-type {
    padding-right: 0;
  }
  .layout-header .login {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.5em;
    font-weight: bold;
  }
  .layout-header .login li:not(:first-of-type) {
    border-left: 2px solid var(--near-black);
  }
}

/* Header - logged-in menu */
.layout-header .logged {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.2rem 0.3rem;
  background: url("~feather-icons/dist/icons/user") no-repeat left;
}

/* Columns */
@media (--large) {
  .layout-columns {
    display: flex;
  }
  .layout-column.left {
    flex: 3;
  }
  .layout-column.right {
    flex: 1;
  }
}

/* Footer */
.layout-footer {
  background-color: var(--dark-yellow);
}
.layout-footer ul {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.layout-footer li {
  padding: 0.5em;
}
.layout-footer a {
  color: var(--white);
  font-size: 1.1em;
}
.layout-footer a:hover {
  color: var(--gray);
}
