/* Footer, with download and comment actions */
.node-content .actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}
.node-content .download {
  background: url("~feather-icons/dist/icons/download") no-repeat left;
}
.node-content .download-formats {
  top: 2em;
  border: 1px solid var(--gray);
}
.node-content .download-formats a {
  display: block;
  width: 100%;
  padding: .5em;
  transition: none;
}
.node-content .download-formats a:hover {
  color: #fff;
  background: var(--blue);
  transition: none;
}
.node-content .comments-count a {
  display: block;
  padding: .5em 1.75em;
  background: url("~feather-icons/dist/icons/message-circle") no-repeat right;
}
