.stream {
  margin-top: 0.5rem;
  border-top: 0.3rem solid var(--dark-gray);
}
.stream h1 {
  margin: 0.5rem 0 1rem;
  font-size: 1.5rem;
  color: var(--dark-gray);
}
.stream .follow-feed {
  float: right;
}
.stream .node {
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid var(--gray);
}
.stream .node:last-of-type {
  border: 0;
}
