html {
  background: $C_BAS_FOND;
  background-image: url("/images/contrib/RonRonnement/background_html.png");
  background-repeat: repeat-x;
  background-position: top;
  font-family: sans-serif;
  padding: 0 $PX_MARGE_DROITE 0 $PX_MARGE_GAUCHE;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  color: #000;
  max-width: 150ex;
  margin: 0 auto;
  border: solid #999;
  border-width: 0 1px;
  background: linear-gradient(
      90deg,
      $C_CLAIR,
      $C_CLAIR $PX_BRANDING_LARG,
      $C_CONTAINER $PX_BRANDING_LARG,
      $C_CONTAINER
    )
    #fff;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  transition: color 0.15s ease-in;
}

input,
button,
select,
textarea {
  font-size: 1em;
  max-width: 100%;
}

img,
video,
svg {
  max-width: 100%;
  max-height: 80vh;
  object-fit: cover;
  border: none;
}

blockquote {
  border-left: 3px solid $C_BANDEAU;
  margin: 10px 0 10px 10px;
  padding-left: 5px;
  padding-right: 0;

  > p:first-child {
    padding-top: 5px;
  }
}

code {
  font-size: 1.1em;
  white-space: pre-wrap;
  border: 1px solid $C_CLAIR;
  border-radius: 4px;
  padding: 1px 4px;
}

pre code {
  display: block;
  margin: 10px 0 10px 10px;
  padding-left: 5px;
  padding-right: 0;
  border-width: 0 0 0 3px;
  border-color: $C_BANDEAU;
}
