.button_to {
  display: inline-block;
}
button {
  padding-top: 2px;
  padding-bottom: 2px;
}

button,
a.show_client_app,
a.edit_client_app,
.new_content a,
.toolbox .follow_feed a,
#comments #follow-feed a,
#comments #send-comment a,
#redaction a.reorganize,
input[type="submit"] {
  padding-left: 5px;
  padding-right: 5px;
  margin: 3px;
  font-weight: normal;
  color: black;
  background-color: $C_CLAIR;
  border: 1px solid $C_INTER;
  font-size: medium;

  &:hover {
    background-color: $C_INTER;
    border: 1px solid $C_FONCE;
    text-decoration: none;
  }
}

#comments #follow-feed,
#comments #send-comment {
  display: inline-block;
}

a.show_client_app,
form input[type="submit"],
button {
  display: inline-block;
  height: 28px;
  margin-top: 0;
  padding-left: 28px;
  background: no-repeat 3px 3px $C_CLAIR;
  background-size: 20px;
  background-image: url("feather-icons/dist/icons/check");
  cursor: pointer;
  &[disabled] {
    cursor: default;
  }
  &:hover {
    background-color: $C_FONCE;
  }
  &#logout,
  &.unread,
  &.relevant,
  &.useless {
    background: $C_CLAIR;
  }
}

#redaction a.reorganize {
  display: inline-block;
  height: 27px;
  padding: 0 4px 0 28px;
  margin: 0 4px 12px;
  line-height: 1.6;
  background: no-repeat 2px 2px $C_CLAIR;
  background-size: 20px;
  background-image: url("feather-icons/dist/icons/shuffle");
  &:hover {
    background-color: $C_FONCE;
  }
}

button.edit,
button.cancel,
button#admin_49_3,
button.add_link {
  &:hover {
    background-color: $C_FONCE;
  }
}

button,
input[type="submit"] {
  &.refuse_news,
  &.delete_button,
  &.remove,
  &.erase_news {
    background-image: url("feather-icons/dist/icons/trash-2.svg");
  }
  &.change_role {
    background-image: url("feather-icons/dist/icons/arrow-right-circle.svg");
  }
  &.cancel,
  &.refuse_oauth {
    background-image: url("feather-icons/dist/icons/slash.svg");
  }
  &.ppp_news {
    background-image: url("feather-icons/dist/icons/sunrise.svg");
  }
  &.submit_board {
    background-image: url("feather-icons/dist/icons/message-square.svg");
  }
  &.submit_news,
  &.submit {
    background-image: url("feather-icons/dist/icons/send.svg");
  }
  &.urgent_news {
    background-image: url("feather-icons/dist/icons/zap.svg");
  }
  &.add_para,
  &.add_link,
  &.create_news {
    background-image: url("feather-icons/dist/icons/plus.svg");
  }
  &.vote_for {
    background-image: url("feather-icons/dist/icons/thumbs-up.svg");
  }
  &.vote_against {
    background-image: url("feather-icons/dist/icons/thumbs-down.svg");
  }
  &.plonk,
  &.block {
    background-image: url("feather-icons/dist/icons/volume-x.svg");
  }
  &#admin_49_3,
  &.archive_button,
  &.reopen_button {
    background-image: url("feather-icons/dist/icons/crosshair.svg");
  }
  &.reset_news,
  &.reset_password {
    background-image: url("feather-icons/dist/icons/refresh-cw.svg");
  }
  &.reassign_news {
    background-image: url("feather-icons/dist/icons/user-check.svg");
    background-size: 14px;
    width: 20px;
    height: 20px;
    padding: 0;
    text-indent: -9999em;
  }
  &.rewrite_news {
    background-image: url("feather-icons/dist/icons/edit.svg");
  }
  .tag_in_place & {
    background-image: url("feather-icons/dist/icons/tag.svg");
  }
  &#followup {
    background-image: url("feather-icons/dist/icons/at-sign.svg");
  }
  #trackers-index .new_tracker & {
    background-image: url("feather-icons/dist/icons/filter.svg");
  }
}

a.show_client_app,
a.edit_client_app,
.new_content a,
.toolbox .follow_feed a,
#comments #follow-feed a,
#comments #send-comment a {
  display: inline-block;
  padding: 2px 5px 0 25px;
  height: 24px;
}
a.edit_client_app,
.new_content a {
  background: no-repeat 3px 3px $C_CLAIR;
  background-size: 16px;
  background-image: url("feather-icons/dist/icons/edit-3.svg");
}
.toolbox .follow_feed a,
#comments #follow-feed a {
  background: no-repeat 3px 3px $C_CLAIR;
  background-size: 16px;
  background-image: url("feather-icons/dist/icons/rss.svg");
}
#comments #send-comment a {
  background: no-repeat 3px 3px $C_CLAIR;
  background-size: 18px;
  background-image: url("feather-icons/dist/icons/message-circle.svg");
}

#stylesheets-edit button {
  height: auto;
  padding: 0;
  background: none;
  display: block;
}
