/* article titre */
#phare article {
  margin: 1rem -1px 3rem;
  box-shadow: 0 4px 6px 0 #aaa;
  border: solid $BORDER_PHARE $C_BANDEAU;
  border-radius: 0;

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    .news-figure figure {
      img {
        width: 100%;
        max-height: none;
      }
      figcaption {
        display: none;
      }
    }
    .meta {
      display: none;
    }
  }
}

/* information générale, "publicité" (genre fosdem p. ex.) */
.banner {
  display: block;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: $C_BD2;
  box-shadow: 0 0 65px #fff inset, 0 0 20px $C_BD2 inset;
  border-top: solid 2px $C_BANDEAU;
  border-bottom: solid 2px $C_BANDEAU;
  padding: 5px;
}

/* Le court texte à la fin de la page d'accueil pour inciter les gens à participer au site */
.incitation {
  text-align: center;
  margin: 3rem 0 2rem;
  border-top: solid 2px $C_BANDEAU;
  & > * {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    color: #333;
  }
  .people-list li {
    padding: 1rem;
  }
}
