/* Static pages */
#static-show {
  line-height: 1.5;
  h1,
  h2,
  h3 {
    color: #333;
  }
}

/* The admin, moderation, and redaction teams */
.people-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  img {
    vertical-align: middle;
    padding-right: 0.5rem;
  }
  li {
    flex: 16rem 1 0;
    margin: 0.5rem;
    padding: 0.5rem;
    color: #333;
    background-color: #eee;
    max-width: calc(33.33% - 2rem);
  }
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

/* About */
.static-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    margin: 2rem;
  }
}
.about-navigation,
.about-writing {
  flex: 400px 1 0;
  align-self: center;
  margin: 2rem;
  & + img {
    flex: 400px 2 0;
  }
}
.about-writing {
  order: 4;
}
.about-writing + img {
  order: 3;
}
.about-contributors {
  order: 5;
  .people-list {
    li {
      border-radius: 0.3rem;
    }
    a {
      display: inline;
    }
  }
}
.about-signup {
  order: 6;
  flex: 400px 0 0;
  max-width: 100vw;
  box-sizing: border-box;
  border: 1px solid #ccc;
  h3, p { margin: 1rem; }
  form { position: relative; }
  label { display: block; }
  form p:first-child {
    position: absolute;
	top: -1rem;
	left: -490px;
	label { color: white; }
  }
  & + img {
    flex: 500px 0 0;
	margin: 0 0 0 2rem;
    order: 5;
  }
}
.about-credits {
  order: 6;
  .people-list li {
    max-width: initial;
    flex: 24rem 1 1;
  }
}
@media (max-width: 1337px) {
  .about-signup {
    flex: 500px 0 1;
    form p:first-child {
      position: initial;
      label { color: inherit; }
	}
	& + img { margin: 0; }
  }
}
