/* Static pages */
#static-show {
  line-height: 1.5;
  h1,
  h2,
  h3 {
    color: #333;
  }
}

/* The admin, moderation, and redaction teams */
.people-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 0.5rem;
  list-style: none;
  padding: 0;
  img {
    vertical-align: middle;
    padding-right: 0.5rem;
  }
  li {
    padding: 0.5rem;
    color: #333;
    background-color: #eee;
  }
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

/* About */
.static-about {
  display: grid;
  justify-items: center;
  grid-template-columns: 2.5rem 1fr 2rem 2rem 1fr 2.5rem;
  & > * {
    grid-column: 2 / span 4;
    margin: 1rem 0;
  }
}
.about-welcome {
  text-align: center;
}
.about-welcome + img {
  grid-column: 1 / span 6;
  width: 100%;
}
.about-navigation,
.about-writing + img {
  grid-column: 2;
}
.about-navigation + img,
.about-writing {
  grid-column: 5;
}
.about-writing + img {
  grid-row: 5;
}
.about-contributors {
  .people-list {
    li {
      border-radius: 0.3rem;
    }
    a {
      display: inline;
    }
  }
}
.about-signup {
  grid-column: 4 / span 3;
  max-width: 100vw;
  border: 1px solid #ccc;
  & + img {
    grid-column: 1 / span 3;
    grid-row: 7;
  }
  h3,
  p {
    margin: 1rem;
  }
  form {
    position: relative;
  }
  label {
    display: block;
  }
  form p:first-child {
    position: absolute;
    top: -1rem;
    left: -500px;
    label {
      text-shadow: 0 1px 1px #666;
      color: white;
    }
  }
}
.about-credits {
  .people-list {
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  }
}
@media (max-width: 1337px) {
  .about-signup {
    grid-row: 8;
    &,
    & + img {
      grid-column: 2 / span 4;
    }
    & + img {
      margin: 0;
    }
    form p:first-child {
      position: initial;
      label {
        color: inherit;
        text-shadow: inherit;
      }
    }
  }
}
