.actions .editing {
  width: 24px;
  height: 24px;
  & + button.edit {
    display: none;
  }
}

#edition {
  #first_part {
    position: relative;
    top: -1em;
    &::before {
      content: inline("feather-icons/dist/icons/scissors.svg");
      position: relative;
      top: 20em;
      left: -2em;
    }
  }
  img {
    color: rgb(100, 100, 100);
    text-align: center;
    &:before {
      position: absolute;
      display: block;
      content: " ";
      height: calc(100% + 10px);
      width: 100%;
      top: -10px;
      left: 0;
      background-color: rgb(230, 230, 230);
      border: 2px dotted rgb(200, 200, 200);
      border-radius: 5px;
    }
  }
  .content a[href*="/moderation/"],
  .content a[href*="/redaction/"] {
    padding-left: 3px;
    border-left: 16px;
    border-image: inline("feather-icons/dist/icons/eye-off") 0 0 0 32;
    border-style: solid;
  }
}

body#redaction-index {
  #container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 40px 10px 10px;
    & > div {
      padding: 10px;
    }
    & > footer,
    .notice {
      flex: 0 0 100%;
    }
  }
  aside.more {
    margin: 0 0 10px 10px;
    flex: 1 0 300px;
  }
  #main_board {
    margin: 0 0 10px 10px;
    flex: 2 0 420px;
  }
  #board_message {
    width: 100%;
  }
  .create_news {
    margin: 5px 0 15px 0;
  }
  #news,
  #candidate_news {
    display: flex;
    flex-wrap: wrap;
  }
  .news {
    flex: 1 0 225px;
    margin: 0 25px 10px 0;
    border: 1px solid #999;
    padding: 6px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 0.8em;
    color: #555;
  }
  h3 {
    flex: 1;
    font-size: 1.1rem;
    color: #000;
    margin: 12px 16px 12px 0;
  }
  .pen {
    position: absolute;
    width: 32px;
    height: 32px;
    right: -16px;
    top: 50%;
    margin-top: -16px;
    border-radius: 16px;
    background: #999;
    img {
      width: 16px;
      height: 16px;
      margin: 8px;
    }
  }
  .meta {
    img {
      float: right;
    }
  }
  #candidate_news .news {
    padding: 20px 5px;
    font-weight: bold;
  }
}

body {
 background: #f9f9f9;
}

#redaction {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  .draft_header {
    position: relative;
    height: 40px;
    > a {
      color: transparent;
      padding: 1rem;
      background: no-repeat 0px 1.2rem / 1.6em transparent;
      background-image: url("/images/icones/arrow_left.png");
      background-image: url("/images/icones/arrow_left.svg"), none;
    }
    #attendees {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    #attendees a {
      img {
        height:32px;
        width: 32px;
      }
      form {
        margin-left: -23px;
      }
    }
  }
  .draft_creator {
    background: #747474;
    padding: 10px;
    margin: 10px 0px;
    color: white;
    font-size: 0.8em;
    a {
      font-weight: unset;
    }
  }
  .score,
  .datePourCss {
    right: 0;
  }
  .score {
    top: 31px;
  }
  .datePourCss {
    top: 0;
  }
  #links {
    overflow: visible;
  }
  #edition {
    padding-left: 3px;
    padding-right: 3px;
    width: 60%;
    p {
      margin: 0 0 5px;
      padding: 5px;
    }
    textarea {
      width: 100%;
    }
  }
  .edition_in_place,
  .paragraph,
  .link {
    position: relative;
    .edit {
      height: 30px;
      width: 30px;
      padding: 0;
      border-radius: 15px;
      background: no-repeat 6px 6px / 16px $C_CLAIR;
      background-image: inline("feather-icons/dist/icons/edit-3.svg");
      text-indent: -9999em;
    }
    .actions {
      position: absolute;
      bottom: -22px;
      right: 15px;
      button {
        visibility: hidden;
        &:hover {
          background-color: $C_FONCE;
        }
      }
    }
    &:hover {
      background-color: #e0e0e0;
      .actions button {
        visibility: visible;
      }
    }
  }
  #chat {
    padding-left: 3px;
    padding-right: 3px;
    width: 19%;
    .inbox p {
      margin: 2px 0;
    }
  }
  #sidebar, #chat{
    padding-left: 3px;
    padding-right: 3px;
    background: transparent;
    border: unset;
    width: 19%;
    h2, summary {
      font-size:1.5em;
      font-weight: unset;
      line-height:1.3em;
      background: no-repeat 0px 1.65rem / 2rem transparent;
      background-image: url("/images/icones/underline.png");
      background-image: url("/images/icones/underline.svg"), none;
      padding-bottom: 5px;
    }
    ul {
      padding-left:2em;
    }
  }
}
#news_board .board #board_message {
  width: 95%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#redaction .markItUpHeader .link {
  padding-left: 0;
}

.markdown_cheatsheet img.markdown {
  float: left;
  margin: 12px 25px 0 0;
}

