.actions .editing {
  width: 24px;
  height: 24px;
  & + button.edit {
    display: none;
  }
}

#edition {
  #first_part {
    position: relative;
    top: -1em;
    &::before {
      content: inline("feather-icons/dist/icons/scissors.svg");
      position: relative;
      top: 20em;
      left: -6em;
    }
  }
  #first_part.draft {
    &::before {
      left: -2em;
    }
  }
  img {
    color: rgb(100, 100, 100);
    text-align: center;
    &:before {
      position: absolute;
      display: block;
      content: " ";
      height: calc(100% + 10px);
      width: 100%;
      top: -10px;
      left: 0;
      background-color: rgb(230, 230, 230);
      border: 2px dotted rgb(200, 200, 200);
      border-radius: 5px;
    }
  }
  .content a[href*="/moderation/"],
  .content a[href*="/redaction/"] {
    padding-left: 3px;
    border-left: 16px;
    border-image: inline("feather-icons/dist/icons/eye-off") 0 0 0 32;
    border-style: solid;
  }
  #figure
  {
    text-align: center;
    background-color: $C_CLAIR;
    .add-image {
      padding: 20px 0;
    }
    .edit {
      border-radius: 0;
      width: auto;
      padding-left: 28px;
      padding-right: 5px;
      text-indent: 0;
    }
    figure {
      margin:0 auto;
      padding:0;
      display:table;
      img {
        max-height: none;
        &:before, &:after {
         position: static;
         height: auto;
         display:block;
         margin: auto;
         padding: 1rem;
         background-color: rgb(230, 230, 230);
         border: 2px dotted rgb(200, 200, 200);
         border-radius: 5px;
        }
        &:after {
          content: "Votre navigateur n'arrive pas à afficher l'image. Veuillez réessayer l'envoi.";
          color: red;
        }
      }
      figcaption {
        padding-right: 0.5rem;
        text-align: right;
        font-size: 0.8em;
      }
    }
  }
}

body:not(.moderation_page) {
  #redaction {
    #edition  {
      article.news {
        background:none;
        border:none;
        margin:0;
        padding:0;
        h1 {
          font-weight: normal;
          padding: 0;
          border: none;
          margin-right: 0;
          .topic {
            display: none;
          }
        }
        p {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

body.chat_n_edit {
  background: #f9f9f9;
  min-height: 100vh;
}

body#redaction-index {
  #container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 40px 10px 10px;
    & > div {
      padding: 10px;
    }
    & > footer,
    .notice {
      flex: 0 0 100%;
    }
  }
  aside.more {
    margin: 0 0 10px 10px;
    flex: 1 0 300px;
  }
  #main_board {
    margin: 0 0 10px 10px;
    flex: 2 0 420px;
  }
  #board_message {
    width: 100%;
  }
  .create_news {
    margin: 5px 0 15px 0;
  }
  #news,
  #candidate_news {
    display: flex;
    flex-wrap: wrap;
  }
  .news {
    flex: 1 0 225px;
    margin: 0 25px 10px 0;
    border: 1px solid #999;
    padding: 6px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 0.8em;
    color: #555;
  }
  h3 {
    flex: 1;
    font-size: 1.1rem;
    color: #000;
    margin: 12px 16px 12px 0;
  }
  .pen {
    position: absolute;
    width: 32px;
    height: 32px;
    right: -16px;
    top: 50%;
    margin-top: -16px;
    border-radius: 16px;
    background: #999;
    img {
      width: 16px;
      height: 16px;
      margin: 8px;
    }
  }
  .meta {
    img {
      float: right;
    }
  }
  #candidate_news .news {
    padding: 20px 5px;
    font-weight: bold;
  }
}

#redaction {
  padding-top: 20px;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  .draft_header {
    position: relative;
    height: 40px;
    > a {
      color: transparent;
      padding: 1rem;
      background: no-repeat 0px 1.2rem / 1.6em transparent;
      background-image: inline("feather-icons/dist/icons/arrow-left.svg"), none;
    }
    #attendees {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    #attendees a {
      img {
        height:32px;
        width: 32px;
      }
      form {
        margin-left: -23px;
      }
    }
    .attendee {
      display: inline;
    }
    .attendee-name {
      display: none;
    }
  }
  .draft_creator {
    background: #747474;
    padding: 0.5rem;
    margin: 0px 0px 20px 0px;
    color: white;
    font-size: 0.8em;
    a {
      font-weight: normal;
    }
  }
  article h1 {
    margin-right: 30px;
  }
  .score,
  .datePourCss {
    right: 0;
  }
  .score {
    top: 31px;
  }
  .datePourCss {
    top: 0;
  }
  #links {
    overflow: visible;
  }
  #edition {
    padding-left: 3px;
    padding-right: 3px;
    width: 60%;
    p {
      margin: 0 0 5px;
      padding: 5px;
    }
    textarea {
      width: 100%;
    }
  }
  .edition_in_place,
  .paragraph,
  .link {
    position: relative;
    .edit {
      height: 30px;
      width: 30px;
      padding: 0;
      border-radius: 15px;
      background: no-repeat 6px 6px / 16px $C_CLAIR;
      background-image: inline("feather-icons/dist/icons/edit-3.svg");
      text-indent: -9999em;
    }
    .actions {
      position: absolute;
      bottom: -22px;
      right: 15px;
      button {
        visibility: hidden;
        &:hover {
          background-color: $C_FONCE;
        }
      }
    }
    &:hover {
      background-color: #e0e0e0;
      .actions button {
        visibility: visible;
      }
    }
  }
  #redaction-infos {
    .inbox p {
      margin: 2px 0;
    }
  }
  #redaction-aside, #redaction-infos{
    padding-left: 3px;
    padding-right: 3px;
    background: transparent;
    border: none;
    width: 19%;
    font-size: 0.8em;
    >h1, #news_vote h1 {
      font-size:1.5em;
      line-height:1.3em;
      font-weight: normal;
      background: no-repeat 0px 1.65rem / 2rem transparent;
      background-image: url("/images/icones/underline.png");
      background-image: url("/images/icones/underline.svg"), none;
      padding-bottom: 5px;
    }
    #second_part_toc h2 {
      display:none;
    }
    ul {
      padding-left:2em;
    }
    details {
      margin: 1em 0;
    }
    summary {
      font-size: 1.2em;
      font-weight: bold;
    }
    .attendee {
      display: -ms-flexbox;
      display: flex;
      align-items: center;
    }
    .attendee-name {
      margin-left: 5px;
    }
    .attendee a {
      display: inline-block;
      position: relative;
      width: 48px;
      height: 48px;
      margin: 6px;
      img {
        max-height: 100%;
      }
      form {
        position: absolute;
        bottom: 0;
        right: 0;
        input {
          margin: 0;
        }
      }
    }
  }
}
#news_board .board #board_message {
  width: 95%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#redaction .markItUpHeader .link {
  padding-left: 0;
}

.markdown_cheatsheet img.markdown {
  float: left;
  margin: 12px 25px 0 0;
}

.vertical-align-top td {
  vertical-align: top;
}

.tr-section td {
  padding-top: 1em;
}

.tab-header-container {
  display: -ms-flexbox;
  display: flex;
  .tab {
    margin-right: 16px;
    margin-bottom: 16px;
    font-size:1.5em;
    line-height:1.3em;
    background: no-repeat 0px 1.65rem / 2rem transparent;
    background-image: url("/images/icones/underline.png");
    background-image: url("/images/icones/underline.svg"), none;
    padding-bottom: 5px;
    &:not([data-show-content]) {
      background-image: url("/images/icones/not-active-underline.png");
      background-image: url("/images/icones/not-active-underline.svg"), none;
    }
  }
}
.tab-content:not([data-show-content]) {
  display: none;
}
