/* reset pour form css, sinon une boite par css */
#stylesheets-edit #contents > form {
  display: inherit;
  background: inherit;
  padding: 2px 0 2px 0;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  font-size: inherit;
}

body#sections-index .body {
  overflow: hidden;
  .section {
    float: left;
    width: 120px;
    height: 120px;
  }
}

body#sections-index #contents,
body#admin-index #container > ul,
body#wiki_pages-changes #contents {
  a[href] {
    @include lien_standard;
  }
}
