#sidebar {
  float: left;
  width: $PX_BRANDING_LARG;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.3;
  background: $C_CLAIR;

  a {
    font-weight: inherit;
  }

  /* image DLFP */
  #branding h1 {
    display: block;
    height: 0;
    padding: 100% 0 0 0; /* padding % are defined relative to the element's width. */
    margin: 0;
    position: relative;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;

    a {
      position: absolute;
      display: block;
      /* chiffre magique qui marche sous firefox et opera */
      margin-top: -17px;
      text-indent: -9999em;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  /* Les boîtes login, wiki, moderation */
  .box {
    min-height: 110px;
    border-bottom: 1px solid $C_INTER;
    padding: 0 3px 10px 5px;

    /* juste une ligne devant les listes */
    ul {
      padding-left: 0;
    }
    li {
      list-style: none;
      margin-left: 5px;
      padding-left: 5px;
      border-left: solid 1px $C_INTER;
      &.forum span {
        font-weight: bold;
      }
    }

    > a {
      display: block;
      padding-left: 5px;
      padding-bottom: 5px;
    }

    /* pas de ligne sous la dernière boite */
    &:last-child {
      border-bottom: none;
      padding-bottom: $RAY_SIDEBAR;
    }

    /* rotation du titre de la boîte */
    h1 {
      display: inline-block;
      text-align: center;
      font-size: 1em;
      color: white;
      background: $C_FONCE;
      max-width: 80%;
      padding: 4px 10px 4px 10px;
      transform-origin: left top;
      transform: rotate(-90deg) translate(-100%, -100%) translate(-3px, -5px);
    }
    h1 + h2 {
      margin-top: -1.2em;
    }
    h1 + * {
      margin-top: -2em;
    }

    span.score {
      color: #333;
      &:before {
        content: " [";
      }
      &:after {
        content: "] ";
      }
    }

    .abusers li {
      overflow: hidden;
      text-overflow: ellipsis;
    }

	.button_to input, button.more {
	  font-size: .8rem;
	  width: 190px;
	  padding: 0 0 0 20px;
	}
  }

  #logout {
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    padding: 0;
    margin-left: -3px;
    &:hover {
      background-color: $C_CLAIR;
      text-decoration: underline;
    }
  }

  .new_content a {
    font-size: 1em;
    line-height: 1.5;
  }
}
