.tab-header-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flwx-wrap: wrap;
  flex-wrap: wrap;
  .tab {
    font-size: 1.5em;
    line-height: 1.3em;
    cursor: pointer;
    // Use background to display a little border below tabs
    background: no-repeat 0px 1.65rem / 4ex transparent;
    background-image: url("/images/icones/underline.png");
    background-image: url("/images/icones/underline.svg"), none;
    padding-bottom: 5px;
    margin-right: 10px;
    // For tabs not active, show an alternative background
    &:not([data-show-content]) {
      background-image: url("/images/icones/not-active-underline.png");
      background-image: url("/images/icones/not-active-underline.svg"), none;
    }
  }
}

// Hide all content which are not active
.tab-content:not([data-show-content]) {
  display: none;
}

.tab-content {
  padding: 0 3px;
}
