/* tableau de bord et tracker */
body#trackers-index .toolbox .new_content {
  margin-bottom: 10px;
}
body#dashboard-index #contents table,
body#trackers-index #contents table,
body#applications-index table,
body#registrations-edit table {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0;
  border-collapse: collapse;
  border: 1px solid #666;
  font-size: 0.8rem;

  tr {
    &:nth-child(even) {
      background: $C_CLAIR;
    }
    &:hover {
      background: $C_BD1;
    }
  }
  th {
    background: $C_BD3;
  }
  td,
  th {
    padding: 0.25rem;
    &.left {
      text-align: left;
    }
    &.date {
      white-space: nowrap;
    }
    &.number {
      text-align: right;
    }
  }
  a[href] {
    @include lien_standard;
  }
}
body#applications-index td,
body#registrations-edit td {
  padding: 5px;
}
#tracker,
#my_trackers,
.tracker {
  .fixed,
  .invalid {
    a {
      text-decoration: line-through;
    }
  }
}

// To build scrollable table, we need to wrap them into a container
.table_container {
  max-width: 100%;
  overflow-x: auto;
  td,
  th {
    &.number {
      white-space: nowrap;
    }
  }
}
