#main_board
  =h1 "Tribune"
  = link_to "Version XML", "/board/index.xml"
  %p
    %strong Conditions d'utilisation :
    cette tribune est un espace de discussion soumis aux lois en vigueur
    en France. En conséquence nous vous remercions de surveiller vos
    écrits et de ne pas tenir de propos pénalement répréhensibles. Les
    visiteurs ne tenant pas compte de ces conditions d'utilisation
    verront leurs comptes supprimés. Les propos tenus ici sont publiés
    sous la responsabilité de leurs auteurs respectifs.
  #contents
    = render 'boards'
