= messages_on_error @category

%p
  = form.label :title, 'Titre'
  = form.text_field :title, :autocomplete => 'off', :required => 'required', :spellcheck => 'true', :maxlength => 32
%p
  = form.submit "Enregistrer"
