=h1 "Les catégories"

%p= link_to "Créer une catégorie", new_admin_category_path

- if @categories.empty?
  %p Pas de catégories
- else
  %table
    %tr
      %th Nom
      %th Actions
    - @categories.each do |category|
      %tr
        %th
          = category.title
        %th
          = link_to "Modifier", edit_admin_category_path(category)
          = button_to "Supprimer", [:admin, category], method: :delete, data: { confirm: "Supprimer la catégorie ?" }, class: "delete_button"
