- article_for post do
  %h2
    = link_to(h(post.forum.title), post.forum), ':', link_to(h(post.title), [post.forum, post])
  %p
    = posted_by(post)
  .content
    = sanitize post.body
  %p
    = read_it(post)
