= article_for preview do |c|
  - c.title = "#{link_to("Forum #{preview.forum.title}", preview.forum) if preview.forum} #{link_to preview.title, [preview.forum, preview]}".html_safe
  - c.body  = preview.body
