#contents
  =h1 "Écrire un message"

  %p
    Des <a href="/regles_de_moderation">règles de modération</a> sont applicables aux forums (et au reste du site).

= render "preview", :preview => @post if @preview_mode

= form_for @post, :url => "/posts" do |form|
  = render form

= render 'shared/wiki_help'
