=h1 "Liste des forums"

%p= link_to "Créer un forum", new_admin_forum_path

- if @forums.empty?
  %p Pas de forums
- else
  %table
    %tr
      %th Nom
      %th Actions
    - @forums.each do |forum|
      %tr
        %td
          = link_to forum.title, forum
        %td
          = link_to "Modifier", edit_admin_forum_path(forum)
          = button_to "Supprimer", [:admin, forum], :method => :delete, :confirm => "Supprimer le forum ?"
