%h1 Images externes les plus récentes

- if @images.any?
  %p Images externes les plus récentes
  - @images.each do |image|
    .image
      = image.to_html.html_safe
      - if image.blocked
        = "⛔ Bloquée" if image.blocked
      - else
        = button_to "Bloquer", moderation_image_path(image.encoded_link), method: :delete, data: { confirm: "Confirmez‑vous vouloir bloquer cette image ?" }
- else
  %p Aucune image externe actuellement
