%h1 Images externes les plus récentes

- if @images.any?
  %p Images externes les plus récentes
  %ul
    - @images.each do |image|
      %li.image
        - if image.blocked
          %pre #{image.link.html_safe}
          = "⛔ Bloquée"
        - else
          = image.to_html.html_safe
          = button_to "Bloquer", moderation_image_path(image.encoded_link), method: :delete, data: { confirm: "Confirmez‑vous vouloir bloquer cette image ?" }
- else
  %p Aucune image externe actuellement
