.statistics {
  .stat {
    border-top: 1px solid #4C575F;
    border-bottom: 1px solid #4C575F;
    font-size: x-small;
    background: #F1ABC5;
    &.category { background-color: green; }
    &.opened { background-color: red; }
    &.fixed { background-color: green; }
    &.invalid { background-color: olive; }
    &.month_new { background-color: red; }
    &.remaining { background-color: darkred; }
    &.month_fixed { background-color: green; }
    &.month_invalid { background-color: olive; }
    &.misc { background-color: green; }
    &.account { background-color: olive; }
    &.accountrecent { background-color: green; }
    &.accountinactive { background-color: darkred; }
    &.accountrecentinactive { background-color: red; }
    &.contentdiary { background-color: pink; }
    &.contentpost { background-color: orangered; }
    &.contentnews { background-color: green; }
    &.contenttracker { background-color: lightblue; }
    &.contentpoll { background-color: olive; }
    &.contentwikipage { background-color: orange; }
  }

  span.score {
    color: "#333";
    &:before { content: " ["; }
    &:after  { content: "] "; }
  }

  .top_or_flop {
    float: left;
    width: 48%;
  }
}
