// Autocomplete
$C_CLAIR: #E9E6E4 !default;
$C_INTER: #A99C90 !default;

.ac_loading {
  background: white url('/images/ajax-loader.gif') right center no-repeat;
}
.ac_results {
  background-color: $C_CLAIR;
  border: solid 1px $C_INTER;

  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 5px 5px 30px;
  padding: 5px;

  ul {
    margin: 0;
    padding: 5px;
    li {
      list-style: none;
      cursor: pointer;
    }
  }
}
.ac_odd {
  background-color: #eeeeee;
}
.ac_over {
  background-color: #0a246a;
  color: white;
}
