// Autocomplete
$C_CLAIR: #e9e6e4 !default;
$C_INTER: #a99c90 !default;

.ac_loading {
  background: white url("/images/ajax-loader.gif") right center no-repeat;
}
.ac_results {
  background-color: $C_CLAIR;
  border: solid 1px $C_INTER;
  border-radius: 4px;
  margin: 5px 5px 30px;
  padding: 5px;

  ul {
    margin: 0;
    padding: 5px;
    li {
      list-style: none;
      cursor: pointer;
    }
  }
}
.ac_odd {
  background-color: #eeeeee;
}
.ac_over {
  background-color: #0a246a;
  color: white;
}
