// Flags for the languages
li.link[lang=cn] { list-style-image: url('/images/langs/cn.png'); }
li.link[lang=ct] { list-style-image: url('/images/langs/ct.png'); }
li.link[lang=da] { list-style-image: url('/images/langs/da.png'); }
li.link[lang=de] { list-style-image: url('/images/langs/de.png'); }
li.link[lang=ee] { list-style-image: url('/images/langs/ee.png'); }
li.link[lang=el] { list-style-image: url('/images/langs/el.png'); }
li.link[lang=en] { list-style-image: url('/images/langs/en.png'); }
li.link[lang=es] { list-style-image: url('/images/langs/es.png'); }
li.link[lang=eu] { list-style-image: url('/images/langs/eu.png'); }
li.link[lang=fi] { list-style-image: url('/images/langs/fi.png'); }
li.link[lang=fr] { list-style-image: url('/images/langs/fr.png'); }
li.link[lang=it] { list-style-image: url('/images/langs/it.png'); }
li.link[lang=ja] { list-style-image: url('/images/langs/ja.png'); }
li.link[lang=ko] { list-style-image: url('/images/langs/ko.png'); }
li.link[lang=nl] { list-style-image: url('/images/langs/nl.png'); }
li.link[lang=no] { list-style-image: url('/images/langs/no.png'); }
li.link[lang=pl] { list-style-image: url('/images/langs/pl.png'); }
li.link[lang=pt] { list-style-image: url('/images/langs/pt.png'); }
li.link[lang=ru] { list-style-image: url('/images/langs/ru.png'); }
li.link[lang=sv] { list-style-image: url('/images/langs/sv.png'); }
li.link[lang=xx] { list-style-image: url('/images/langs/xx.png'); }
