= article_for tracker do |c|
  - c.title = link_to "#{tracker.category_title} : #{tracker.title}", tracker
  - if current_user && current_user.can_update?(tracker)
    - c.actions = link_to("Modifier", edit_tracker_path(tracker), :class => 'action')
