/* Color constants */
$C_CLAIR: #E9E6E4;
$C_BANDEAU: #4C575F !default;
$C_FONCE: #877768;
$C_INTER: #93877B;
$C_BAS_FOND: #E4E4E4;
$C_FOOT: #D4D1CF;
$C_MIBLANC_MIFOOT: #E9E8E7;
$C_CONTAINER: #F9F9F9;
$C_MENU: #4C575F;

/*$C_BD1: #F9DEE8;
$C_BD2: #F1ABC5;
$C_BD3: #E978A3;
$C_BD4: #E14E85;
$C_BD5: #D91C64;*/
$C_BD1: transparentize($C_BANDEAU, 0.84);
$C_BD2: transparentize($C_BANDEAU, 0.67);
$C_BD3: transparentize($C_BANDEAU, 0.50);
$C_BD4: transparentize($C_BANDEAU, 0.33);
$C_BD5: transparentize($C_BANDEAU, 0.17);
