@charset "UTF-8";

body { line-height: 1.5; font-family: sans-serif; color: black; background: none; font-size: 10pt; }
.container { background: none; }
code { font-size: 0.9em; font-family: monospace; }
a img { border: none; }
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline; }
blockquote { margin: 1.5em; padding: 1em; font-style: italic; font-size: 0.9em; }
#top, #site, #sidebar, #bigfooter, #toolbar { display: none; }
.hide, .figures, .avatar, .actions, .scroll, .send-comment { display: none; }
.tags ul { display: inline; }
.tags ul li { display: inline; list-style: none outside none; }
.tags ul li:after { content: ", "; }
.tags ul li:last-child:after, .tags ul li .last:after { content: ""; }
