/* Copyright 2010 Eve Schoonbroodt (design) https://www.studiomagenta.be/ */
/* Copyright 2010 Nicolas Schoonbroodt (css) <nicolas@elsewhere.be>      */
/* Distributed under GNU AGPL v3 License                                 */

@import "normalize.css/normalize";

/* Required color constants */
$C_SOMBRE: #747474 !default;

/* Pixel size constants */
$PX_MARGE_GAUCHE: 42px;
$PX_MARGE_DROITE: 30px;
$PX_BANDEAU: 7px;
$PX_BRANDING_LARG: 201px;
$PX_SITE_PAD_DROIT: 42px;
$PX_CONT_TOP: 34px;

$PX_MARGE_GAUCHE_SHA: 50px;
$PX_MARGE_DROITE_SHA: 38px;
$PX_PAD_NODE: 34px;

$RAY_SIDEBAR: 42px;
$RAY_CONTAINER: 62px;
$RAY_FOOT: 7px;
$RAY_NODE: 3px;

$PC_FOOT_MARG: 0.7%;
$PC_FOOT_WIDTH: 23%;

/* = PAD_NODE + RAY_CONTAINER */
$BOX_TRANSLATION: $PX_PAD_NODE + $RAY_CONTAINER;
$BORDER_CONTENT: 1px;
$BORDER_PHARE: 2px;
$fleche_offset_vertical: 30px;

/* un lien bleu/rouge visité normal */
@mixin lien_standard {
  color: #0000ee;
  font-weight: inherit;
  &:hover {
    text-decoration: inherit;
  }
  &:visited {
    color: #551a8b;
  }
}

@import "parts/*";
@import "responsive/*";
@import "common/*";
@import "pygments/colorful";
