<p>Bonjour <%= @resource.email %>,</p>

<p>Quelqu'un a demandé un lien pour changer votre mot de passe, et vous pouvez faire cela avec le lien ci-dessous :</p>

<p><%= link_to 'Changer de mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Votre mot de passe ne sera pas modifié tant que vous ne suivrez pas ce lien et que vous en créez un autre.</p>
