<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Maintenance de LinuxFr.org</title>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
  <style type="text/css">
    body { background-color: #fff; }
		div { text-align: center; }
    p { color: #333; }
    h1 { color: red; }
    .outer { width: 600px; height: 300px; margin: 200px auto; padding: 10px; border: 1px solid #ccc; border-color: #ccc #999 #999 #ccc; }
    pre { width: 150px; float: left; text-align: left; }
    .inner { width: 360px; margin: 0 30px; float: right; }
  </style>
</head>

<body id="maintenance">
  <div class="outer">
    <pre>
 _________________ 
/ Nous sommes     \
|                 |
|   bientôt       |
|                 |
\     de retour.  /
 -----------------
         \
          \
              .--.
             |o_o |
             |:_/ |
            //   \ \
           (|     | )
          /'\_   _/`\
          \___)=(___/
    </pre>
    <div class="inner">
      <h1>Maintenance</h1>
      <p>Le site est actuellement en maintenance depuis <%= Time.now.strftime("%H:%M") %> et n'est donc pas accessible.</p>
      <% if reason %>
      <p>Raison : <%= reason %>.</p>
      <% end %>
      <p>Il devrait revenir <%= deadline || "très rapidement" %>.</p>
    </div>
  </div>
</body>
