/*
 * Adaptation of LinuxFr.org's default stylesheet to carry
 * the colors of Plee the Bear.
 *
 * author: Julien Jorge <julien.jorge@stuff-o-matic.com>
 * license: CC-by-sa 3.0
 */
@import url("/assets/application.css");

#branding h1 {
    background-image: url("/images/contrib/plee_the_bear/logo.png") !important;
}

.avatar[src$="/default-avatar.png"] {
    background-image: url("/images/contrib/plee_the_bear/avatar.png") !important;
}

#bigfooter section, #bigfooter nav {
    background-image: none;
}

#sidebar {
    background-color: rgb( 249, 193, 41 );
    background-image: url("/images/contrib/plee_the_bear/logo-stuffomatic.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding-bottom: 80px;
}

#bigfooter {
    border-top: 1px solid rgb( 165, 108, 0 );
    background-image: -moz-linear-gradient(center top , rgb(252, 244, 220) 0%, rgb(249, 193, 41) 100%);
    background: -webkit-gradient(linear, center top, center bottom, from(rgb(252, 244, 220)), to(rgb(249, 193, 41)));
}

#phare article, article h1 {
    border-color: rgb( 165, 108, 0 );
}

#phare article {
    border-radius: 6px;
}

#top {
    background-color: rgb( 165, 108, 0 );
}

#site {
    background-image: linear-gradient( to right, rgb(252, 244, 220), rgb(250, 223, 147) 201px, rgb( 249, 193, 41 ) 50% );
    color: rgb( 165, 108, 0 );
}

html {
    background-color: rgb( 57, 36, 4 );
    background-image: none;
}

body {
    background-color: rgb( 252, 244, 220 );
    box-shadow: 4px 0px 4px rgb(0, 0, 0), -4px 0px 4px rgb(0, 0, 0);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

input.create_news[type="submit"] {
    font-size: 100%;
}

#container {
    background-color: rgb(252, 244, 220);
}

form input#logout[type="submit"], button#logout, button.unread, button.relevant, button.useless {
    background-color: rgb(252, 244, 220);
}

.edit_client_app a, .new_content a, form input[type="submit"], button{
    background-color: rgb(252, 244, 220);
}

form input.unread[type="submit"], form input.relevant[type="submit"], form input.useless[type="submit"], article .meta, footer.actions .action, .new_comments a, .vote, .read, .no_comments, .toolbox, .scroll, li.comment > p.meta {
    color: rgb( 57, 36, 4 );
}

#contents > form, #wiki_help, form#new_post {
    border: none;
    background: none;
}

.markItUpContainer, .markItUp {
    border: none;
}

.markItUpEditor {
    background-color: rgb(252, 249, 242);
    border: 1px solid rgb( 165, 108, 0 );
    border-radius: 6px;
}

.markdown_cheatsheet {
    background-color: rgb(252, 249, 242);
    border: none;
}

input#tags {
    width: 95%;
}

article .datePourCss, #sidebar .box h1 {
    background-color: rgb( 97, 161, 89 );
    border: none;
}

article .score {
    background-color: rgb( 207, 218, 205 );
    border: none;
}

article, ul.threads > li.comment {
    /*background-color: rgb(252, 249, 242);*/
    background-color: rgb( 252, 244, 220 );
    border: none;
    border-bottom: 1px solid rgb(207, 218, 205);
    border-radius: 0;
}

li.comment h2 {
    background-color: rgb(207, 218, 205);
}

.banner {
    background-color: rgba(207, 218, 205, 0.33);
    box-shadow: 0px 0px 65px rgb(255, 255, 255) inset, 0px 0px 20px rgba(207, 218, 205, 0.33) inset;
    border-top: 2px solid rgb(207, 218, 205);
    border-bottom: 2px solid rgb(207, 218, 205);
}
