%head
  %meta(charset="utf-8")
  %title= @title.join(' - ').html_safe
  = stylesheet_link_tag 'application', media: nil
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
  %meta(name="viewport" content="width=device-width")
  - if @author
    %meta(name="author" content=@author)
  %meta(name="description" content=@description)
  %meta(name="keywords" content="#{@keywords.join ', '}")
  - if @dont_index
    %meta(name="robots" content="noindex, nofollow")
  - @feeds.each do |link,title|
    = auto_discovery_link_tag :atom, link, { title: title }
