#sopa-overlay
  .box
    .inner
      %img(src="/images/historique/sopa.png" alt="")
      %p Les contenus non-conformes à la législation en vigueur <b>(Stop Online Piracy Act, SOPA, 2012)</b> ont été masqués.
      %p Merci de votre compréhension.
      %p Bonne visite !
